<m-toolbar tabbar labels>
  <m-link
    class="flex flex-col items-center justify-center pl-4 "
    tabLinkActive
    text="Home"
    src="/fimgs/I1484_2273_1484_2217.x1.svg"
  >
    {/*<div class="flex items-start justify-start">*/}
    {/*<img*/}
    {/*src="/fimgs/I1484_2273_1484_2217.x1.svg"*/}
    {/*style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"*/}
    {/*/>*/}
    {/*</div>*/}
    {/*<div class="text-xs font-medium tracking-wide leading-none text-gray-400 ">*/}
    {/*Home*/}
    {/*</div>*/}
  </m-link>
  <m-link
    href="/m/login"
    text="Tab 2"
    iconIos="f7:calendar_fill"
    iconAurora="f7:calendar_fill"
    iconMd="material:today"
  ></m-link>
  <m-link
    tabLink="#tab-3"
    text="Tab 3"
    iconIos="f7:cloud_upload_fill"
    iconAurora="f7:cloud_upload_fill"
    iconMd="material:file_upload"
  ></m-link>
</m-toolbar>