<>
  <m-navbar class="fixed top-0 bg-red">f</m-navbar>
  <m-page>
    {" "}
    <div class="block-title">Validation + Additional Info</div>
    <div class="list no-hairlines-md">
      <ul>
        <li class="item-content item-input item-input-with-info">
          <div class="item-media">
            <i class="icon demo-list-icon"></i>
          </div>
          <div class="item-inner">
            <div class="item-title item-label">Name</div>
            <div class="item-input-wrap">
              <input type="text" placeholder="Your name" required validate />
              <span class="input-clear-button"></span>
              <div class="item-input-info">Default "required" validation</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </m-page>
  <m-toolbar class="fixed bottom-0">dc</m-toolbar>
</>