<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50 overflow-y-auto pb-28">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start px-6">
        <div class="flex self-stretch items-start justify-between pt-4">
          <div class="flex items-center justify-start bg-white shadow rounded-lg">
            <div class="flex flex-col space-y-1 items-start justify-start p-2">
              <div class="text-sm font-medium tracking-wide leading-tight text-gray-500">
                Open
              </div>
              <div class="text-lg font-medium tracking-wide leading-relaxed text-gray-500">
                1
              </div>
            </div>
            <img
              src="/fimgs/881_4181.x3.png"
              style="width: 10px; min-width: 10px; max-width: 10px; height: 68px; min-height: 68px; max-height: 68px;"
            />
          </div>
          <div class="flex items-center justify-start bg-white shadow rounded-lg">
            <div class="flex flex-col space-y-1 items-start justify-start p-2">
              <div class="text-sm font-medium tracking-wide leading-tight text-gray-500">
                In Progress
              </div>
              <div class="text-lg font-medium tracking-wide leading-relaxed text-gray-500">
                4
              </div>
            </div>
            <img
              src="/fimgs/881_4188.x3.png"
              style="width: 10px; min-width: 10px; max-width: 10px; height: 68px; min-height: 68px; max-height: 68px;"
            />
          </div>
          <div class="flex items-center justify-start bg-white shadow rounded-lg">
            <div class="flex flex-col space-y-1 items-start justify-start p-2">
              <div class="text-sm font-medium tracking-wide leading-tight text-gray-500">
                Resolved
              </div>
              <div class="text-lg font-medium tracking-wide leading-relaxed text-gray-500">
                3
              </div>
            </div>
            <img
              src="/fimgs/881_4195.x3.png"
              style="width: 10px; min-width: 10px; max-width: 10px; height: 68px; min-height: 68px; max-height: 68px;"
            />
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
          <div class="flex self-stretch items-center justify-start">
            <div class="flex items-start justify-start p-2">
              <div class="text-sm tracking-wide leading-tight text-gray-700">
                Ticket by Type:
              </div>
            </div>
            <div class="flex flex-1 items-center justify-start border rounded-lg border-gray-500">
              <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                  November 2021
                </div>
              </div>
              <div class="flex flex-col items-center justify-center transform -rotate-90">
                <div
                  class="transform rotate-90"
                  style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
          </div>
          <hr class=" w-full mt-4 pb-4"></hr>
          <div class="container">
            <doghnutchart-m-type />
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-3 items-start justify-start p-3 bg-white shadow rounded-lg">
          <div class="flex self-stretch flex-col space-y-3 items-center justify-start">
            <div class="flex flex-col items-center justify-start">
              <div class="text-sm tracking-wide leading-tight text-center text-gray-700">
                Total Tickets
              </div>
            </div>
            <div class="flex items-center justify-start border rounded-lg border-gray-500">
              <div class="flex items-start justify-start px-4 py-2 rounded-lg">
                <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                  2021
                </div>
              </div>
              <div class="flex flex-col items-center justify-center transform -rotate-90">
                <div
                  class="transform rotate-90"
                  style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <div class="flex items-start justify-start" />
          </div>
          <hr class=" w-full mt-4 pb-4"></hr>
          <div class="container mb-96	">
            <barchart-m-totalticket />
          </div>
        </div>
      </div>
    </div>
  </div>
</>