<>
  <effect
    meta={{}}
    run={async () => {
      meta.action = {
        edit: (e) => {
          window.location.replace("/m/edit-profile");
        },
        change: (e) => {
          window.location.replace("/m/change-pass");
        },
        signout: (e) => {
          window.mobileApp.app.dialog.preloader(),
            setTimeout(function () {
              window.mobileApp.app.dialog.close();
            }, 1500);
          window.location.replace("/m/login");
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start px-6 py-2.5">
        <div class="flex self-stretch items-center justify-start">
          <div class="flex items-center justify-start p-2">
            <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
              PROFILE
            </div>
          </div>
        </div>
        <m-cardcontent class="flex self-stretch flex-col space-y-6 items-start justify-start p-6 bg-white shadow rounded-lg">
          <div class="flex self-stretch space-x-6 items-center justify-start">
            <div class="flex items-start justify-start ">
              <img
                src="/fimgs/1036_1754.x2.png"
                style="width: 80px;  height: 80px; "
              />
            </div>
            <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
              <div class="text-3xl font-medium tracking-wide leading-10 text-gray-700">
                Han Solo
              </div>
              <div class="text-sm tracking-wide leading-tight text-red-900">
                han.solo@startrek.com
              </div>
            </div>
          </div>
          <m-list-item class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="flex self-stretch space-x-5 items-start justify-start">
              <ul>
                <li>
                  <div class="flex flex-1 mb-2">
                    <div
                      class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-500"
                      style="width:80px;"
                    >
                      Username
                    </div>
                    <div class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-700">
                      startrek11
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex flex-1 mb-2">
                    <div
                      class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-500"
                      style="width:80px;"
                    >
                      Company
                    </div>
                    <div class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-700">
                      Startrek Ent.
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex flex-1 mb-2">
                    <div
                      class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-500"
                      style="width:80px;"
                    >
                      Phone
                    </div>
                    <div class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-700">
                      012345678
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex flex-1">
                    <div
                      class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-500"
                      style="width:80px;"
                    >
                      Address
                    </div>
                    <div class="flex items-start justify-start p-1 text-sm tracking-wide leading-tight text-gray-700">
                      California
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </m-list-item>
        </m-cardcontent>
        <m-button
          class="flex flex-1 items-center justify-center px-4 py-2 bg-red-900 shadow-lg rounded-full w-full text-sm font-medium tracking-wide leading-tight text-white"
          style=" height: 37px; "
          onClick={() => {
            meta.action.edit();
          }}
        >
          Edit Profile
        </m-button>

        <m-button
          class="flex flex-1 items-center justify-center px-4 py-2 bg-red-900 shadow-lg rounded-full w-full text-sm font-medium tracking-wide leading-tight text-white"
          style="height: 37px;"
          onClick={() => {
            meta.action.change();
          }}
        >
          Change Password
        </m-button>

        <m-button
          class="flex flex-1 items-center justify-center px-4 py-2 bg-white shadow-lg border rounded-full border-red-900 w-full text-sm font-medium tracking-wide leading-tight text-red-900"
          onClick={() => {
            meta.action.signout();
          }}
        >
          Sign out
        </m-button>
      </div>
    </div>
  </div>
</>