<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50 h-stretch">
    <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-3">
          <div class="flex self-stretch flex-col space-y-3 items-center justify-start py-1 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between px-3 py-2 rounded-lg">
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET - VIEW TICKET
              </div>
              <div class="flex space-x-3 items-center justify-start">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Status:
                </div>
                <div class="flex items-start justify-center px-3 py-1 bg-red-500 rounded-lg">
                  <div class="text-xs font-medium tracking-wide leading-none text-white">
                    IN PROGRESS
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-3">
              <div class="flex space-x-2.5 items-center justify-start">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Ticket Type:
                </div>
                <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                  Maintenance ticket
                </div>
              </div>
            </div>
          </div>

          <div class="flex self-stretch flex-col space-y-6 items-start justify-start p-2 bg-white shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <img
                    src="/fimgs/907_1561.x3.png"
                    style="width: 44px; min-width: 44px; max-width: 44px; height: 46px; min-height: 46px; max-height: 46px;background-image: url('/fimgs/bg-57fb28d4e5806027cbc1f1d9326b9965c9861ee1');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Han Solo
                      </div>
                      <div class="text-xs font-medium tracking-wide leading-none text-center text-gray-700">
                        Submitted
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        han.solo@startrek.com
                      </div>
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        19/10/2021 19:20
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start p-2.5 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-800">
                    Subject: My server down for several minutes.
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2.5 border rounded-bl-lg rounded-br-lg border-gray-300">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Something happen with my website hosting, please fix it.
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-start">
              <img
                src="/fimgs/701_1322.x3.png"
                style="width: 276px; min-width: 276px; max-width: 276px; height: 161px; min-height: 161px; max-height: 161px;background-image: url('/fimgs/bg-62768f691e4efd5728e33100aa3376a517301aef');background-size:100% 100%;background-repeat:no-repeat;"
              />
              <div class="text-xs tracking-wide leading-none text-gray-700">
                image 1.png
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start p-2 bg-gray-100 shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-end">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Imam Kurfian
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        21/10/2021 10:20
                      </div>
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        imam.12@tech.com
                      </div>
                    </div>
                  </div>
                  <img
                    src="/fimgs/907_1562.x3.png"
                    class="flex items-start justify-center shadow rounded-full"
                    style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;"
                  />
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-gray-700">
                  Disable your wordpress plugins.
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-start justify-start bg-white shadow rounded-lg">
            <div class="flex flex-1 flex-col items-start justify-start px-6 py-3">
              <div class="flex self-stretch flex-col space-y-3 items-center justify-start">
                <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
                    <div class="flex self-stretch items-start justify-start px-3 py-2 border rounded-lg border-gray-500">
                      <div class="text-sm tracking-wide leading-tight text-gray-700">
                        Lorem ipsum.
                      </div>
                    </div>
                    <div class="flex self-stretch items-start justify-start">
                      <div class="flex flex-1 items-start justify-start">
                        <div class="flex items-center justify-center px-2.5 py-2 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-500">
                          <div class="text-sm tracking-wide leading-tight text-gray-700">
                            Select File
                          </div>
                        </div>
                        <div class="flex flex-1 items-center justify-start py-2 pl-5 pr-2.5 border rounded-tr-lg rounded-br-lg border-gray-500">
                          <div class="text-sm tracking-wide leading-tight text-gray-700">
                            No File Selected
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-xs tracking-wide leading-none text-gray-500">
                    Allowed File Extensions: .jpg, .gif, .jpeg, .png, .pdf,
                    .zip, .csv, .sql, .tar, .gz
                  </div>
                </div>
                <m-link
                  class="flex space-x-3 items-center justify-start px-3 py-2 bg-red-900 rounded-full"
                  href="/m/dashboard"
                >
                  <div class="text-sm font-medium tracking-wide leading-tight text-white">
                    send
                  </div>
                  <div class="flex items-center justify-center">
                    <img
                      src="/fimgs/712_1154.x1.svg"
                      style="width: 10px; min-width: 10px; max-width: 10px; height: 10px; min-height: 10px; max-height: 10px;background-image: url('/fimgs/bg-2bfa9fe2ca84d0e11b66dd721fd0a69eac8f96bb');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </m-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>