<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start">
      <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start py-6 bg-red-900">
        <div class="flex items-center justify-between px-6">
          <div class="flex flex-col items-center justify-center p-1">
            <img
              src="/fimgs/1710_2169.x3.png"
              style="width: 76.37px; min-width: 76.37px; max-width: 76.37px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/1904_1771.x3.png"
              style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-df50cf379b61fb6bdded72663e1bbe3a40f64df5');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-6 items-center justify-start p-6">
          <div class="flex self-stretch flex-col items-start justify-start">
            <img
              src="/fimgs/1708_2140.x3.png"
              class="flex items-start justify-start"
              style="width: 356.04px; min-width: 356.04px; max-width: 356.04px; height: 300px; min-height: 300px; max-height: 300px;"
            />
          </div>
          <div class="flex self-stretch flex-col space-y-9 items-start justify-start p-3">
            <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xl font-medium tracking-wide leading-loose text-white">
                  Connected With Your Customer Getting Easier With Us
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-sm font-medium tracking-wide leading-tight text-justify text-gray-300">
                  Androdesk is a helpdesk-ticketing service with features that
                  can help organize, track, and integrate customer and the
                  company to solve customer’s problems.
                </div>
              </div>
            </div>
            <button
              class="flex items-center justify-start px-3 py-2 bg-white shadow rounded"
              style="width: 105px; min-width: 105px; max-width: 105px; height: 37px; min-height: 37px; max-height: 37px;"
            >
              <div class="text-sm font-medium tracking-wide leading-tight text-red-900">
                Get Started
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-6 items-center justify-center px-6 py-3">
        <div class="flex items-start justify-start">
          <img
            src="/fimgs/1710_2185.x3.png"
            class="rounded"
            style="width: 282.04px; min-width: 282.04px; max-width: 282.04px; height: 220px; min-height: 220px; max-height: 220px;background-image: url('/fimgs/bg-1acb039591dc2e589363ccc33cd8d06ad79986cf');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex flex-col items-start justify-start py-2.5 pr-2.5">
              <div class="flex items-start justify-center">
                <div class="flex flex-col space-y-1 items-start justify-start">
                  <div class="text-xl font-medium tracking-wide leading-loose text-red-900">
                    About Us
                  </div>
                  <img
                    src="/fimgs/1710_2206.x3.png"
                    style="width: 90px; min-width: 90px; max-width: 90px; height: 3px; min-height: 3px; max-height: 3px;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-justify text-gray-700">
                A helpdesk ticketing system collects, organizes, and tracks all
                of your customer support queries from various channels and
                manages them from one place. With their ability to streamline
                processes, organize information, and simplify interactions,
                helpdesks prevent important requests from slipping through the
                cracks.
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-gray-800">
                Trusted Company
              </div>
            </div>
            <div class="flex self-stretch items-center justify-between px-6">
              <img
                src="/fimgs/1710_2196.x3.png"
                class="flex flex-col items-start justify-start"
                style="width: 33.68px; min-width: 33.68px; max-width: 33.68px; height: 10px; min-height: 10px; max-height: 10px;"
              />
              <img
                src="/fimgs/1710_2198.x3.png"
                class="flex items-start justify-start"
                style="width: 26.84px; min-width: 26.84px; max-width: 26.84px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <img
                src="/fimgs/1710_2200.x3.png"
                class="flex flex-col items-start justify-start"
                style="width: 35.47px; min-width: 35.47px; max-width: 35.47px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <img
                src="/fimgs/1710_2202.x3.png"
                class="flex flex-col items-start justify-start"
                style="width: 155.44px; min-width: 155.44px; max-width: 155.44px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-6 items-start justify-start px-3">
        <div class="flex self-stretch items-start justify-start p-3">
          <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
            <div class="text-xl font-medium tracking-wide leading-loose text-red-900">
              Our Features
            </div>
            <img
              src="/fimgs/1726_2125.x3.png"
              style="width: 120px; min-width: 120px; max-width: 120px; height: 3px; min-height: 3px; max-height: 3px;"
            />
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start px-3">
          <div class="text-xs tracking-wide leading-none text-justify text-gray-700">
            We bring the best service to all your company needs to eliminate
            boundaries between you and your customers.
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-6 items-center justify-start px-3">
          <div
            class="flex self-stretch items-start justify-start rounded-lg"
            style="background-image: url('/fimgs/bg-cc7ccc8cb1581cfd9036cdf9dc930d6f58a30058');background-size:100% 100%;background-repeat:no-repeat;"
          >
            <div class="flex flex-1 self-stretch items-start justify-start opacity-80 bg-blue-700">
              <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3">
                <img
                  src="/fimgs/1726_2131.x3.png"
                  style="width: 128.18px; min-width: 128.18px; max-width: 128.18px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-019cf5c308e0822504b4170d334f851ac87a74c8');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-medium tracking-wide leading-normal text-white">
                    All In One Communication
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-justify text-white">
                    Customers can get the most convenient and fastest service
                    and when they want to communicate with the company.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex self-stretch items-start justify-start rounded-lg"
            style="background-image: url('/fimgs/bg-2aa6929f900837e5c222ee534bd758d6980a21b9');background-size:100% 100%;background-repeat:no-repeat;"
          >
            <div class="flex flex-1 self-stretch items-start justify-start opacity-80 bg-yellow-600">
              <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3">
                <img
                  src="/fimgs/1726_2139.x3.png"
                  style="width: 152.34px; min-width: 152.34px; max-width: 152.34px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-a646185b73e702ef6c8bd9994b013df98100139e');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-medium tracking-wide leading-normal text-white">
                    Advanced Integration
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-justify text-white">
                    Everything is integrated and everyone can easily track the
                    status and process. Employees will directly help the
                    customer to solve the customer’s problem.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex self-stretch items-start justify-start rounded-lg"
            style="background-image: url('/fimgs/bg-6c3eb9ba9095b66144ab60835a860a79e4794a12');background-size:100% 100%;background-repeat:no-repeat;"
          >
            <div class="flex flex-1 self-stretch items-start justify-start opacity-80 bg-green-800">
              <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3">
                <img
                  src="/fimgs/1726_2147.x3.png"
                  style="width: 133.68px; min-width: 133.68px; max-width: 133.68px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-616c7b56fbb56d6d73cf671d0a6e5e74faa2d1bf');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-medium tracking-wide leading-normal text-white">
                    Simple and Affordable
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-justify text-white">
                    With a simple design, everyone can access this service
                    wihout problems, we provide guides to help users. We give
                    the best price with the best service.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-start px-6 py-3">
        <div class="flex self-stretch flex-col space-y-3 items-center justify-start px-6 pt-3 pb-4 bg-red-900 rounded-lg">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm font-medium tracking-wide leading-tight text-justify text-white">
              Want to know our pricing for this software? Don’t hasitate to
              contact us.
            </div>
          </div>
          <div class="flex space-x-6 items-start justify-start">
            <button
              class="flex items-center justify-center py-2 bg-white shadow rounded"
              style="width: 120px; min-width: 120px; max-width: 120px; height: 37px; min-height: 37px; max-height: 37px;"
            >
              <div class="text-sm font-medium tracking-wide leading-tight text-red-900">
                Contact Us
              </div>
            </button>
            <div class="flex items-center justify-center border rounded border-white">
              <button
                class="flex space-x-2.5 items-center justify-start py-2 rounded"
                style="width: 79px; min-width: 79px; max-width: 79px; height: 37px; min-height: 37px; max-height: 37px;"
              >
                <img
                  src="/fimgs/1726_2165.x3.png"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-2929cc9f14581955b410eda7ff80e27eef16a14a');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="text-sm font-medium tracking-wide leading-tight text-white">
                  Call Us
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-center p-3 bg-red-900">
        <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-2 items-center justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs font-medium tracking-wide leading-none text-center text-white">
                Connect with us
              </div>
            </div>
            <div class="flex self-stretch space-x-6 items-start justify-center">
              <img
                src="/fimgs/1726_2181.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <img
                src="/fimgs/1726_2183.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <img
                src="/fimgs/1726_2185.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <img
                src="/fimgs/1726_2187.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 26.67px; min-width: 26.67px; max-width: 26.67px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <img
                src="/fimgs/1726_2189.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-center text-gray-200">
                  © AndroDESK Inc. All right reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>