<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex self-stretch items-start justify-start px-9 pt-9 pb-3 bg-red-900">
        <div class="flex flex-1 self-stretch flex-col space-y-16 items-end justify-start">
          <div class="flex self-stretch items-center justify-between px-16">
            <img
              src="/fimgs/1728_2069.x3.png"
              class="flex flex-col items-center justify-center p-1"
              style="width: 130.19px; min-width: 130.19px; max-width: 130.19px; height: 48px; min-height: 48px; max-height: 48px;"
            />
            <div class="flex space-x-6 items-start justify-start">
              <div class="flex flex-col space-y-2.5 items-center justify-start p-2.5 rounded-full">
                <div class="text-base font-medium tracking-wide leading-normal text-white">
                  Home
                </div>
                <div />
              </div>
              <div class="flex items-start justify-center p-2.5 rounded-full">
                <div class="text-base font-medium tracking-wide leading-normal text-white">
                  About Us
                </div>
              </div>
              <div class="flex items-start justify-center p-2.5 rounded-full">
                <div class="text-base font-medium tracking-wide leading-normal text-white">
                  Feature
                </div>
              </div>
              <div class="flex items-start justify-center p-2.5 rounded-full">
                <div class="text-base font-medium tracking-wide leading-normal text-white">
                  Contact
                </div>
              </div>
            </div>
            <div class="flex items-center justify-start rounded">
              <button style="width: 126px; min-width: 126px; max-width: 126px; height: 48px; min-height: 48px; max-height: 48px;" />
            </div>
            <div class="flex space-x-4 items-start justify-start">
              <img
                src="/fimgs/1904_1760.x3.png"
                style="width: 33.33px; min-width: 33.33px; max-width: 33.33px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-e528ee83701248ea26a7a8d1632a9397a025d7dd');background-size:100% 100%;background-repeat:no-repeat;"
              />
              <img
                src="/fimgs/1904_1761.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;"
              />
            </div>
          </div>
          <div class="flex flex-1 self-stretch space-x-8 items-start justify-start p-6">
            <div class="flex flex-1 flex-col space-y-9 items-start justify-start px-12 pt-12">
              <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-5xl font-medium tracking-wide leading-tight text-white">
                    Connected With Your Customer Getting Easier With Us
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-lg font-medium tracking-wide leading-relaxed text-justify text-gray-300">
                    Solving problems with the best and cheapest service? We got
                    you. Androdesk is a helpdesk-ticketing service with features
                    that can help organize, track, and integrate customer and
                    the company to solve customer’s problems.
                  </div>
                </div>
              </div>
              <button
                class="flex items-center justify-start pl-7 py-3 bg-white shadow rounded"
                style="width: 141px; min-width: 141px; max-width: 141px; height: 48px; min-height: 48px; max-height: 48px;"
              >
                <div class="text-base font-medium tracking-wide leading-normal text-red-900">
                  <a href="/login">Try Demo</a>
                </div>
              </button>
            </div>
            <img
              src="/fimgs/1728_2084.x3.png"
              class="flex flex-col items-start justify-start"
              style="width: 593.41px; min-width: 593.41px; max-width: 593.41px; height: 500px; min-height: 500px; max-height: 500px;"
            />
          </div>
        </div>
      </div>
      <div class="flex self-stretch space-x-16 items-center justify-center pl-60 pr-16 pt-44 pb-32">
        <div class="flex items-start justify-start">
          <img
            src="/fimgs/1728_2089.x3.png"
            class="rounded"
            style="width: 347.76px; min-width: 347.76px; max-width: 347.76px; height: 420px; min-height: 420px; max-height: 420px;background-image: url('/fimgs/bg-1acb039591dc2e589363ccc33cd8d06ad79986cf');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex flex-1 flex-col space-y-6 items-start justify-start pr-16">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="flex flex-1 flex-col space-y-3 items-start justify-start">
                <div class="text-3xl font-medium tracking-wide leading-10 text-red-900">
                  About Us
                </div>
                <img
                  src="/fimgs/1728_2095.x3.png"
                  style="width: 138px; min-width: 138px; max-width: 138px; height: 5px; min-height: 5px; max-height: 5px;"
                />
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start pr-24">
              <div class="text-sm tracking-wide leading-tight text-justify text-gray-700">
                A helpdesk ticketing system collects, organizes, and tracks all
                of your customer support queries from various channels and
                manages them from one place. With their ability to streamline
                processes, organize information, and simplify interactions,
                helpdesks prevent important requests from slipping through the
                cracks.
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xl font-medium tracking-wide leading-loose text-gray-800">
                Trusted Company
              </div>
            </div>
            <div class="flex self-stretch space-x-12 items-center justify-start">
              <div class="flex flex-col items-start justify-start">
                <img
                  src="/fimgs/1728_2103.x3.png"
                  style="width: 67.36px; min-width: 67.36px; max-width: 67.36px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-0e48ed6b2af91bdc594550339bdb62e83cda793f');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1728_2104.x3.png"
                class="flex items-start justify-start"
                style="width: 49.20px; min-width: 49.20px; max-width: 49.20px; height: 55px; min-height: 55px; max-height: 55px;"
              />
              <div class="flex flex-col items-start justify-start">
                <img
                  src="/fimgs/1728_2107.x3.png"
                  style="width: 70.94px; min-width: 70.94px; max-width: 70.94px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-182710dd1062e75fc287cd5100e883c432afdc37');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <div class="flex flex-col items-start justify-start">
                <img
                  src="/fimgs/1728_2109.x3.png"
                  style="width: 233.16px; min-width: 233.16px; max-width: 233.16px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-45566b8a64a5c0de421b03582a15ec56e8cc259a');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-3 items-center justify-start pt-16 pb-28">
        <div class="flex self-stretch items-start justify-start px-3 pt-3">
          <div class="flex flex-1 flex-col space-y-3 items-center justify-start">
            <div class="text-3xl font-medium tracking-wide leading-10 text-center text-red-900">
              Our Features
            </div>
            <img
              src="/fimgs/1728_2114.x3.png"
              style="width: 138px; min-width: 138px; max-width: 138px; height: 5px; min-height: 5px; max-height: 5px;"
            />
          </div>
        </div>
        <div class="text-base tracking-wide leading-normal text-center text-gray-700">
          We bring the best service to all your company needs to eliminate
          <br />
          boundaries between you and your customers.
        </div>
        <div class="flex self-stretch space-x-12 items-start justify-center px-32 pt-20">
          <div
            class="flex items-start justify-start rounded-lg"
            style="background-image: url('/fimgs/bg-61d20f9cb3c7772aa9cb9d28b41e27b930bb1d14');background-size:100% 100%;background-repeat:no-repeat;"
          >
            <div class="flex flex-1 self-stretch items-start justify-start opacity-80 bg-blue-600 rounded-lg">
              <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-12 py-9 rounded-lg">
                <img
                  src="/fimgs/1728_3396.x3.png"
                  style="width: 128.18px; min-width: 128.18px; max-width: 128.18px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-019cf5c308e0822504b4170d334f851ac87a74c8');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xl font-medium tracking-wide leading-loose text-white">
                    All In One Communication
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-justify text-white">
                    With a simple design, everyone can access this service
                    wihout problems, we provide guides to help users. We give
                    the best price with the best service.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex items-start justify-start rounded-lg"
            style="background-image: url('/fimgs/bg-2aa6929f900837e5c222ee534bd758d6980a21b9');background-size:100% 100%;background-repeat:no-repeat;"
          >
            <div class="flex flex-1 self-stretch items-start justify-start opacity-80 bg-yellow-600 rounded-lg">
              <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-12 py-9 rounded-lg">
                <img
                  src="/fimgs/1728_3361.x3.png"
                  style="width: 152.34px; min-width: 152.34px; max-width: 152.34px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-a646185b73e702ef6c8bd9994b013df98100139e');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xl font-medium tracking-wide leading-loose text-white">
                    Advanced Integration
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-justify text-white">
                    Everything is integrated and everyone can easily track the
                    status and process. Employees will directly help the
                    customer to solve the customer’s problem.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex items-start justify-start rounded-lg"
            style="background-image: url('/fimgs/bg-6c3eb9ba9095b66144ab60835a860a79e4794a12');background-size:100% 100%;background-repeat:no-repeat;"
          >
            <div class="flex flex-1 items-start justify-start opacity-80 bg-green-800 rounded-lg">
              <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-12 py-9 rounded-lg">
                <img
                  src="/fimgs/1728_2136.x3.png"
                  style="width: 133.68px; min-width: 133.68px; max-width: 133.68px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-616c7b56fbb56d6d73cf671d0a6e5e74faa2d1bf');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xl font-medium tracking-wide leading-loose text-white">
                    Simple and Affordable
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-justify text-white">
                    With a simple design, everyone can access this service
                    wihout problems, we provide guides to help users. We give
                    the best price with the best service.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-center justify-start px-32 py-16">
        <div class="flex self-stretch items-center justify-between px-16 py-12 bg-red-900 rounded-2xl">
          <div class="flex items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-white">
              Want to know our pricing for this software? Don’t hasitate to
              contact us.
            </div>
          </div>
          <div class="flex space-x-6 items-start justify-start">
            <button
              class="flex items-center justify-center py-3 bg-white shadow rounded"
              style="width: 140px; min-width: 140px; max-width: 140px; height: 48px; min-height: 48px; max-height: 48px;"
            >
              <div class="text-base font-medium tracking-wide leading-normal text-red-900">
                Contact Us
              </div>
            </button>
            <div class="flex items-center justify-center border rounded border-white">
              <button
                class="flex space-x-2.5 items-center justify-start px-6 py-3 rounded"
                style="width: 134px; min-width: 134px; max-width: 134px; height: 48px; min-height: 48px; max-height: 48px;"
              >
                <img
                  src="/fimgs/1728_2150.x3.png"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-2929cc9f14581955b410eda7ff80e27eef16a14a');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="text-base font-medium tracking-wide leading-normal text-white">
                  Call Us
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-center pt-6 pb-9 bg-red-900">
        <div class="flex self-stretch items-start justify-between px-32 py-3">
          <div class="flex flex-col space-y-8 items-start justify-start">
            <img
              src="/fimgs/1728_2155.x3.png"
              class="flex self-stretch flex-col items-start justify-start"
              style="width: 285px; min-width: 285px; max-width: 285px; height: 40px; min-height: 40px; max-height: 40px;"
            />
            <div class="flex flex-col items-start justify-start">
              <div class="flex items-start justify-start">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-200">
                  © AndroDESK Inc. All right reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-9 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-base font-medium tracking-wide leading-normal text-white">
                Connect with us
              </div>
            </div>
            <div class="flex space-x-12 items-start justify-center">
              <img
                src="/fimgs/1728_2164.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;"
              />
              <img
                src="/fimgs/1728_2166.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;"
              />
              <img
                src="/fimgs/1728_2168.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;"
              />
              <img
                src="/fimgs/1728_2170.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 33.33px; min-width: 33.33px; max-width: 33.33px; height: 25px; min-height: 25px; max-height: 25px;"
              />
              <img
                src="/fimgs/1728_2172.x3.png"
                class="flex flex-col items-center justify-start"
                style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>