<>
  <div class="flex w-full ">
    <div
      class="flex flex-col items-start justify-start bg-gray-50"
      style="width: 414px; min-width: 414px; max-width: 414px; height: 896px; min-height: 896px; max-height: 896px;"
    >
      <div
        class="flex  self-stretch w-full flex-col items-center justify-end px-24 py-12 bg-red-900"
        style="width: 414px; height: 448px; "
      >
        <div
          class="flex self-stretch flex-col space-y-5 items-center justify-center"
          style="width: 218px;  height: 142px; "
        >
          <div class="flex flex-col items-center justify-center p-2.5">
            <img
              src="/fimgs/10_8.x1.svg"
              style="max-width: 203.29px; height: 60px; min-height: 60px; max-height: 80px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div
            class="flex items-start justify-center"
            style="width: 81px; min-width: 81px; max-width: 81px; height: 42px; min-height: 42px; max-height: 42px;"
          >
            <div class="text-3xl font-medium tracking-wide leading-10 text-center text-white">
              Login
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 self-stretch flex-col space-y-5 items-center justify-start bg-white"
        style="width: 414px; min-width: 414px; max-width: 414px; height: 448px; min-height: 448px; max-height: 448px;"
      >
        <div
          class="flex self-stretch flex-col items-start justify-start px-6"
          style="width: 414px; min-width: 414px; max-width: 414px; height: 192px; min-height: 192px; max-height: 192px;"
        >
          <div
            class="flex self-stretch flex-col space-y-2.5 items-center justify-start p-2.5"
            style="width: 366px; min-width: 366px; max-width: 366px; height: 96px; min-height: 96px; max-height: 96px;"
          >
            <div
              class="text-xl tracking-wide leading-loose text-gray-800"
              style="width: 346px; min-width: 346px; max-width: 346px; height: 30px; min-height: 30px; max-height: 30px;"
            >
              Username
            </div>
            <div
              class="flex self-stretch items-center justify-start py-2.5 pl-5 pr-48 bg-gray-200 border rounded-lg border-gray-800"
              style="width: 346px; min-width: 346px; max-width: 346px; height: 36px; min-height: 36px; max-height: 36px;"
            >
              <input
                type="text"
                value=""
                // onChange=""
                class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
                placeholder="Username"
              />
            </div>
          </div>
          <div
            class="flex self-stretch flex-col space-y-2.5 items-start justify-start p-2.5"
            style="width: 366px; min-width: 366px; max-width: 366px; height: 96px; min-height: 96px; max-height: 96px;"
          >
            <div class="text-xl tracking-wide leading-loose text-gray-800">
              Password
            </div>
            <div
              class="flex self-stretch items-start justify-start"
              style="width: 346px; min-width: 346px; max-width: 346px; height: 36px; min-height: 36px; max-height: 36px;"
            >
              <div class="flex flex-1 items-center justify-start py-2.5 pl-5 pr-48 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-800">
                <input
                  type="text"
                  value=""
                  // onChange=""
                  class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
                  placeholder="Password"
                />
              </div>
              <button
                class="flex items-center justify-center p-2 bg-gray-200 border rounded-tr-lg rounded-br-lg border-gray-800"
                style="width: 36px;  height: 42px; "
              >
                <img
                  src="/fimgs/I10_23_2_8.x1.svg"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-27a996c755a31ad0e24fd8557967446606290bb3');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </button>
            </div>
          </div>
        </div>
        <button
          class="flex items-center justify-center px-4 py-2 bg-red-900 shadow rounded-2xl"
          style="width: 111px; min-width: 111px; max-width: 111px; height: 46px; min-height: 46px; max-height: 46px;"
          onClick={() => {
            alert("eits!");
          }}
        >
          <div class="text-xl font-medium tracking-wide leading-loose text-white">
            Login
          </div>
        </button>
      </div>
    </div>
  </div>
</>