<>
  <effect
    meta={{
      value: [],
      count: 0,
    }}
    run={async () => {
      let modal = document.getElementById("my-modal");
      let success = document.getElementById("my-success");
      let loading = document.getElementById("my-loading");
      let initiate = document.getElementById("my-initiate");
      modal.style.display = "block";
      initiate.style.display = "block";
      await api("/api/notifications", {
        id_notif: 0,
        task: "all",
      }).then((e) => {
        modal.style.display = "none";
        initiate.style.display = "none";
        meta.value = e.data;
        meta.count = e.count;
      });
      meta.action = {
        readAll: () => {
          modal.style.display = "block";
          loading.style.display = "block";
          api("/api/notifications", {
            id_notif: 0,
            task: "read all",
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              loading.style.display = "none";
              success.style.display = "block";
              window.location.reload();
            } else {
              modal.style.display = "none";
              loading.style.display = "none";
              console.log(e);
            }
          });
        },
        read: (id_notif, jenis, id) => {
          modal.style.display = "block";
          loading.style.display = "block";
          api("/api/notifications", {
            id_notif,
            task: "read",
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              loading.style.display = "none";
              success.style.display = "block";
              if (jenis === "Message") {
                navigate("/ticket-data/view/" + id);
              } else {
                navigate("/ticket-data");
              }
            } else {
              modal.style.display = "none";
              loading.style.display = "none";
              console.log(e);
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-center justify-start bg-white">
      <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start px-6 py-4">
        <div class="flex self-stretch items-start justify-start">
          <div class="flex flex-1 items-center justify-between py-2.5 pl-6 pr-8">
            <div class="flex space-x-2 items-center justify-start">
              <img
                src="/fimgs/1667_2100.x3.png"
                style="width: 13px; min-width: 13px; max-width: 13px; height: 11.98px; min-height: 11.98px; max-height: 11.98px;"
              />
              <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                Notification
              </div>
            </div>
            <div class="flex items-start justify-start px-2 py-1 bg-white shadow rounded-sm">
              <div
                class="text-sm font-medium tracking-wide leading-tight text-red-900"
                onClick={() => {
                  meta.action.readAll();
                }}
              >
                mark all as read
              </div>
            </div>
          </div>
        </div>
        {meta.value?.map((p) => (
          <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start pl-6 pr-8">
            {p.status_notifications === "Diterima" && (
              <div
                class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-white shadow"
                onClick={() => {
                  meta.action.read(
                    p.id_notification,
                    p.type_notification,
                    p.history_ticket.id_ticket
                  );
                }}
              >
                <div class="flex self-stretch space-x-3 items-center justify-start">
                  <div class="text-base tracking-wide leading-normal text-gray-700">
                    {p.type_notification === "Ticket Entrance" &&
                      "There is new open ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        ". Ready to assign to related department."}
                    {p.type_notification === "Ticket Assign" &&
                      "There is new assign ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        " to your Department. Please check it immediately."}
                    {p.type_notification === "Ticket Solved" &&
                      "Your ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        " Has been solved. Please check it immediately and give us your review."}
                    {p.type_notification === "Message" &&
                      "your ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        " just got a reply . Please check it immediately."}
                  </div>
                  <img
                    src="/fimgs/1667_2109.x3.png"
                    class="bg-green-500 rounded-full"
                    style="width: 9px; min-width: 9px; max-width: 9px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                </div>
                <div class="flex self-stretch items-center justify-end">
                  <div class="text-xs tracking-wide leading-none text-right text-gray-700">
                    {formatDay(p.date_notification)}
                  </div>
                </div>
              </div>
            )}
            {p.status_notifications === "Dibaca" && (
              <div
                class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-gray-200 shadow"
                onClick={() => {
                  meta.action.read(
                    p.id_notification,
                    p.type_notification,
                    p.history_ticket.id_ticket
                  );
                }}
              >
                <div class="flex self-stretch space-x-3 items-center justify-start">
                  <div class="text-base tracking-wide leading-normal text-gray-700">
                    {p.type_notification === "Ticket Entrance" &&
                      "There is new open ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        ". Ready to assign to related department."}
                    {p.type_notification === "Ticket Assign" &&
                      "There is new assign ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        " to your Department. Please check it immediately."}
                    {p.type_notification === "Ticket Solved" &&
                      "Your ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        " Has been solved. Please check it immediately and give us your review."}
                    {p.type_notification === "Message" &&
                      "your ticket with subject: " +
                        p.history_ticket.ticket.judul_ticket +
                        " just got a reply . Please check it immediately."}
                  </div>
                  <img
                    src="/fimgs/1667_2109.x3.png"
                    class="bg-green-500 rounded-full"
                    style="width: 9px; min-width: 9px; max-width: 9px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                </div>
                <div class="flex self-stretch items-center justify-end">
                  <div class="text-xs tracking-wide leading-none text-right text-gray-700">
                    {formatDay(p.date_notification)}
                  </div>
                </div>
              </div>
            )}
          </div>
        ))}
        <div class="shadow" />
      </div>
    </div>
  </div>

  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-success" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full bg-red-100">
          <svg
            class="h-10 w-10 text-red-900"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">All notification has been read!</p>
        </div>
      </div>
      <div id="my-loading" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Processing ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the process
          </p>
        </div>
      </div>
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>
    </div>
  </div>
</>