<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-center justify-start bg-white">
      <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start px-6 py-4">
        <div class="flex self-stretch items-start justify-start">
          <div class="flex flex-1 items-center justify-between py-2.5 pl-6 pr-8">
            <div class="flex space-x-2 items-center justify-start">
              <img
                src="/fimgs/1667_2100.x3.png"
                style="width: 13px; min-width: 13px; max-width: 13px; height: 11.98px; min-height: 11.98px; max-height: 11.98px;"
              />
              <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                Notification
              </div>
            </div>
            <div class="flex items-start justify-start px-2 py-1 bg-white shadow rounded-sm">
              <div class="text-sm font-medium tracking-wide leading-tight text-red-900">
                mark all as read
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start pl-6 pr-8">
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-white shadow">
            <div class="flex self-stretch space-x-3 items-center justify-start">
              <div class="text-base tracking-wide leading-normal text-gray-700">
                There is new open ticket with subject: My server down for
                several minutes. ready to assign to related department.
              </div>
              <img
                src="/fimgs/1667_2109.x3.png"
                class="bg-green-500 rounded-full"
                style="width: 9px; min-width: 9px; max-width: 9px; height: 9px; min-height: 9px; max-height: 9px;"
              />
            </div>
            <div class="flex self-stretch items-center justify-end">
              <div class="text-xs tracking-wide leading-none text-right text-gray-700">
                22/10/2021 09:20
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-gray-200 shadow">
            <div class="flex self-stretch items-center justify-start">
              <div class="text-base tracking-wide leading-normal text-gray-700">
                There is new open ticket with subject: Lorem ipsum. ready to
                assign to related department.
              </div>
            </div>
            <div class="flex self-stretch items-center justify-end">
              <div class="text-xs tracking-wide leading-none text-right text-gray-700">
                21/10/2021 10:20
              </div>
            </div>
          </div>
        </div>
        <div class="shadow" />
      </div>
    </div>
  </div>
</>