<div class="flex flex-col items-start m-6 h-full justify-start bg-gray-50">
  <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
    <div class="flex self-stretch items-center justify-between">
      <div class="flex items-start justify-start">
        <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
          CLIENT DATA
        </div>
      </div>
      <button class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-xl">
        <a
          href="/client-data/add"
          class=" flex space-x-3 items-center justify-center text-sm font-medium text-white"
        >
          <img
            src="/fimgs/460_875.x1.svg"
            class="mr-2"
            style=" max-width: 15px; max-height: 20px;"
          />
          Create New
        </a>
      </button>
    </div>
    <hr class=" w-full pb-4"></hr>
    <div class="w-full">
      <tabelclient />
    </div>
  </div>
</div>