<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
      <div class="flex self-stretch items-center justify-between px-6 py-3 bg-red-900">
        <div class="flex self-stretch items-center justify-start">
          <img
            src="/fimgs/701_1527.x3.png"
            style="width: 76.37px; min-width: 76.37px; max-width: 76.37px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex space-x-2 items-center justify-start">
          <img
            src="/fimgs/701_1529.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="text-xs font-medium tracking-wide leading-none text-right text-white">
            hello, user!
          </div>
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-3">
          <div class="flex self-stretch flex-col space-y-3 items-center justify-start py-1 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between px-3 py-2 rounded-lg">
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET - VIEW TICKET
              </div>
              <div class="flex space-x-3 items-center justify-start">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Status:
                </div>
                <div class="flex items-start justify-center px-3 py-1 bg-gray-800 rounded-lg">
                  <div class="text-xs font-medium tracking-wide leading-none text-white">
                    RESOLVED
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/fimgs/847_1534.x3.png"
              class="border-gray-500"
              style="width: 366px; min-width: 366px; max-width: 366px; height: 1px; min-height: 1px; max-height: 1px;"
            />
            <div class="flex self-stretch items-center justify-start px-3">
              <div class="flex space-x-2.5 items-center justify-start">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Ticket Type:
                </div>
                <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                  Maintenance ticket
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start p-2 bg-white shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <img
                    src="/fimgs/907_1558.x3.png"
                    class="flex items-start justify-start bg-white rounded-full"
                    style="width: 44px; min-width: 44px; max-width: 44px; height: 46px; min-height: 46px; max-height: 46px;"
                  />
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Han Solo
                      </div>
                      <div class="text-xs font-medium tracking-wide leading-none text-center text-gray-700">
                        Submitted
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        han.solo@startrek.com
                      </div>
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        19/10/2021 19:20
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start p-2.5 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-800">
                    Subject: My server down for several minutes.
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2.5 border rounded-bl-lg rounded-br-lg border-gray-300">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Something happen with my website hosting, please fix it.
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/fimgs/701_1559.x3.png"
              class="flex flex-col space-y-2 items-start justify-start"
              style="width: 276px; min-width: 276px; max-width: 276px; height: 187px; min-height: 187px; max-height: 187px;"
            />
          </div>
          <div class="flex self-stretch flex-col items-start justify-start p-2 bg-gray-100 shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-end">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Imam Kurfian
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        21/10/2021 10:20
                      </div>
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        imam.12@tech.com
                      </div>
                    </div>
                  </div>
                  <div class="flex items-start justify-center shadow rounded-full">
                    <img
                      src="/fimgs/882_4385.x3.png"
                      class="rounded-full"
                      style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-f03f7930b9c83ab63b514ca720f899ba4cf4aa7e');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-gray-700">
                  Disable your wordpress plugins.
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start p-2 bg-white shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <img
                    src="/fimgs/906_1553.x3.png"
                    class="flex items-start justify-start bg-white rounded-full"
                    style="width: 44px; min-width: 44px; max-width: 44px; height: 46px; min-height: 46px; max-height: 46px;"
                  />
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Han Solo
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        han.solo@startrek.com
                      </div>
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        22/10/2021 09:20
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-gray-700">
                  Thank’s, my website have run properly.
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-4 items-center justify-start">
            <img
              src="/fimgs/701_1638.x3.png"
              style="width: 240px; min-width: 240px; max-width: 240px; height: 240px; min-height: 240px; max-height: 240px;background-image: url('/fimgs/bg-e31e00d259e599256c215318ca1f8f86242c12f7');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-sm tracking-wide leading-tight text-gray-800">
              Your ticket for this subject has been resolved.
            </div>
          </div>
        </div>
        <div class="flex self-stretch items-start justify-between px-6 bg-white shadow">
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/774_1749.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-e3f3637260cb516e379328e4426bf83f03764fd3');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              Dashboard
            </div>
          </div>
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/774_1753.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-1d94f457cadc8b9b13cd053b9f54595c3b033488');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              New Ticket
            </div>
          </div>
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/774_1757.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-c33fb0a72c00dbfcfa46ba0702071ed80122ed2b');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-red-900">
              My Ticket
            </div>
          </div>
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/774_1761.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-3516cc63bd3d1a27be4f332540d80ec325f6c342');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              Profile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>