<>
  <effect
    meta={{
      id_user: 0,
      password: "",
      newPassword: "",
      confirmPassword: "",
      message: "",
      pass_type1: "password",
      pass_type2: "password",
      pass_type3: "password",

      validationCheck() {
        this.message =
          this.password === "" || this.password === null
            ? "Your current password is empty. Make sure all forms are filled and try again."
            : this.newPassword === "" || this.newPassword === null
            ? "Your new password is empty. Make sure all forms are filled and try again."
            : !validatePass(this.newPassword)
            ? "Password length 8-16, Include Uppercase, Lowercase & No space"
            : this.confirmPassword === "" || this.confirmPassword === null
            ? "Your confirmation password is empty. Make sure all forms are filled and try again."
            : false;
        return this.message;
      },

      timeOut(timer) {
        setTimeout(function () {
          window.mobileApp.app.dialog.close();
        }, timer);
      },
    }}
    run={async () => {
      meta.id_user = parseInt(user.dataUser.id_user);
      meta.action = {
        passwordChange: (e) => {
          runInAction(() => {
            meta.password = e.target.value;
            console.log(meta.password);
          });
        },
        newChange: (e) => {
          runInAction(() => {
            meta.newPassword = e.target.value;
            console.log(meta.newPassword);
          });
        },
        confirmChange: (e) => {
          runInAction(() => {
            meta.confirmPassword = e.target.value;
            console.log(meta.confirmPassword);
          });
        },
        showHidePass1: () => {
          runInAction(() => {
            meta.pass_type1 === "password"
              ? (meta.pass_type1 = "text")
              : (meta.pass_type1 = "password");
          });
        },
        showHidePass2: () => {
          runInAction(() => {
            meta.pass_type2 === "password"
              ? (meta.pass_type2 = "text")
              : (meta.pass_type2 = "password");
          });
        },
        showHidePass3: () => {
          runInAction(() => {
            meta.pass_type3 === "password"
              ? (meta.pass_type3 = "text")
              : (meta.pass_type3 = "password");
          });
        },
        editData: (e) => {
          let error_msg = meta.validationCheck();
          if (error_msg) {
            window.mobileApp.app.dialog.alert(null, error_msg);
          } else {
            window.mobileApp.app.dialog.preloader();
            api("/api/password/edit", {
              id_user: meta.id_user,
              password: meta.password,
              newPassword: meta.newPassword,
              confirmPassword: meta.confirmPassword,
            }).then((e) => {
              console.log(e);
              if (e.status == "SUCCESS") {
                navigate("/m/view-profile");
                meta.timeOut(1000);
              } else {
                meta.message = e.message;
                meta.timeOut(1000);
                window.mobileApp.app.dialog.alert(null, meta.message);
              }
            });
          }
        },
      };
    }}
  />
  <div class="flex flex-col  self-stretch w-screen  items-start justify-start bg-gray-50 pb-5">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div
        class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start px-6 py-2.5"
        // style="width: 414px;  height: 772px;"
      >
        <div class="flex self-stretch  items-start justify-start p-2 text-base font-medium tracking-wide leading-normal text-center text-gray-800">
          PROFILE - CHANGE PASSWORD
        </div>

        <div class="flex  self-stretch flex-col space-y-3 items-center justify-center p-6 bg-white shadow rounded-lg ">
          <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
            CHANGE YOUR PASSWORD
          </div>
          <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Current Password
                    </label>
                  </div>
                  <m-input
                    class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700 h-10"
                    style="height:35px"
                    type="password"
                    value={meta.password}
                    onChange={(e) => meta.action.passwordChange(e)}
                    placeholder="Password"
                    required
                  >
                    {/*<a class="">*/}
                    {/*<svg*/}
                    {/*xmlns="http://www.w3.org/2000/svg"*/}
                    {/*width="16"*/}
                    {/*height="16"*/}
                    {/*viewBox="0 0 24 24"*/}
                    {/*>*/}
                    {/*<path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />*/}
                    {/*</svg>*/}
                    {/*</a>*/}
                  </m-input>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      New Password
                    </label>
                  </div>
                  <m-input
                    class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700 h-10 w-full"
                    style="height:35px"
                    type="password"
                    value={meta.newPassword}
                    onChange={(e) => meta.action.newChange(e)}
                    placeholder="New Password"
                    required
                  >
                    {/*<a class="">*/}
                    {/*<svg*/}
                    {/*xmlns="http://www.w3.org/2000/svg"*/}
                    {/*width="16"*/}
                    {/*height="16"*/}
                    {/*viewBox="0 0 24 24"*/}
                    {/*>*/}
                    {/*<path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />*/}
                    {/*</svg>*/}
                    {/*</a>*/}
                  </m-input>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Confirm New Password
                    </label>
                  </div>
                  <m-input
                    class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700 h-10"
                    style="height:35px"
                    type="password"
                    value={meta.confirmPassword}
                    onChange={(e) => meta.action.confirmChange(e)}
                    placeholder="type your password here ..."
                    required
                  >
                    {/*<a class="">*/}
                    {/*<svg*/}
                    {/*xmlns="http://www.w3.org/2000/svg"*/}
                    {/*width="16"*/}
                    {/*height="16"*/}
                    {/*viewBox="0 0 24 24"*/}
                    {/*>*/}
                    {/*<path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />*/}
                    {/*</svg>*/}
                    {/*</a>*/}
                  </m-input>
                </div>
              </div>
            </div>
            <div class="flex self-stretch space-x-6 items-start justify-center">
              <div class="flex items-center justify-start px-3 py-2 border rounded-full border-gray-500">
                <m-link href="/m/view-profile">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-700">
                    cancel
                  </div>
                </m-link>
              </div>
              <div class="flex items-center justify-start px-3 py-2 bg-red-900 shadow rounded-full">
                <m-link
                  onClick={() => {
                    meta.action.editData();
                  }}
                >
                  <div class="text-sm font-medium tracking-wide leading-tight text-white">
                    save changes
                  </div>
                </m-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>