<>
  <effect
    meta={{}}
    run={async () => {
      meta.action = {
        cancel: (e) => {
          window.location.replace("/m/view-profile");
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex self-stretch items-center justify-between px-6 py-3 bg-red-900">
        <div class="flex self-stretch items-center justify-start">
          <img
            src="/fimgs/1036_1967.x3.png"
            style="width: 76.37px; min-width: 76.37px; max-width: 76.37px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex space-x-2 items-center justify-start">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/1036_1970.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-c1b4b8f40587a3e0f3882294b7b48f9b1dfeb080');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-right text-white">
            hello, user!
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start px-6 py-2.5"
        style="height: 772px; min-height: 772px; max-height: 772px;"
      >
        <div class="flex self-stretch items-start justify-start p-2">
          <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
            PROFILE - CHANGE PASSWORD
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-3 items-center justify-start p-6 bg-white shadow rounded-lg">
          <p class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
            CHANGE YOUR PASSWORD
          </p>
          <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Current Password
                    </label>
                  </div>
                  <input class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700" />
                  {/*<span>*/}
                  {/*<svg*/}
                  {/*xmlns="http://www.w3.org/2000/svg"*/}
                  {/*width="20"*/}
                  {/*height="20"*/}
                  {/*viewBox="0 0 24 24"*/}
                  {/*>*/}
                  {/*<path d="M14 12c0 1.103-.897 2-2 2s-2-.897-2-2 .897-2 2-2 2 .897 2 2zm10-.449s-4.252 7.449-11.985 7.449c-7.18 0-12.015-7.449-12.015-7.449s4.446-6.551 12.015-6.551c7.694 0 11.985 6.551 11.985 6.551zm-8 .449c0-2.208-1.791-4-4-4-2.208 0-4 1.792-4 4 0 2.209 1.792 4 4 4 2.209 0 4-1.791 4-4z" />*/}
                  {/*</svg>*/}
                  {/*</span>*/}
                </div>

                {/*              */}
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      New Password
                    </label>
                  </div>

                  <input class="w-full space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700" />
                </div>
                {/**/}
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Confirm New Password
                    </label>
                  </div>
                  <input class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700" />
                </div>
              </div>
            </div>
            <div class="flex self-stretch space-x-6 items-start justify-center">
              <div class="flex items-center justify-start px-3 py-2 border rounded-full border-gray-500">
                <button
                  onClick={() => {
                    meta.action.cancel();
                  }}
                >
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-700">
                    cancel
                  </div>
                </button>
              </div>
              <div class="flex items-center justify-start px-3 py-2 bg-red-900 shadow rounded-full">
                <button>
                  <div class="text-sm font-medium tracking-wide leading-tight text-white">
                    save changes
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-between px-6 bg-white shadow">
        <div class="flex flex-col items-center justify-start p-2">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/1036_2032.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-e3f3637260cb516e379328e4426bf83f03764fd3');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            Dashboard
          </div>
        </div>
        <div class="flex flex-col items-center justify-start p-2">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/1036_2036.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-1d94f457cadc8b9b13cd053b9f54595c3b033488');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            New Ticket
          </div>
        </div>
        <div class="flex flex-col items-center justify-start p-2">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/1036_2040.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-7e05c4753e5e7c1e517f1949a4ed95c909c0e016');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            My Ticket
          </div>
        </div>
        <div class="flex flex-col items-center justify-start p-2">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/1036_2044.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-efda21034fe8cd3322b2fb4f7a83721f10359914');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-red-900">
            Profile
          </div>
        </div>
      </div>
    </div>
  </div>
</>