<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex items-start justify-start">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-gray-50">
      <div class="flex flex-1 flex-col items-start justify-start">
        <regist-vendor />
        <div class="flex flex-1 self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-col items-center justify-between py-6 pl-6 bg-white shadow">
            <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
              <div class="flex self-stretch items-center justify-center p-3">
                <div class="text-2xl font-medium tracking-wide leading-loose text-gray-800">
                  Client
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch space-x-2 items-start justify-start p-3 rounded-tl-2xl rounded-bl-2xl">
                  <div class="flex items-start justify-start">
                    <div style="background-image: url('/fimgs/bg-c732d37592dd584eba435e0a8e2b8df6661e261e');background-size:100% 100%;background-repeat:no-repeat;" />
                  </div>
                  <div class="text-lg font-medium tracking-wide leading-relaxed text-gray-600">
                    Dashboard
                  </div>
                </div>
                <div class="flex self-stretch items-center justify-start p-3 bg-red-900 rounded-tl-2xl rounded-bl-2xl">
                  <div class="flex space-x-2 items-start justify-start">
                    <div style="background-image: url('/fimgs/bg-d6e37801d5f12ce9642235006550e55946d49a3f');background-size:100% 100%;background-repeat:no-repeat;" />
                    <div class="text-lg font-medium tracking-wide leading-relaxed text-white">
                      Ticket
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-4 py-2 bg-red-900 rounded-lg">
              <div class="text-base font-medium tracking-wide leading-normal text-white">
                Sign Out
              </div>
            </div>
          </div>
          <div class="flex flex-1 flex-col items-center justify-start px-3 py-6">
            <div class="flex flex-col space-y-10 items-start justify-start">
              <div
                class="flex self-stretch space-x-4 items-center justify-start bg-white shadow"
                style="width: 1016px; min-width: 1016px; max-width: 1016px; height: 60px; min-height: 60px; max-height: 60px;"
              >
                <img
                  src="/fimgs/585_1268.x1.svg"
                  class="transform rotate-180"
                  style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;background-image: url('/fimgs/bg-fb1910df1029f20b110a9988c1936352f60a74c4');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="text-2xl font-medium tracking-wide leading-loose text-center text-gray-800">
                  MY TICKET - OPEN TICKET
                </div>
              </div>
              <div class="flex flex-col space-y-10 items-center justify-start">
                <div class="flex flex-col space-y-10 items-start justify-start">
                  <div
                    class="flex flex-col space-y-5 items-start justify-start px-4 py-3 bg-white shadow rounded-lg"
                    style="width: 1016px; min-width: 1016px; max-width: 1016px;"
                  >
                    <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                      Ticket Information
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex items-start justify-start">
                        <div
                          class="flex space-x-6 items-start justify-start"
                          style="width: 984px; min-width: 984px; max-width: 984px; height: 90px; min-height: 90px; max-height: 90px;"
                        >
                          <div
                            class="flex flex-col items-start justify-start"
                            style="width: 480px; min-width: 480px; max-width: 480px; height: 90px; min-height: 90px; max-height: 90px;"
                          >
                            <div class="flex items-start justify-start p-2.5">
                              <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                                Name
                              </div>
                            </div>
                            <div
                              class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500"
                              style="width: 480px; min-width: 480px; max-width: 480px; height: 43px; min-height: 43px; max-height: 43px;"
                            >
                              <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                                Han Solo
                              </div>
                            </div>
                          </div>
                          <div
                            class="flex flex-col items-start justify-start"
                            style="width: 480px; min-width: 480px; max-width: 480px; height: 90px; min-height: 90px; max-height: 90px;"
                          >
                            <div class="flex items-start justify-start p-2.5">
                              <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                                Ticket Type
                              </div>
                            </div>
                            <div
                              class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500"
                              style="width: 480px; min-width: 480px; max-width: 480px; height: 43px; min-height: 43px; max-height: 43px;"
                            >
                              <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                                Maintenance Ticket
                              </div>
                              <img
                                src="/fimgs/538_1535.x1.svg"
                                style="width: 25px; min-width: 25px; max-width: 25px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-2cc07aa4f15443e480020f7ccbf834c608b09a16');background-size:100% 100%;background-repeat:no-repeat;"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col space-y-5 items-start justify-start px-4 py-3 bg-white shadow rounded-lg">
                    <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                      Message
                    </div>
                    <div class="flex flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div
                          class="flex flex-col items-start justify-start"
                          style="width: 984px; min-width: 984px; max-width: 984px; height: 90px; min-height: 90px; max-height: 90px;"
                        >
                          <div class="flex items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Subject
                            </div>
                          </div>
                          <div
                            class="flex items-center justify-start py-2 pl-5 pr-2.5 bg-gray-200 border rounded-lg border-gray-500"
                            style="width: 984px; min-width: 984px; max-width: 984px; height: 43px; min-height: 43px; max-height: 43px;"
                          >
                            <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                              lorem ipsum
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Message
                            </div>
                          </div>
                          <div class="flex space-x-2.5 items-start justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                              Enter your text here
                            </div>
                            <div />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col space-y-5 items-start justify-start px-4 py-3 bg-white shadow rounded-lg">
                    <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                      Attachments
                    </div>
                    <div
                      class="flex flex-col items-start justify-start"
                      style="width: 746px; min-width: 746px; max-width: 746px; height: 124px; min-height: 124px; max-height: 124px;"
                    >
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div
                          class="flex self-stretch flex-col items-start justify-start"
                          style="width: 746px; min-width: 746px; max-width: 746px; height: 98px; min-height: 98px; max-height: 98px;"
                        >
                          <div class="flex items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Subject
                            </div>
                          </div>
                          <div
                            class="flex space-x-8 items-center justify-start"
                            style="width: 936px; min-width: 936px; max-width: 936px; height: 51px; min-height: 51px; max-height: 51px;"
                          >
                            <div class="flex items-start justify-start">
                              <div class="flex items-center justify-center px-2.5 py-2 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-500">
                                <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                                  Select File
                                </div>
                              </div>
                              <div class="flex flex-1 items-center justify-start py-2 pl-5 pr-2.5 border rounded-tr-lg rounded-br-lg border-gray-500">
                                <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                                  No File Selected
                                </div>
                              </div>
                            </div>
                            <div class="flex space-x-3 items-center justify-center px-5 py-3 bg-red-900 shadow rounded-2xl">
                              <div style="background-image: url('/fimgs/bg-b24bcae01668746da3b996d95c8fb176a9675ff7');background-size:100% 100%;background-repeat:no-repeat;" />
                              <div class="text-lg font-medium tracking-wide leading-relaxed text-white">
                                Add more
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="flex items-start justify-start pl-2">
                          <div class="text-xs tracking-wide leading-none text-gray-500">
                            Allowed File Extensions: .jpg, .gif, .jpeg, .png,
                            .pdf, .zip, .csv, .sql, .tar, .gz
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex space-x-6 items-start justify-start">
                  <div class="flex items-center justify-center px-4 py-2 border rounded-2xl border-gray-500">
                    <div class="text-lg font-medium tracking-wide leading-relaxed text-gray-700">
                      cancel
                    </div>
                  </div>
                  <div class="flex items-center justify-start px-4 py-2 bg-green-500 shadow rounded-2xl">
                    <div class="text-lg font-medium tracking-wide leading-relaxed text-white">
                      create ticket{" "}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>