<>
  <effect
    meta={{
      name: "",
      email: "",
      company: "",
      phone: "",
      address: "",
      username: "",
      password: "",
      value: {},
    }}
    run={async () => {
      let modal = document.getElementById("my-modal");
      let success = document.getElementById("my-success");
      let loading = document.getElementById("my-loading");
      let initiate = document.getElementById("my-initiate");
      modal.style.display = "block";
      initiate.style.display = "block";

      await db.users
        .findUnique({
          where: {
            id_user: user.dataUser.id_user,
          },
        })
        .then((e) => {
          modal.style.display = "none";
          initiate.style.display = "none";
          meta.value = e;
        });
      meta.username = meta.value.username;
      meta.password = meta.value.password;
      if (user.role == "Vendor") {
        meta.name = user.dataUser.nama_vendor;
        meta.email = user.dataUser.email_vendor;
        meta.company = user.dataUser.lokasi_vendor;
        meta.phone = user.dataUser.nomor_vendor;
      } else if (user.role == "Client") {
        meta.name = user.dataUser.nama_client;
        meta.email = user.dataUser.email_client;
        meta.company = user.dataUser.lokasi_client;
        meta.phone = user.dataUser.nomor_client;
      } else if (user.role == "Employee") {
        meta.name = user.dataUser.nama_employee;
        meta.email = user.dataUser.email_employee;
        meta.phone = user.dataUser.nomor_employee;
      } else {
      }

      meta.action = {
        namaChange: (e) => {
          runInAction(() => {
            meta.name = e.target.value;
            console.log(meta.name);
          });
        },
        nomorChange: (e) => {
          runInAction(() => {
            meta.phone = e.target.value;
            console.log(meta.phone);
          });
        },
        emailChange: (e) => {
          runInAction(() => {
            meta.email = e.target.value;
            console.log(meta.email);
          });
        },
        lokasiChange: (e) => {
          runInAction(() => {
            meta.company = e.target.value;
            console.log(meta.company);
          });
        },
        usernameChange: (e) => {
          runInAction(() => {
            meta.username = e.target.value;
            console.log(meta.username);
          });
        },
        cancel: (e) => {
          window.location.replace("/view-profile");
        },
        editData: (e) => {
          modal.style.display = "block";
          loading.style.display = "block";
          api("/api/profile/edit", {
            id_user: parseInt(user.dataUser.id_user),
            nama: meta.name,
            email: meta.email,
            lokasi: meta.company,
            nomor: meta.phone,
            username: meta.username,
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              loading.style.display = "none";
              success.style.display = "block";
              window.location.replace("/view-profile");
            } else {
              modal.style.display = "none";
              loading.style.display = "none";
              console.log(e);
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
      <div class="flex flex-1 self-stretch items-start justify-start pt-6">
        <div class="flex flex-1 self-stretch flex-col items-center justify-start">
          <div class="flex flex-1 self-stretch items-start justify-start px-6">
            <div class="flex flex-1 flex-col space-y-3 items-start justify-start px-6 pb-4 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-start justify-start">
                <div class="flex flex-1 items-start justify-start p-2.5">
                  <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                    PROFILE - EDIT PROFILE
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-9 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                    <div
                      class="flex self-stretch space-x-14 items-start justify-start"
                      style="width: 1344px; min-width: 1344px; max-width: 1344px;"
                    >
                      <img
                        src="/fimgs/54_253.x1.svg"
                        class="flex items-center justify-center "
                        style="width: 180px; min-width: 180px; max-width: 180px; height: 180px; min-height: 180px; max-height: 180px;"
                      />
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Display Name
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            value={meta.name}
                            onChange={(e) => meta.action.namaChange(e)}
                            placeholder="Full Name"
                            required
                          />
                        </div>
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Email
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            value={meta.email}
                            onChange={(e) => meta.action.emailChange(e)}
                            placeholder="Email"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="flex self-stretch flex-col space-y-3 items-start justify-start pl-60">
                      <hr class=" w-full pb-4"></hr>
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Company
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            value={meta.company}
                            onChange={(e) => meta.action.lokasiChange(e)}
                            placeholder="Company Name"
                            required
                          />
                        </div>
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Phone
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="number"
                            value={meta.phone}
                            onChange={(e) => meta.action.nomorChange(e)}
                            placeholder="Phone Number"
                            required
                          />
                        </div>
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Address
                          </div>
                        </div>
                        <input
                          class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                          style="width: 540px; min-width: 540px; max-width: 540px;"
                          type="text"
                          // value={meta....}
                          // onChange={(e) => meta.action.....Change(e)}
                          placeholder="Jl Tarian Raya Tmr Kompl Kelapa Gading Bl W-1/24, Dki Jakarta"
                          required
                        />
                      </div>
                      <div class="flex flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Username
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            value={meta.username}
                            onChange={(e) => meta.action.usernameChange(e)}
                            placeholder="Username"
                            required
                          />
                        </div>
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Password
                            </div>
                          </div>
                          <div
                            class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 bg-gray-300 border rounded-lg border-gray-500"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                          >
                            <div class="text-lg tracking-wide leading-relaxed text-gray-700 w-full">
                              {meta.password}
                            </div>
                            <div class="flex items-start justify-start p-1 rounded-tr-lg rounded-br-lg">
                              <img
                                src="/fimgs/I54_133_2_8.x1.svg"
                                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch space-x-3 items-start justify-center">
                  <button
                    class="flex items-center justify-center px-4 py-2 shadow border rounded-lg border-gray-500"
                    onClick={() => {
                      meta.action.cancel();
                    }}
                  >
                    <div class="text-base font-medium tracking-wide leading-normal text-gray-700">
                      Cancel
                    </div>
                  </button>
                  <button
                    class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-lg"
                    onClick={() => {
                      meta.action.editData();
                    }}
                  >
                    <img
                      src="/fimgs/54_303.x1.svg"
                      style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;background-image: url('/fimgs/bg-4b5f4d54397127c487748990b6bb3cb4f5610492');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                    <div class="text-base font-medium tracking-wide leading-normal text-white">
                      Save Changes
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-success" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full bg-red-100">
          <svg
            class="h-10 w-10 text-red-900"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Data has been successfully updated!
          </p>
        </div>
      </div>
      <div id="my-loading" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Processing ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the saving process
          </p>
        </div>
      </div>
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>
    </div>
  </div>
</>