<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
      <div class="flex flex-1 self-stretch items-start justify-start pt-6">
        <div class="flex flex-1 self-stretch flex-col items-center justify-start">
          <div class="flex flex-1 self-stretch items-start justify-start px-6">
            <div class="flex flex-1 flex-col space-y-3 items-start justify-start px-6 pb-4 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-start justify-start">
                <div class="flex flex-1 items-start justify-start p-2.5">
                  <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                    PROFILE - EDIT PROFILE
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-9 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                    <div
                      class="flex self-stretch space-x-14 items-start justify-start"
                      style="width: 1344px; min-width: 1344px; max-width: 1344px;"
                    >
                      <img
                        src="/fimgs/54_253.x1.svg"
                        class="flex items-center justify-center "
                        style="width: 180px; min-width: 180px; max-width: 180px; height: 180px; min-height: 180px; max-height: 180px;"
                      />
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Display Name
                            </div>
                          </div>
                          <input
                            class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 480px; min-width: 480px; max-width: 480px;"
                            type="text"
                            // value={meta.jenis_ticket}
                            // onChange={(e) => meta.action.jenisTicketChange(e)}
                            placeholder="Jhon Doe"
                          />
                        </div>
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Email
                            </div>
                          </div>
                          <input
                            class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 480px; min-width: 480px; max-width: 480px;"
                            type="text"
                            // value={meta.jenis_ticket}
                            // onChange={(e) => meta.action.jenisTicketChange(e)}
                            placeholder="service@majujaya.com"
                          />
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="flex self-stretch flex-col space-y-3 items-start justify-start pl-60">
                      <hr class=" w-full pb-4"></hr>
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Company
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            // value={meta.jenis_ticket}
                            // onChange={(e) => meta.action.jenisTicketChange(e)}
                            placeholder="service@majujaya.com"
                          />
                        </div>
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Phone
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            // value={meta.jenis_ticket}
                            // onChange={(e) => meta.action.jenisTicketChange(e)}
                            placeholder="081649246857"
                          />
                        </div>
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Address
                          </div>
                        </div>
                        <input
                          class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                          style="width: 540px; min-width: 540px; max-width: 540px;"
                          type="text"
                          // value={meta.jenis_ticket}
                          // onChange={(e) => meta.action.jenisTicketChange(e)}
                          placeholder="Jl Tarian Raya Tmr Kompl Kelapa Gading Bl W-1/24, Dki Jakarta"
                        />
                      </div>
                      <div class="flex flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Username
                            </div>
                          </div>
                          <input
                            class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                            type="text"
                            // value={meta.jenis_ticket}
                            // onChange={(e) => meta.action.jenisTicketChange(e)}
                            placeholder="majujaya9"
                          />
                        </div>
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch items-start justify-start p-2.5">
                            <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                              Password
                            </div>
                          </div>
                          <div
                            class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 bg-gray-300 border rounded-lg border-gray-500"
                            style="width: 540px; min-width: 540px; max-width: 540px;"
                          >
                            <div class="text-lg tracking-wide leading-relaxed text-gray-700 w-full">
                              9majujaya
                            </div>
                            <div class="flex items-start justify-start p-1 rounded-tr-lg rounded-br-lg">
                              <img
                                src="/fimgs/I54_133_2_8.x1.svg"
                                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch space-x-3 items-start justify-center">
                  <div class="flex items-center justify-center px-4 py-2 shadow border rounded-lg border-gray-500">
                    <div class="text-base font-medium tracking-wide leading-normal text-gray-700">
                      Cancel
                    </div>
                  </div>
                  <div class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-lg">
                    <img
                      src="/fimgs/54_303.x1.svg"
                      style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;background-image: url('/fimgs/bg-4b5f4d54397127c487748990b6bb3cb4f5610492');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                    <div class="text-base font-medium tracking-wide leading-normal text-white">
                      Save Changes
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-center px-2 py-1 bg-white">
        <div class="text-xs tracking-wide leading-none text-gray-500">
          © 2021. Crafted by ANDROMEDIA INTERNSHIP TEAM - 2
        </div>
      </div>
    </div>
  </div>
</>