<>
  <effect
    meta={{
      departments: [],
      levels: [],
      talks: [],
      value: {},
      id_ticket: 0,
      id_history_ticket: 0,
      id_department: 0,
      id_employee: null,
      id_level_ticket: 0,
      id_client: 0,
      chat: false,
      message: "",
      msg: "",
      attachment: "",
      photo: "/uploads/profiles/default.png",
      email: "",

      validationCheck() {
        this.msg =
          this.message === "" || this.message === null
            ? "Your message is empty. Make sure all forms are filled and try again."
            : false;
        return this.msg;
      },

      validationCheck1() {
        this.msg =
          this.id_department === "" ||
          this.id_department === null ||
          this.id_department === 0
            ? "Your department name is empty. Make sure all forms are filled and try again."
            : this.id_level_ticket === "" ||
              this.id_level_ticket === null ||
              this.id_level_ticket === 0
            ? "Your level ticket is empty. Make sure all forms are filled and try again."
            : false;
        return this.msg;
      },

      async upload(file) {
        const formData = _FormData();

        formData.append("path", "attachment");
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },

      timeOut(timer) {
        setTimeout(function () {
          window.mobileApp.app.dialog.close();
        }, timer);
      },
    }}
    run={async () => {
      window.mobileApp.app.dialog.preloader();
      meta.id_ticket = parseInt(params.id);
      await db.history_ticket
        .findUnique({
          where: {
            id_ticket: meta.id_ticket,
          },
          include: {
            level_ticket: true,
            status_ticket: true,
            client: {
              include: {
                users: true,
              },
            },
            employee: {
              include: {
                users: true,
              },
            },
            department: true,
            ticket: {
              include: {
                jenis_ticket: true,
              },
            },
          },
        })
        .then((e) => {
          meta.value = e;
          meta.timeOut(1000);
        });

      meta.email = meta.value?.client?.users?.email;
      meta.id_client = meta.value?.client?.id_user;
      meta.id_history_ticket = meta.value?.id_history_ticket;
      meta.value?.client?.foto_profile !== null
        ? (meta.photo = "/uploads/" + meta.value?.client?.foto_profile)
        : (meta.photo = "/uploads/profiles/default.png");
      meta.talks = await db.percakapan.findMany({
        where: {
          id_history_ticket: meta.value?.id_history_ticket,
        },
        include: {
          users: true,
        },
      });
      if (meta.value?.status_ticket?.status_ticket == "OPEN") {
        document.getElementById("status").classList.add("bg-green-500");
      } else if (meta.value?.status_ticket?.status_ticket == "ASSIGNED") {
        document.getElementById("status").classList.add("bg-yellow-500");
      } else if (meta.value?.status_ticket?.status_ticket == "IN PROGRESS") {
        document.getElementById("status").classList.add("bg-red-500");
      } else {
        document.getElementById("status").classList.add("bg-gray-800");
      }

      meta.chat = true;

      meta.action = {
        namaDepartmentChange: (e, f) => {
          runInAction(() => {
            meta.id_department = parseInt(e);
            console.log(meta.id_department);
          });
        },
        levelChange: (e, f) => {
          runInAction(() => {
            meta.id_level_ticket = parseInt(e);
            console.log(meta.id_level_ticket);
          });
        },
        messageChange: (e) => {
          runInAction(() => {
            meta.message = e.target.value;
            console.log(meta.message);
          });
        },
        attachmentChange: (e) => {
          runInAction(() => {
            meta.attachment = e.target.value;
            console.log(meta.attachment);
          });
        },
        addMessage: (e) => {
          let error_msg = meta.validationCheck();
          if (error_msg) {
            window.mobileApp.app.dialog.alert(null, error_msg);
          } else {
            window.mobileApp.app.dialog.preloader();
            api("/api/message", {
              tanggal_waktu_percakapan: new Date(),
              isi_percakapan: meta.message,
              ticket_status: meta.value?.status_ticket?.status_ticket,
              attachment: meta.attachment,
              id_history_ticket: parseInt(meta.value.id_history_ticket),
              id_user: parseInt(user.dataUser.id_user),
              id_employee: meta.id_employee,
            }).then((e) => {
              console.log(e);
              if (e.status == "SUCCESS") {
                meta.timeOut(1000);
                window.location.reload();
              } else {
                console.log(e);
                meta.timeOut(1000);
              }
            });
          }
        },
      };
    }}
  />
  <div
    class={`flex flex-1 self-stretch flex-col items-center justify-start bg-gradient-to-b from-white to-white`}
  >
    <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start p-4 pb-4">
      <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-3">
          <div class="flex self-stretch flex-col space-y-3 items-center justify-start py-1 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between px-3  rounded-lg">
              <div class="text-sm font-medium tracking-wide leading-normal text-center text-gray-800 pr-8">
                MY TICKET - VIEW TICKET
              </div>

              <div class="flex space-x-3 items-center justify-start ml-10">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Status:
                </div>
                <div
                  class="flex items-start justify-center px-3 py-1 bg-red-500 rounded-lg"
                  id="status"
                >
                  <div class="text-xs font-medium tracking-wide leading-none text-white">
                    {meta.value?.status_ticket?.status_ticket}
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/fimgs/909_1612.x1.png"
              style="padding-left:6px;padding-right:6px;"
            />
            <div class="flex self-stretch space-x-3 items-center justify-between px-3 py-1">
              <div class="flex flex-1 items-center justify-start">
                <div class="flex flex-1 space-x-2.5 items-center justify-start">
                  <div class="text-xs tracking-wide leading-none text-gray-700">
                    Ticket Type:
                  </div>
                  <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                    {meta.value?.ticket?.jenis_ticket?.jenis_ticket}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex self-stretch flex-col space-y-6 items-start justify-start p-2 bg-white shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <img
                    src={meta.photo}
                    style="width: 44px; min-width: 44px; max-width: 44px; height: 46px; min-height: 46px; max-height: 46px;"
                  />
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        {meta.value?.client?.nama_client}
                      </div>
                      <div class="text-xs font-medium tracking-wide leading-none text-center text-gray-700">
                        Submitted
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        {meta.value?.client?.users?.email}
                      </div>
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        {formatDay(meta.value?.tanggalMasuk_ticket)}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start p-2.5 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-800">
                    Subject: {meta.value?.ticket?.judul_ticket}
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2.5 border rounded-bl-lg rounded-br-lg border-gray-300">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    {meta.value?.ticket?.deskripsi_ticket}
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-start">
              {meta.value?.ticket?.attachment !== null &&
                meta.value?.ticket?.attachment !== "" && (
                  <img
                    src={
                      meta.value?.ticket?.attachment
                        ? "/uploads/" + meta.value?.ticket?.attachment
                        : "/fimgs/548_1020.x1.png"
                    }
                    style="width: 276px; min-width: 276px; max-width: 276px; height: 161px; min-height: 161px; max-height: 161px;"
                  />
                )}
              <div class="text-base tracking-wide leading-normal text-gray-700">
                {meta.value?.ticket?.attachment !== null &&
                meta.value?.ticket?.attachment !== ""
                  ? meta.value?.ticket?.attachment
                  : "No attachment ..."}
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start p-2 bg-gray-100 shadow rounded-lg">
            <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-end">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Imam Kurfian
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        21/10/2021 10:20
                      </div>
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        imam.12@tech.com
                      </div>
                    </div>
                  </div>
                  <img
                    src="/fimgs/907_1562.x3.png"
                    class="flex items-start justify-center shadow rounded-full"
                    style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;"
                  />
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-gray-700">
                  Disable your wordpress plugins.
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-start justify-start bg-white shadow rounded-lg">
            <div class="flex flex-1 flex-col items-start justify-start px-6 py-3">
              <div class="flex self-stretch flex-col space-y-3 items-center justify-start ">
                <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
                    <m-input
                      class="flex self-stretch items-start justify-start px-3 py-2 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                      style="height:101px;"
                      placeholder="Lorem Ipsum"
                      type="text"
                    />

                    <div class="flex self-stretch items-start justify-start">
                      <div class="flex flex-1 items-start justify-start">
                        <div class="flex items-center justify-center px-2.5 py-2 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-500">
                          <div class="text-sm tracking-wide leading-tight text-gray-700">
                            Select File
                          </div>
                        </div>
                        <m-input
                          class="flex flex-1 items-center justify-start py-1.5 pl-5 pr-2.5 border rounded-tr-lg rounded-br-lg border-gray-500"
                          style="height:36px;"
                          type="text"
                          placeholder="No File Selected"
                          // value={meta.message}
                          // onChange={(e) => meta.action.messageChange(e)}
                        />
                        {/*<div class="flex flex-1 items-center justify-start py-2 pl-5 pr-2.5 border rounded-tr-lg rounded-br-lg border-gray-500">*/}
                        {/*<div class="text-sm tracking-wide leading-tight text-gray-700">*/}
                        {/*No File Selected*/}
                        {/*</div>*/}
                        {/*</div>*/}
                      </div>
                    </div>
                  </div>
                  <div class="text-xs tracking-wide leading-none text-gray-500">
                    Allowed File Extensions: .jpg, .gif, .jpeg, .png, .pdf,
                    .zip, .csv, .sql, .tar, .gz
                  </div>
                </div>
                <m-link
                  class="flex space-x-3 items-center justify-start px-3 py-2 bg-red-900 rounded-full"
                  // href="/m/dashboard"
                  tabLink="#dashboard"
                >
                  <div class="text-sm font-medium tracking-wide leading-tight text-white">
                    send
                  </div>
                  <div class="flex items-center justify-center">
                    <img
                      src="/fimgs/712_1154.x1.svg"
                      style="width: 10px; min-width: 10px; max-width: 10px; height: 10px; min-height: 10px; max-height: 10px;background-image: url('/fimgs/bg-2bfa9fe2ca84d0e11b66dd721fd0a69eac8f96bb');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </m-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>