<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div
      class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start"
      style="height: 927px; min-height: 927px; max-height: 927px;"
    >
      <div
        class="flex self-stretch items-center justify-between px-6 py-3 bg-red-900"
        style="height: 60px; min-height: 60px; max-height: 60px;"
      >
        <div
          class="flex self-stretch items-center justify-start"
          style="width: 340px; min-width: 340px; max-width: 340px;"
        >
          <img
            src="/fimgs/29_406.x1.svg"
            style="width: 76.37px; min-width: 76.37px; max-width: 76.37px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div
          class="flex space-x-2 items-center justify-start"
          style="width: 104px; min-width: 104px; max-width: 104px; height: 30px; min-height: 30px; max-height: 30px;"
        >
          <img
            src="/fimgs/29_408.x1.svg"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="text-xs font-medium tracking-wide leading-none text-right text-white">
            hello, user!
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start"
        style="height: 855px; min-height: 855px; max-height: 855px;"
      >
        <div
          class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start px-3"
          style="height: 779px; min-height: 779px; max-height: 779px;"
        >
          <div
            class="flex self-stretch flex-col space-y-3 items-center justify-start py-1 bg-white shadow rounded-lg"
            style="height: 92px; min-height: 92px; max-height: 92px;"
          >
            <div
              class="flex self-stretch items-center justify-between px-3 py-2 rounded-lg"
              style="height: 42px; min-height: 42px; max-height: 42px;"
            >
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET - VIEW TICKET
              </div>
              <div class="flex space-x-3 items-center justify-start">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Status:
                </div>
                <div class="flex items-start justify-center px-3 py-1 bg-green-500 rounded-lg">
                  <div class="text-xs font-medium tracking-wide leading-none text-white">
                    OPEN
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex self-stretch items-center justify-start px-3"
              style="height: 18px; min-height: 18px; max-height: 18px;"
            >
              <div class="flex space-x-2.5 items-center justify-start">
                <div class="text-xs tracking-wide leading-none text-gray-700">
                  Ticket Type:
                </div>
                <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                  Maintenance ticket
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex self-stretch flex-col space-y-6 items-start justify-start p-2 bg-white shadow rounded-lg"
            style="height: 391px; min-height: 391px; max-height: 391px;"
          >
            <div
              class="flex self-stretch flex-col space-y-5 items-start justify-start"
              style="height: 164px; min-height: 164px; max-height: 164px;"
            >
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <div class="flex items-start justify-center shadow rounded-full">
                    <img
                      src="/fimgs/29_431.x1.png"
                      class="shadow rounded-full"
                      style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-74045356e80158be1f7f7952badbbe6483629bb0');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="text-sm font-medium tracking-wide leading-tight text-center text-gray-700">
                        Han Solo
                      </div>
                      <div class="text-xs font-medium tracking-wide leading-none text-center text-gray-700">
                        Submitted
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-xs tracking-wide leading-none text-center text-gray-500">
                        han.solo@startrek.com
                      </div>
                      <div class="text-xs tracking-wide leading-none text-gray-700">
                        19/10/2021 19:20
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start p-2.5 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-800">
                    Subject: My server down for several minutes.
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2.5 border rounded-bl-lg rounded-br-lg border-gray-300">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Something happen with my website hosting, please fix it.
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/fimgs/29_444.x1.svg"
              class="flex flex-col space-y-2 items-start justify-start"
              style="width: 276px; min-width: 276px; max-width: 276px; height: 187px; min-height: 187px; max-height: 187px;"
            />
          </div>
          <div
            class="flex self-stretch items-start justify-start bg-white shadow rounded-lg"
            style="height: 263px; min-height: 263px; max-height: 263px;"
          >
            <div class="flex flex-1 flex-col items-start justify-start px-6 py-3">
              <div
                class="flex self-stretch flex-col space-y-3 items-center justify-start"
                style="width: 342px; min-width: 342px; max-width: 342px; height: 239px; min-height: 239px; max-height: 239px;"
              >
                <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                  <div
                    class="flex self-stretch flex-col space-y-3 items-start justify-start"
                    style="height: 150px; min-height: 150px; max-height: 150px;"
                  >
                    <div
                      class="flex self-stretch items-start justify-start px-3 py-2 border rounded-lg border-gray-500"
                      style="width: 342px; min-width: 342px; max-width: 342px; height: 101px; min-height: 101px; max-height: 101px;"
                    >
                      <div class="text-sm tracking-wide leading-tight text-gray-700">
                        Lorem ipsum.
                      </div>
                    </div>
                    <div
                      class="flex self-stretch items-start justify-start"
                      style="width: 342px; min-width: 342px; max-width: 342px; height: 37px; min-height: 37px; max-height: 37px;"
                    >
                      <div class="flex flex-1 items-start justify-start">
                        <div class="flex items-center justify-center px-2.5 py-2 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-500">
                          <div class="text-sm tracking-wide leading-tight text-gray-700">
                            Select File
                          </div>
                        </div>
                        <div class="flex flex-1 items-center justify-start py-2 pl-5 pr-2.5 border rounded-tr-lg rounded-br-lg border-gray-500">
                          <div class="text-sm tracking-wide leading-tight text-gray-700">
                            No File Selected
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-xs tracking-wide leading-none text-gray-500">
                    Allowed File Extensions: .jpg, .gif, .jpeg, .png, .pdf,
                    .zip, .csv, .sql, .tar, .gz
                  </div>
                </div>
                <button
                  class="flex space-x-3 items-center justify-start px-3 py-2 bg-red-900 rounded-full"
                  style="width: 81px; min-width: 81px; max-width: 81px; height: 37px; min-height: 37px; max-height: 37px;"
                >
                  <div class="text-sm font-medium tracking-wide leading-tight text-white">
                    send
                  </div>
                  <img
                    src="/fimgs/29_463.x1.svg"
                    class="flex items-center justify-center"
                    style="width: 10px; min-width: 10px; max-width: 10px; height: 10px; min-height: 10px; max-height: 10px;"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex self-stretch items-start justify-between px-6 bg-white shadow"
          style="height: 64px; min-height: 64px; max-height: 64px;"
        >
          <div
            class="flex flex-col items-center justify-start p-2"
            style="height: 64px; min-height: 64px; max-height: 64px;"
          >
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/29_468.x1.svg"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-e3f3637260cb516e379328e4426bf83f03764fd3');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              Dashboard
            </div>
          </div>
          <div
            class="flex flex-col items-center justify-start p-2"
            style="height: 64px; min-height: 64px; max-height: 64px;"
          >
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/29_472.x1.svg"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-e3f3637260cb516e379328e4426bf83f03764fd3');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              New Ticket
            </div>
          </div>
          <div
            class="flex flex-col items-center justify-start p-2"
            style="height: 64px; min-height: 64px; max-height: 64px;"
          >
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/29_476.x1.svg"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-c33fb0a72c00dbfcfa46ba0702071ed80122ed2b');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-red-900">
              My Ticket
            </div>
          </div>
          <div
            class="flex flex-col items-center justify-start p-2"
            style="height: 64px; min-height: 64px; max-height: 64px;"
          >
            <img
              src="/fimgs/29_476.x1.svg"
              class="flex items-start justify-start"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
            />
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              Profile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>