<div class="flex flex-col  items-center m-6 h-stretch justify-start bg-gray-50">
  <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
    <div class="flex self-stretch space-x-4 items-center justify-start ">
      {/*<a*/}
      {/*href="/ticket-data"*/}
      {/*class=" flex space-x-2 items-center justify-center text-sm font-medium text-white"*/}
      {/*>*/}
      {/*<img*/}
      {/*src="/fimgs/585_1268.x1.svg"*/}
      {/*class="transform rotate-180"*/}
      {/*style=" max-width: 50px; max-height: 60px;background-image: url('/fimgs/bg-fb1910df1029f20b110a9988c1936352f60a74c4');background-size:100% ;"*/}
      {/*/>*/}
      {/*</a>*/}

      <div class="text-2xl font-medium tracking-wide leading-loose  text-gray-800">
        MY TICKET - VIEW TICKET
      </div>
    </div>
  </div>

  <div class="flex self-stretch space-x-4 items-center justify-start mt-3 ml-2">
    <div class="text-l font-medium tracking-wide leading-loose  text-gray-600 items-center justify-left">
      Ticket Type :
    </div>

    <div class="text-l font-medium tracking-wide leading-loose text-bold text-gray-800 ">
      Maintenance ticket
    </div>
  </div>

  <div class="flex flex-col w-full mt-5 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
    <div class="flex  self-stretch  items-left  ">
      <span>
        <img
          class="h-16 w-16  shadow-lg rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        />
      </span>
      <div class="flex flex-col  self-stretch  items-left  ml-5 ">
        <div class="text-l font-medium tracking-wide leading-loose  text-gray-800 ">
          Han Solo
        </div>

        <div class="text-l font-medium tracking-wide leading-loose  text-gray-600 ">
          han.solo@startrek.com
        </div>
      </div>
    </div>
    <div class="Flex flex-1 w-full items-right justify-center">
      <div class="text-l font-medium tracking-wide leading-loose  text-gray-600 items-right">
        19/10/2021 19:20
      </div>
    </div>
  </div>
</div>