<div class="flex flex-col  items-center m-6 h-stretch justify-start bg-gray-50">
  <div class="flex flex flex-col w-full  items-start justify-start py-4 bg-white shadow-md rounded-xl px-6">
    <div class="flex self-stretch space-x-4 items-center justify-start  ">
      <div class=" flex self-stretch space-x-4 items-center justify-start grid grid-cols-4 gap-2 ">
        <div>
          <div class=" text-lg font-bold tracking-wide leading-loose  text-gray-800">
            MY TICKET - VIEW TICKET
          </div>
        </div>
        <div class="place-self-auto ..."> </div>
        <div class="place-self-auto ..."> </div>
        <div>
          <div class="flex self-stretch  items-center justify-start place-self-end ">
            <div class="text-l  w-full font-medium tracking-wide leading-loose  text-gray-600 items-center justify-left ml-18">
              Status :
            </div>
            <div class="flex  w-stretch  items-start justify-start  bg-green-500 shadow-md rounded-xl px-6">
              <div class="text-l font-medium tracking-wide leading-loose text-bold text-white ">
                Open
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class=" w-full "></hr>

    <div class="flex self-stretch space-x-4 items-center justify-start  ">
      <div class="text-l font-medium tracking-wide leading-loose  text-gray-600 items-center justify-left">
        Ticket Type :
      </div>

      <div class="text-l font-medium tracking-wide leading-loose text-bold text-gray-800 ">
        Maintenance ticket
      </div>
    </div>
  </div>

  {/**/}
  <div class="flex flex-col w-full mt-5 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
    <div class="flex self-stretch space-x-4 items-center justify-start grid grid-cols-4 gap-2 mb-3">
      <div>
        <div class="flex  self-stretch  items-left  ">
          <span>
            <img
              class="h-22 w-22  shadow-lg rounded-full"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            />
          </span>
          <div class="flex flex-col  self-stretch  items-left  ml-5 ">
            <div class="text-l font-medium tracking-wide leading-loose  text-gray-800 ">
              Han Solo
            </div>

            <div class="text-l font-medium tracking-wide leading-loose  text-gray-600 ">
              han.solo@startrek.com
            </div>
          </div>
        </div>
      </div>
      <div class="place-self-end ..."> </div>
      <div class="place-self-end ..."> </div>
      <div>
        <div class="Flex flex-1 w-full items-right justify-center place-self-end">
          <div class="text-l font-medium tracking-wide leading-loose  text-gray-600 items-right">
            19/10/2021 19:20
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-start flex-col w-full  items-start justify-start bg-gray-200 shadow-md px-6 ">
      <div class="flex flex-end text-l font-medium  tracking-wide leading-loose  text-gray-800 items-right">
        Subject: My server down for several minutes.
      </div>
    </div>

    <div class="flex flex-start text-l font-small tracking-wide leading-loose  text-gray-700 items-right mt-5">
      Something happen with my website hosting, please fix it.
    </div>

    <div class="flex flex-col flex-start text-l font-small tracking-wide leading-loose  text-gray-700 items-right mt-5">
      <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" />
      <div class="flex flex-start text-sm font-small tracking-wide leading-loose  text-gray-700 items-right mt-5">
        image 1.png
      </div>
    </div>
  </div>
  {/*  */}
  <div class="flex flex-col w-full mt-5 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
    <div class="flex flex-col self-stretch items-start justify-start space-y-6 mr-6 w-full">
      <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
        <textarea
          class="flex self-stretch text-gray-600 w-full h-48 items-center justify-start py-2 pl-4 pr-5  border rounded-lg border-gray-500 text-sm "
          placeholder="Lorem Ipsum"
        />
      </div>
    </div>

    <div class="flex  w-full items-center justify-start mt-8 ">
      <div class="flex  w-full items-center justify-start">
        <div class="w-48 items-center justify-center px-2.5 py-1 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-500">
          <div class="text-lg tracking-wide leading-relaxed pl-3">
            Select File
          </div>
        </div>

        <div class="w-full items-center justify-start  py-1 pl-5 pr-2.5 border rounded-tr-lg rounded-br-lg border-gray-500">
          <div class="flex text-lg tracking-wide leading-relaxed">
            <input placeholder="No File Selected" />
          </div>
        </div>
      </div>
      <div class="flex  w-full items-end justify-start px-5 ">
        <div class="flex  w-stretch items-center justify-start px-2 ">
          <button
            // onClick={() => {
            //   meta.action.addData();
            // }}
            class="flex space-x-3 items-center justify-center px-6 py-2  border-px-6 bg-white border-black shadow rounded-full"
            style="max-width: 200px;"
          >
            <div class="text-sm font-medium tracking-wide leading-relaxed bg-white">
              Cancel
            </div>
          </button>
        </div>
        <div class="flex  w-stretch items-center justify-start px-2 ">
          <button
            // onClick={() => {
            //   meta.action.addData();
            // }}
            class="flex-none space-x-3 items-center justify-center px-6 bg-red-900 shadow rounded-full"
            style="max-width: 200px;"
          >
            <div class="font-medium tracking-wide leading-loose text-bold text-white ">
              Send Reply
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="text-sm tracking-wide leading-relaxed mt-3">
      Allowed File Extensions: .jpg, .gif, .jpeg, .png, .pdf, .zip, .csv, .sql,
      .tar, .gz
    </div>
  </div>
</div>