<>
  <effect
    meta={{
      username: "",
      password: "",
      showMessage: false,
      message: "Error",
      login: (e) => {
        console.log(e.target.value);
      },
    }}
    run={async () => {
      meta.action = {
        usernameChange: (e) => {
          runInAction(() => {
            meta.username = e.target.value;
            console.log(meta.username);
          });
        },
        passwordChange: (e) => {
          runInAction(() => {
            meta.password = e.target.value;
            console.log(meta.password);
          });
        },
        login: (e) => {
          api("/api/login", {
            username: meta.username,
            password: meta.password,
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              window.location.replace("/coba");
            } else {
              meta.message = e.message;
              meta.showMessage = true;
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-center justify-center bg-gray-50">
    <div
      class="items-center justify-center bg-gray-50"
      style="width: 350px; max-width: 350px;"
    >
      <div class="self-stretch flex-col items-center justify-center shadow-xl rounded-2xl">
        <div class="flex flex-col items-center justify-center bg-white border-2 rounded-tl-2xl rounded-tr-2xl border-red-900">
          <div class="flex flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center p-2.5">
              <img
                src="/fimgs/425_841.x1.png"
                style="max-width: 174px; max-height: 60px;"
              />
            </div>
            <div class="flex items-start justify-center pb-2">
              <div class="text-3xl font-medium tracking-wide leading-10 text-center text-gray-800">
                Login
              </div>
            </div>
          </div>
          {meta.showMessage && (
            <div
              id="myWarning"
              class="flex items-center w-full justify-center bg-red-300 text-red-900 px-4 py-2"
            >
              {meta.message}
            </div>
          )}
        </div>
        <div class="flex flex-col space-y-2 items-center justify-center bg-red-900 rounded-bl-2xl rounded-br-2xl pb-8">
          <div class="flex flex-col w-full items-start justify-start px-2">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start p-2.5">
              <div class="text-lg tracking-wide pt-4 leading-relaxed text-white">
                Username
              </div>
              <input
                type="text"
                value={meta.username}
                onChange={(e) => meta.action.usernameChange(e)}
                class="flex self-stretch items-center font-medium justify-start py-2 pl-4 pr-5 bg-white rounded-lg text-sm"
                placeholder="type your username here ..."
              />
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start p-2.5">
              <div class="text-lg tracking-wide leading-relaxed text-white">
                Password
              </div>
              <div class="flex items-start w-full justify-start">
                <input
                  type="password"
                  value={meta.password}
                  onChange={(e) => meta.action.passwordChange(e)}
                  class="flex items-center justify-start w-full py-2 pl-4 text-sm font-medium pr-5 bg-white rounded-tl-lg rounded-bl-lg"
                  placeholder="type your password here ..."
                />
                <div
                  class="flex items-start justify-start p-2 bg-white rounded-tr-lg rounded-br-lg"
                  style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
                >
                  <img
                    src="/fimgs/I425_855_196_154.x1.png"
                    style="max-width: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            onClick={() => {
              meta.action.login();
            }}
            class="flex items-center justify-center px-4 py-1 bg-green-500 shadow rounded-2xl"
          >
            <div class="text-md px-4 font-medium tracking-wide leading-relaxed text-white">
              Login
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</>