<>
  <effect
    meta={{
      departments: [],
      levels: [],
      talks: [],
      value: {},
      id_ticket: 0,
      id_department: 0,
      id_employee: null,
      id_level_ticket: 0,
      chat: false,
      message: "",
      msg: "",
      attachment: "",
      photo: "/uploads/profiles/default.png",

      validationCheck() {
        this.msg =
          this.message === "" || this.message === null
            ? "Your message is empty. Make sure all forms are filled and try again."
            : false;
        return this.msg;
      },

      validationCheck1() {
        this.msg =
          this.id_department === "" ||
          this.id_department === null ||
          this.id_department === 0
            ? "Your department name is empty. Make sure all forms are filled and try again."
            : this.id_level_ticket === "" ||
              this.id_level_ticket === null ||
              this.id_level_ticket === 0
            ? "Your level ticket is empty. Make sure all forms are filled and try again."
            : false;
        return this.msg;
      },

      async upload(file) {
        const formData = _FormData();

        formData.append("path", "attachment");
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },
    }}
    run={async () => {
      let modal = document.getElementById("my-modal");
      let success = document.getElementById("my-success");
      let loading = document.getElementById("my-loading");
      let initiate = document.getElementById("my-initiate");
      let failed = document.getElementById("my-failed");
      modal.style.display = "block";
      initiate.style.display = "block";
      meta.id_ticket = parseInt(params.id);
      await db.history_ticket
        .findUnique({
          where: {
            id_ticket: meta.id_ticket,
          },
          include: {
            level_ticket: true,
            status_ticket: true,
            client: true,
            employee: true,
            department: true,
            ticket: {
              include: {
                jenis_ticket: true,
              },
            },
          },
        })
        .then((e) => {
          modal.style.display = "none";
          initiate.style.display = "none";
          meta.value = e;
        });
      meta.value?.client?.foto_profile !== null
        ? (meta.photo = "/uploads/" + meta.value?.client?.foto_profile)
        : (meta.photo = "/uploads/profiles/default.png");
      meta.talks = await db.percakapan.findMany({
        where: {
          id_history_ticket: meta.value?.id_history_ticket,
        },
        include: {
          users: true,
        },
      });
      if (meta.value?.status_ticket?.status_ticket == "OPEN") {
        document.getElementById("status").classList.add("bg-green-500");
      } else if (meta.value?.status_ticket?.status_ticket == "ASSIGNED") {
        document.getElementById("status").classList.add("bg-yellow-500");
      } else if (meta.value?.status_ticket?.status_ticket == "IN PROGRESS") {
        document.getElementById("status").classList.add("bg-red-500");
      } else {
        document.getElementById("status").classList.add("bg-gray-800");
      }
      if (user.role === "Vendor" || user.role === "Superadmin") {
        if (meta.value?.status_ticket?.status_ticket === "OPEN") {
          meta.departments = await api("/api/get-department");
          meta.levels = await api("/api/get-level");
        }
        if (meta.value?.status_ticket?.status_ticket === "RESOLVED") {
          meta.chat = true;
        }
      } else {
        meta.chat = true;
      }
      if (user.role === "Employee") {
        meta.id_employee = user.dataUser.id_employee;
      }
      meta.action = {
        namaDepartmentChange: (e, f) => {
          runInAction(() => {
            meta.id_department = parseInt(e);
            console.log(meta.id_department);
          });
        },
        levelChange: (e, f) => {
          runInAction(() => {
            meta.id_level_ticket = parseInt(e);
            console.log(meta.id_level_ticket);
          });
        },
        messageChange: (e) => {
          runInAction(() => {
            meta.message = e.target.value;
            console.log(meta.message);
          });
        },
        attachmentChange: (e) => {
          runInAction(() => {
            meta.attachment = e.target.value;
            console.log(meta.attachment);
          });
        },
        tryAgain: () => {
          runInAction(() => {
            modal.style.display = "none";
            failed.style.display = "none";
          });
        },
        assignData: (e) => {
          let error_msg = meta.validationCheck1();
          modal.style.display = "block";
          if (error_msg) {
            failed.style.display = "block";
          } else {
            loading.style.display = "block";
            api("/api/assign", {
              id_ticket: meta.id_ticket,
              id_level_ticket: meta.id_level_ticket,
              id_status_ticket: 2,
              id_department: meta.id_department,
            }).then((e) => {
              console.log(e);
              if (e.status == "SUCCESS") {
                loading.style.display = "none";
                success.style.display = "block";
                window.location.reload();
              } else {
                modal.style.display = "none";
                loading.style.display = "none";
                console.log(e);
              }
            });
          }
        },
        resolveData: (e) => {
          modal.style.display = "block";
          loading.style.display = "block";
          api("/api/resolve", {
            id_ticket: meta.id_ticket,
            tanggal_solved: new Date(),
            id_status_ticket: 4,
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              loading.style.display = "none";
              success.style.display = "block";
              window.location.reload();
            } else {
              modal.style.display = "none";
              loading.style.display = "none";
              console.log(e);
            }
          });
        },
        addMessage: (e) => {
          let error_msg = meta.validationCheck();
          modal.style.display = "block";
          if (error_msg) {
            failed.style.display = "block";
          } else {
            loading.style.display = "block";
            api("/api/message", {
              tanggal_waktu_percakapan: new Date(),
              isi_percakapan: meta.message,
              attachment: meta.attachment,
              id_history_ticket: parseInt(meta.value.id_history_ticket),
              id_user: parseInt(user.dataUser.id_user),
              id_employee: meta.id_employee,
            }).then((e) => {
              console.log(e);
              if (e.status == "SUCCESS") {
                loading.style.display = "none";
                success.style.display = "block";
                window.location.reload();
              } else {
                modal.style.display = "none";
                loading.style.display = "none";
                console.log(e);
              }
            });
          }
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch items-start justify-start px-6">
        <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start py-6 rounded-2xl">
          <div class="flex flex-1 flex-col w-full  items-start justify-start py-6 bg-white shadow rounded-lg px-6">
            <div class="flex self-stretch items-center justify-between">
              <div class="flex flex-col md:flex-row w-full space-y-3 md:space-y-0 items-center md:space-x-6 justify-start">
                <div class="text-2xl font-medium tracking-wide w-full leading-loose text-gray-800">
                  MY TICKET - VIEW TICKET
                </div>
                <div class="flex self-stretch items-center justify-start md:justify-end md:space-x-3 w-full md:w-96 place-self-end ">
                  <div class="text-l hidden md:block font-medium tracking-wide leading-loose text-gray-600 items-start justify-center">
                    Status :
                  </div>
                  <div
                    class="flex  w-stretch  items-start justify-start rounded-lg px-8"
                    id="status"
                  >
                    <div class="flex place-self-start text-xs font-medium tracking-wide leading-loose py-0.5 text-bold text-white">
                      {meta.value?.status_ticket?.status_ticket}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class=" w-full mt-2 mb-4"></hr>
            <div class="flex self-stretch items-center justify-start">
              <div class=" flex flex-row self-stretch w-full items-center justify-start">
                <div class="flex w-full items-center md:space-x-3 justify-start">
                  <div class="text-base hidden md:block tracking-wide leading-loose text-gray-600 items-center justify-start">
                    Ticket Type :
                  </div>
                  <div class="flex text-base font-medium tracking-wide leading-loose text-gray-800">
                    {meta.value?.ticket?.jenis_ticket?.jenis_ticket}
                  </div>
                </div>
                {user.role === "Employee" &&
                  meta.value?.status_ticket?.status_ticket !== "RESOLVED" && (
                    <div class="flex self-stretch w-full md:space-x-3 items-center justify-start justify-end">
                      <div class="text-l hidden md:block tracking-wide leading-loose text-gray-600 items-center justify-left ">
                        if ticket is resolved, click here:
                      </div>
                      <div class="flex  w-stretch items-center justify-start ">
                        <button
                          class="flex space-x-3 items-center justify-center border border-red-900 py-2 bg-red-900 shadow rounded-full"
                          style="width: 120px;"
                          onClick={() => {
                            meta.action.resolveData();
                          }}
                        >
                          <div class=" flex space-x-3 items-center justify-center text-sm font-medium text-white">
                            <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
                              Done
                            </div>
                            <img
                              src="/fimgs/bg-dc5f4861471868e0c6cb28ee63543cade6fea6bd"
                              style="max-width: 20px;max-height: 20px;"
                            />
                          </div>
                        </button>
                      </div>
                    </div>
                  )}
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start p-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch items-end justify-start">
                <div class="flex flex-1 space-x-6 items-center justify-start">
                  <div class="flex items-start justify-center shadow rounded-full">
                    <img
                      src={meta.photo}
                      class="shadow rounded-full"
                      style="width: 60px; height: 60px;"
                    />
                  </div>
                  <div class="flex flex-1 flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="text-lg font-medium tracking-wide leading-relaxed text-center text-gray-700">
                        {meta.value?.client?.nama_client}
                      </div>
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-700">
                        Submitted
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-between">
                      <div class="text-lg tracking-wide leading-relaxed text-center text-gray-500">
                        {meta.value?.client?.email_client}
                      </div>
                      <div class="text-base hidden md:block tracking-wide leading-normal text-gray-700">
                        {meta.value?.tanggalMasuk_ticket}
                      </div>
                      <div class="text-base md:hidden tracking-wide leading-normal text-gray-700">
                        {meta.value?.tanggalMasuk_ticket}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch items-start justify-start p-2.5 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-800">
                  Subject: {meta.value?.ticket?.judul_ticket}
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start p-2.5 border rounded-bl-lg rounded-br-lg border-gray-300">
                <div
                  class="text-base tracking-wide leading-normal text-gray-700"
                  style="min-height: 200px;"
                >
                  {meta.value?.ticket?.deskripsi_ticket}
                </div>
              </div>
            </div>
            <div class="flex flex-col self-stretch space-y-2 md:space-y-0 md:space-x-2 md:flex-row">
              <div class="flex flex-col space-y-4 items-start justify-start">
                {meta.value?.ticket?.attachment !== null &&
                  meta.value?.ticket?.attachment !== "" && (
                    <img
                      src={
                        meta.value?.ticket?.attachment
                          ? "/uploads/" + meta.value?.ticket?.attachment
                          : "/fimgs/548_1020.x1.png"
                      }
                      style="width: 276px; min-width: 276px; max-width: 276px; height: 161px; min-height: 161px; max-height: 161px;"
                    />
                  )}
                <div class="text-base tracking-wide leading-normal text-gray-700">
                  {meta.value?.ticket?.attachment !== null &&
                  meta.value?.ticket?.attachment !== ""
                    ? meta.value?.ticket?.attachment
                    : "No attachment ..."}
                </div>
              </div>
            </div>
          </div>
          {user.role === "Vendor" &&
            meta.value?.status_ticket?.status_ticket === "OPEN" && (
              <div class="flex self-stretch flex-col items-start justify-start p-6 bg-white shadow rounded-lg">
                <div class="flex self-stretch flex-col space-y-6 items-end justify-start">
                  <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                    <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                      Assign to:
                    </div>
                    <hr class=" w-full" />
                    <div class="flex flex-col md:flex-row self-stretch space-y-2 md:space-y-0 md:space-x-6 items-start justify-start rounded-lg">
                      <div class="flex flex-1 flex-col w-full items-start justify-start">
                        <div class="flex self-stretch items-start justify-start py-2.5 pr-2.5">
                          <div class="text-base tracking-wide leading-normal text-gray-500">
                            Department
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-between w-full">
                          <select
                            class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-white rounded-lg text-sm text-gray-600 tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                            onChange={(e) => {
                              meta.action.namaDepartmentChange(
                                e.target.value,
                                "id_department"
                              );
                            }}
                          >
                            <option key="" value="">
                              Select department ...
                            </option>
                            {meta.departments?.data?.map((p) => (
                              <option
                                key={p.id_department}
                                value={p.id_department}
                              >
                                {p.nama_department} Department
                              </option>
                            ))}
                          </select>
                        </div>
                      </div>
                      <div class="flex flex-1 flex-col w-full items-start justify-start">
                        <div class="flex self-stretch items-start justify-start py-2.5 pr-2.5">
                          <div class="text-base tracking-wide leading-normal text-gray-500">
                            Priority
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-between w-full">
                          <select
                            class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-white rounded-lg text-sm text-gray-600 tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                            onChange={(e) => {
                              meta.action.levelChange(
                                e.target.value,
                                "id_level_ticket"
                              );
                            }}
                          >
                            <option key="" value="">
                              Select priority ...
                            </option>
                            {meta.levels?.data?.map((p) => (
                              <option
                                key={p.id_level_ticket}
                                value={p.id_level_ticket}
                              >
                                {p.level_ticket}
                              </option>
                            ))}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-end">
                    <button
                      class="flex space-x-3 items-center justify-center border border-red-900 py-2 bg-red-900 shadow rounded-full"
                      style="width: 120px;"
                      onClick={() => {
                        meta.action.assignData();
                      }}
                    >
                      <div class=" flex space-x-3 items-center justify-center text-sm font-medium text-white">
                        <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
                          Assign
                        </div>
                        <img
                          src="/fimgs/828_1333.x1.svg"
                          style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-234efc4329ceab0f491401f2c2d9e7e154bad83a');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            )}
          {meta.chat &&
            meta.talks?.map((p) => (
              <div class="flex self-stretch flex-col space-y-6 items-start justify-start shadow rounded-lg">
                {p.id_user === user.dataUser.id_user && (
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start bg-white  p-6">
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="flex self-stretch items-end justify-start">
                        <div class="flex flex-1 space-x-6 items-center justify-start">
                          <div class="flex flex-1 flex-col items-start justify-start">
                            <div class="flex self-stretch items-start justify-end">
                              <div class="text-lg font-medium tracking-wide leading-relaxed text-center text-gray-700">
                                {p.users.id_role === 3 &&
                                  meta.value?.client?.nama_client}
                                {p.users.id_role === 4 &&
                                  meta.value?.employee?.nama_employee}
                              </div>
                            </div>
                            <div class="flex self-stretch items-center justify-between">
                              <div class="text-base hidden md:block tracking-wide leading-normal text-gray-700">
                                {p.tanggal_waktu_percakapan}
                              </div>
                              <div class="text-base md:hidden tracking-wide leading-normal text-gray-700">
                                {p.tanggal_waktu_percakapan}
                              </div>
                              <div class="text-lg tracking-wide leading-relaxed text-center text-gray-500">
                                {p.users.id_role === 3 &&
                                  meta.value?.client?.email_client}

                                {p.users.id_role === 4 &&
                                  meta.value?.employee?.email_employee}
                              </div>
                            </div>
                          </div>
                          <div class="flex items-start justify-center shadow rounded-full">
                            {p.users.id_role === 3 && (
                              <img
                                src={
                                  meta.value?.client?.foto_profile
                                    ? meta.value?.client?.foto_profile
                                    : meta.photo
                                }
                                class="shadow rounded-full"
                                style="width: 60px; height: 60px;"
                              />
                            )}
                            {p.users.id_role === 4 && (
                              <img
                                src={
                                  meta.value?.employee?.foto_profile
                                    ? meta.value?.employee?.foto_profile
                                    : meta.photo
                                }
                                class="shadow rounded-full"
                                style="width: 60px; height: 60px;"
                              />
                            )}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start p-2.5 rounded-bl-lg rounded-br-lg border-gray-300">
                        <div class="text-base tracking-wide leading-normal text-gray-700">
                          {p.isi_percakapan}
                        </div>
                      </div>
                    </div>
                  </div>
                )}
                {p.id_user !== user.dataUser.id_user && (
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start bg-white  p-6">
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="flex self-stretch items-end justify-start">
                        <div class="flex flex-1 space-x-6 items-center justify-start">
                          <div class="flex items-start justify-center shadow rounded-full">
                            {p.users.id_role === 3 && (
                              <img
                                src={
                                  meta.value?.client?.foto_profile
                                    ? meta.value?.client?.foto_profile
                                    : meta.photo
                                }
                                class="shadow rounded-full"
                                style="width: 60px; height: 60px;"
                              />
                            )}
                            {p.users.id_role === 4 && (
                              <img
                                src={
                                  meta.value?.employee?.foto_profile
                                    ? meta.value?.employee?.foto_profile
                                    : meta.photo
                                }
                                class="shadow rounded-full"
                                style="width: 60px; height: 60px;"
                              />
                            )}
                          </div>
                          <div class="flex flex-1 flex-col items-start justify-start">
                            <div class="flex self-stretch items-start justify-between">
                              <div class="text-lg font-medium tracking-wide leading-relaxed text-center text-gray-700">
                                {p.users.id_role === 3 &&
                                  meta.value?.client?.nama_client}
                                {p.users.id_role === 4 &&
                                  meta.value?.employee?.nama_employee}
                              </div>
                            </div>
                            <div class="flex self-stretch items-center justify-between">
                              <div class="text-lg tracking-wide leading-relaxed text-center text-gray-500">
                                {p.users.id_role === 3 &&
                                  meta.value?.client?.email_client}
                                {p.users.id_role === 4 &&
                                  meta.value?.employee?.email_employee}
                              </div>
                              <div class="text-base hidden md:block tracking-wide leading-normal text-gray-700">
                                {p.tanggal_waktu_percakapan}
                              </div>
                              <div class="text-base md:hidden tracking-wide leading-normal text-gray-700">
                                {p.tanggal_waktu_percakapan}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start p-2.5 rounded-bl-lg rounded-br-lg border-gray-300">
                        <div class="text-base tracking-wide leading-normal text-gray-700">
                          {p.isi_percakapan}
                        </div>
                      </div>
                    </div>
                  </div>
                )}
              </div>
            ))}
          {(user.role === "Client" || user.role === "Employee") &&
            meta.value?.status_ticket?.status_ticket !== "RESOLVED" && (
              <div class="flex flex-1 flex-col w-full items-start justify-start py-6 bg-white shadow rounded-lg px-6">
                <div class="text-xl font-medium tracking-wide leading-loose pb-2 text-center text-gray-800 ">
                  Message
                </div>
                <hr class=" w-full pb-4"></hr>
                <div class="flex flex-col space-y-4 w-full items-center justify-start mt-2">
                  <div class="flex flex-col self-stretch items-start justify-start space-y-6 w-full">
                    <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
                      <textarea
                        class="flex self-stretch shadow appearance-none h-48 border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-gray-400  border border-gray-300"
                        placeholder="Enter Your Text Here"
                        value={meta.message}
                        onChange={(e) => meta.action.messageChange(e)}
                      />
                    </div>
                    <div class="flex flex-col space-y-3 md:flex-row md:space-y-0 md:items-start w-full items-end justify-start md:space-x-6">
                      <div class="flex flex-col w-full self-stretch space-y-3 items-start justify-center border-px-3 leading-tight focus:outline-none focus:bg-white">
                        <input
                          type="file"
                          class="shadow appearance-none border py-1.5 px-2 rounded-lg w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-2 border-gray-300 focus:border-gray-400"
                          placeholder="Lorem Ipsum"
                          onChange={(e) => {
                            runInAction(async () => {
                              const upload = await meta.upload(
                                e.target.files[0]
                              );
                              runInAction(() => {
                                console.log(upload.path);
                                meta.attachment = upload.path;
                              });
                            });
                          }}
                        />
                        <div class="text-sm tracking-wide leading-relaxed">
                          Allowed File Extensions: .jpg, .gif, .jpeg, .png,
                          .pdf, .zip, .csv, .sql, .tar, .gz
                        </div>
                      </div>
                      <button
                        class="flex space-x-3 items-center justify-center border border-red-900 py-2 bg-red-900 shadow rounded-full"
                        style="min-width: 120px;"
                        onClick={() => {
                          meta.action.addMessage();
                        }}
                      >
                        <div class=" flex space-x-3 items-center justify-center text-sm font-medium text-white">
                          <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
                            Send
                          </div>
                          <img
                            src="/fimgs/828_1333.x1.svg"
                            style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-234efc4329ceab0f491401f2c2d9e7e154bad83a');background-size:100% 100%;background-repeat:no-repeat;"
                          />
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            )}
          {user.role === "Vendor" &&
            meta.value?.status_ticket?.status_ticket !== "OPEN" &&
            meta.value?.status_ticket?.status_ticket !== "RESOLVED" && (
              <div class="flex self-stretch flex-col space-y-5 items-center justify-start">
                <img
                  src="/fimgs/798_1214.x1.png"
                  style="width: 350px; min-width: 350px; max-width: 350px; height: 350px; min-height: 350px; max-height: 350px;background-image: url('/fimgs/bg-b3b382edd939e2e7dea7dc343f4fbdd974942cf4');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="text-base tracking-wide leading-normal text-gray-800">
                  This ticket has been assigned to{" "}
                  {meta.value?.department?.nama_department} department.
                </div>
              </div>
            )}
        </div>
      </div>
    </div>
  </div>

  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-success" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full bg-red-100">
          <svg
            class="h-10 w-10 text-red-900"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Data has been successfully updated!
          </p>
        </div>
      </div>
      <div id="my-loading" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Processing ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the saving process
          </p>
        </div>
      </div>
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>

      <div id="my-failed" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full">
          <svg
            class="h-24 w-24 text-red-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 14L12 12M12 12L14 10M12 12L10 10M12 12L14 14M21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4442 20.3149C14.3522 20.7672 13.1819 21 12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 9.61305 3.94821 7.32387 5.63604 5.63604C7.32387 3.94821 9.61305 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-red-600">
          Failed to Save
        </h3>
        <div class="mt-3 px-3 py-3">
          <p class="text-sm text-gray-500">{meta.msg}</p>
        </div>
        <div class="px-3 py-2">
          <button
            onClick={() => {
              meta.action.tryAgain();
            }}
            class="flex items-center w-full justify-center bg-red-900 shadow rounded-2xl"
          >
            <div class="text-base px-4 py-1 font-medium tracking-wide leading-relaxed text-white">
              I'm understand, try again
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</>