<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
      <div class="flex flex-1 self-stretch items-start justify-start pt-6">
        <div class="flex flex-1 self-stretch flex-col items-center justify-between">
          <div class="flex space-x-9 items-start justify-start">
            <div class="flex flex-col space-y-2 items-center justify-start px-6 py-8 bg-white shadow rounded-lg">
              <div class="flex items-start justify-start shadow">
                <div style="background-image: url('/fimgs/bg-567b3d8e1b328d8d781dd29aca7dfc8acc335b4d');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="text-3xl font-medium tracking-wide leading-10 text-center text-gray-700">
                Jhon Doe
              </div>
              <div class="text-xl tracking-wide leading-loose text-center text-gray-500">
                service@majujaya.com
              </div>
            </div>
            <div class="flex flex-col space-y-3 items-start justify-start px-4 py-2 bg-white shadow rounded-lg">
              <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                PERSONAL DATA
              </div>
              <div class="flex flex-col space-y-2 items-start justify-start">
                <div class="flex space-x-5 items-start justify-start">
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex items-start justify-start p-2.5">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                          Username
                        </div>
                      </div>
                      <div class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                          majujaya9
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex items-start justify-start p-2.5">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                          Password
                        </div>
                      </div>
                      <div class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                          9majujaya
                        </div>
                        <div class="flex items-start justify-start p-1 bg-white rounded-tr-lg rounded-br-lg">
                          <div style="background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex items-start justify-start p-2.5">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                          Company
                        </div>
                      </div>
                      <div class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                          PT. Maju Jaya
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex items-start justify-start p-2.5">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                          Phone
                        </div>
                      </div>
                      <div class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                        <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                          089831548197
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex items-center justify-between">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-500">
                      *if it’s your first time log in, you can change your
                      password.
                    </div>
                  </div>
                  <div class="flex items-center justify-start py-1">
                    <div class="flex items-center justify-start px-1 py-0.5 bg-red-900 shadow rounded-tl rounded-bl">
                      <div style="background-image: url('/fimgs/bg-1fd48536d17bf3ef8c5ab852da4061da678916e4');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start pr-2 pt-0.5 bg-red-900 border rounded-tr rounded-br border-red-900">
                      <div class="text-xs tracking-wide leading-none text-white">
                        change pass
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-start justify-center px-2 py-1 bg-white">
            <div class="text-xs tracking-wide leading-none text-gray-500">
              © 2021. Crafted by ANDROMEDIA INTERNSHIP TEAM - 2
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>