<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <regist-vendor />
      <div class="flex flex-1 self-stretch items-start justify-start pr-12">
        <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start px-3 py-6">
          <div class="flex self-stretch items-start justify-between">
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  Open
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  8
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2505.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-8b161fe1fbd27f1556a48271e6bce7f06dad0a36');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2460.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  Assigned
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  8
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2503.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-454b9bed72f826ab811fceee9aebe06411f3c2a3');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2504.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  In Progress
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  8
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2452.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-2a6278349cf902eccb278d7bafaa4ad3d08a2ec7');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2453.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  Resolved
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  8
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2466.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-3488a1685dd8d7da4750dd77dc036ba7eb399886');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2467.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
          </div>
          <div class="flex self-stretch space-x-5 items-start justify-start">
            <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-center justify-start">
                <div class="flex items-start justify-start p-2">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Ticket by level:
                  </div>
                </div>
                <div class="flex flex-1 items-center justify-start border rounded-lg border-gray-500">
                  <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                    <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                      November 2021
                    </div>
                  </div>
                  <div class="flex flex-col items-center justify-center transform -rotate-90">
                    <div
                      class="transform rotate-90"
                      style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <div class="border-gray-500" />
              <doghnutchart-dlevel />
            </div>
            <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-center justify-start">
                <div class="flex items-start justify-start p-2">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Ticket by type:
                  </div>
                </div>
                <div class="flex flex-1 items-center justify-start border rounded-lg border-gray-500">
                  <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                    <div class="text-xs font-medium tracking-wide leading-none text-gray-600">
                      November 2021
                    </div>
                  </div>
                  <div class="flex flex-col items-center justify-center transform -rotate-90">
                    <div
                      class="transform rotate-90"
                      style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <div class="border-gray-500" />
              <doghnutchart-dtype />
            </div>
          </div>
          <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-start">
              <div class="flex items-start justify-start p-2">
                <div class="text-base tracking-wide leading-normal text-gray-700">
                  Performance
                </div>
              </div>
              <div class="flex flex-1 items-center justify-start">
                <div class="flex flex-col items-center justify-center transform -rotate-90">
                  <div
                    class="transform rotate-90"
                    style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                </div>
              </div>
            </div>
            <div class="border-gray-500" />
            <div class="w-full">
              <tabelperform />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>