<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <regist-vendor />
      <div class="flex flex-1 self-stretch items-start justify-start px-6">
        <div class="flex flex-1 flex-col space-y-5 items-start justify-start px-3 py-6">
          <div class="flex self-stretch items-start justify-between">
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-xl font-medium tracking-wide leading-loose text-gray-500">
                  Open
                </div>
                <div class="text-3xl font-medium tracking-wide leading-10 text-gray-500">
                  2
                </div>
              </div>
              <img
                src="/fimgs/1417_2084.x3.png"
                class="flex items-start justify-start p-3"
                style="width: 104px; min-width: 104px; max-width: 104px; height: 104px; min-height: 104px; max-height: 104px;"
              />
              <img
                src="/fimgs/1417_2086.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 108px; min-height: 108px; max-height: 108px;"
              />
            </div>
            <div class="flex items-start justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-xl font-medium tracking-wide leading-loose text-gray-500">
                  Assigned
                </div>
                <div class="text-3xl font-medium tracking-wide leading-10 text-gray-500">
                  4
                </div>
              </div>
              <div class="flex items-start justify-start p-3">
                <img
                  src="/fimgs/1417_2027.x3.png"
                  style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-454b9bed72f826ab811fceee9aebe06411f3c2a3');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1417_2028.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 108px; min-height: 108px; max-height: 108px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-xl font-medium tracking-wide leading-loose text-gray-500">
                  In Progress
                </div>
                <div class="text-3xl font-medium tracking-wide leading-10 text-gray-500">
                  8
                </div>
              </div>
              <img
                src="/fimgs/1417_2033.x3.png"
                class="flex items-start justify-start p-3"
                style="width: 104px; min-width: 104px; max-width: 104px; height: 104px; min-height: 104px; max-height: 104px;"
              />
              <img
                src="/fimgs/1417_2035.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 108px; min-height: 108px; max-height: 108px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-xl font-medium tracking-wide leading-loose text-gray-500">
                  Resolved
                </div>
                <div class="text-3xl font-medium tracking-wide leading-10 text-gray-500">
                  2
                </div>
              </div>
              <img
                src="/fimgs/1417_2040.x3.png"
                class="flex items-start justify-start p-3"
                style="width: 104px; min-width: 104px; max-width: 104px; height: 104px; min-height: 104px; max-height: 104px;"
              />
              <img
                src="/fimgs/1417_2042.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 108px; min-height: 108px; max-height: 108px;"
              />
            </div>
          </div>
          <div class="flex self-stretch items-start justify-start">
            <div class="flex flex-1 items-start justify-start">
              <div class="flex flex-1 space-x-5 items-start justify-start">
                <div class="flex flex-1 flex-col space-y-5 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
                    <div class="flex self-stretch items-center justify-between">
                      <div class="flex items-start justify-start p-2">
                        <div class="text-sm tracking-wide leading-tight text-gray-700">
                          Ticket by level:
                        </div>
                      </div>
                      <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                        <div class="flex items-start justify-start px-4 py-2 rounded-lg">
                          <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                            10 november 2021
                          </div>
                        </div>
                        <img
                          src="/fimgs/1417_2096.x3.png"
                          style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                    </div>
                    <div class="border-gray-500" />
                    <doghnutchart />
                    <div />
                  </div>
                  <div class="flex self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
                    <div class="flex self-stretch items-center justify-between">
                      <div class="flex items-start justify-start p-2">
                        <div class="text-sm tracking-wide leading-tight text-gray-700">
                          Ticket by type:
                        </div>
                      </div>
                      <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                        <div class="flex items-start justify-start px-4 py-2 rounded-lg">
                          <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                            10 november 2021
                          </div>
                        </div>
                        <img
                          src="/fimgs/1417_2106.x3.png"
                          style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                    </div>
                    <div class="border-gray-500" />
                    <doghnutchart />
                    <div />
                  </div>
                </div>
                <div class="flex flex-1 flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
                  <div class="flex self-stretch items-center justify-between">
                    <div class="flex items-start justify-start p-2">
                      <div class="text-base tracking-wide leading-normal text-gray-700">
                        Performance
                      </div>
                    </div>
                    <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                      <div class="flex items-start justify-start px-4 py-2 rounded-lg">
                        <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                          10 november 2021
                        </div>
                      </div>
                      <img
                        src="/fimgs/1417_2115.x3.png"
                        style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                  </div>
                  <div class="border-gray-500" />
                  <tabelclient />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>