<>
  <effect
    meta={{}}
    run={async () => {
      meta.action = {
        move: (e) => {
          runInAction(() => {
            navigate("/m/view-ticket-progress");
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col space-y-3 px-6 py-3 items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col items-start justify-start">
        <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
          <div class="flex self-stretch items-center justify-start px-3">
            <m-cardcontent class="flex flex-1 items-center justify-start px-3 py-2 bg-white shadow rounded-lg">
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET
              </div>
            </m-cardcontent>
          </div>
          <m-link
            class="flex self-stretch flex-col items-center justify-start p-3"
            onClick={() => {
              meta.action.move();
            }}
          >
            <div
              class="flex self-stretch flex-col space-y-3 items-start justify-start pb-2 bg-white shadow rounded-lg"
              style="height: 189px; min-height: 189px; max-height: 189px;"
            >
              <div
                class="flex self-stretch flex-col items-start justify-start"
                style="height: 125px; min-height: 125px; max-height: 125px;"
              >
                <div class="flex self-stretch space-x-2.5 items-center justify-start p-2 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-xs tracking-wide leading-none text-gray-600">
                    Ticket type:
                  </div>
                  <div class="text-xs font-medium tracking-wide leading-none text-gray-800">
                    Maintenance Ticket
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2">
                  <div class="text-xs tracking-wide leading-none text-gray-800">
                    My server down for several minutes.
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between px-3">
                <div class="flex space-x-8 items-start justify-start">
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Created at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Updated at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                </div>
                <div
                  class="flex items-start justify-center p-2 bg-green-500 rounded-lg text-xs font-medium tracking-wide leading-none text-white"
                  style="width:100px;"
                >
                  OPEN
                </div>
              </div>
            </div>
          </m-link>
          <m-link class="flex self-stretch flex-col items-center justify-start p-3">
            <div
              class="flex self-stretch flex-col space-y-3 items-start justify-start pb-2 bg-white shadow rounded-lg"
              style="height: 189px; min-height: 189px; max-height: 189px;"
            >
              <div
                class="flex self-stretch flex-col items-start justify-start"
                style="height: 125px; min-height: 125px; max-height: 125px;"
              >
                <div class="flex self-stretch space-x-2.5 items-center justify-start p-2 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-xs tracking-wide leading-none text-gray-600">
                    Ticket type:
                  </div>
                  <div class="text-xs font-medium tracking-wide leading-none text-gray-800">
                    Maintenance Ticket
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2">
                  <div class="text-xs tracking-wide leading-none text-gray-800">
                    My server down for several minutes.
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between px-3">
                <div class="flex space-x-8 items-start justify-start">
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Created at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Updated at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                </div>
                <div
                  class="flex items-start justify-center p-2 bg-red-500 rounded-lg text-xs font-medium tracking-wide leading-none text-white"
                  style="width:100px;"
                >
                  IN PROGRESS
                </div>
              </div>
            </div>
          </m-link>
        </div>
      </div>
    </div>
  </div>
</>