<>
  <effect
    meta={{
      id_user: 0,
      name: "",
      email: "",
      company: "",
      phone: "",
      address: "",
      username: "",
      password: "",
      photo: "uploads/profiles/default.png",
      value: {},
    }}
    run={async () => {
      let modal = document.getElementById("my-modal");
      let success = document.getElementById("my-success");
      let loading = document.getElementById("my-loading");
      let initiate = document.getElementById("my-initiate");
      modal.style.display = "block";
      initiate.style.display = "block";
      if (user.role == "Vendor") {
        meta.id_user = user.dataUser.id_user;
        meta.name = user.dataUser.nama_vendor;
        meta.company = user.dataUser.nama_perusahaan;
        meta.phone = user.dataUser.nomor_vendor;
        meta.address = user.dataUser.lokasi_vendor;
        user.dataUser.foto_profile !== null
          ? (meta.photo = "uploads/" + user.dataUser.foto_profile)
          : (meta.photo = "uploads/profiles/default.png");
      } else if (user.role == "Client") {
        meta.id_user = user.dataUser.id_user;
        meta.name = user.dataUser.nama_client;
        meta.company = user.dataUser.perusahaan_client;
        meta.phone = user.dataUser.nomor_client;
        meta.address = user.dataUser.lokasi_client;
        user.dataUser.foto_profile !== null
          ? (meta.photo = "uploads/" + user.dataUser.foto_profile)
          : (meta.photo = "uploads/profiles/default.png");
      } else if (user.role == "Employee") {
        await db.vendor
          .findUnique({
            where: {
              id_vendor: user.dataUser.id_vendor,
            },
          })
          .then((e) => {
            meta.company = e.nama_perusahaan;
          });
        meta.id_user = user.dataUser.id_user;
        meta.name = user.dataUser.nama_employee;
        meta.phone = user.dataUser.nomor_employee;
        meta.address = user.dataUser.lokasi_employee;
        user.dataUser.foto_profile !== null
          ? (meta.photo = "uploads/" + user.dataUser.foto_profile)
          : (meta.photo = "uploads/profiles/default.png");
      } else {
        meta.id_user = 64;
        meta.name = "Andromedia";
        meta.email = "cs@andromedia.co.id";
        meta.company = "PT. Andromedia";
        meta.phone = "03199859507";
        meta.address =
          "Jl. Jemur Andayani XV No.3B, Jemur Wonosari, Kec. Wonocolo, Kota SBY, Jawa Timur 60237";
        meta.photo = "uploads/profiles/andromedia.png";
        meta.username;
      }
      await db.users
        .findUnique({
          where: {
            id_user: meta.id_user,
          },
        })
        .then((e) => {
          modal.style.display = "none";
          initiate.style.display = "none";
          meta.value = e;
        });
      meta.username = meta.value.username;
      meta.password = meta.value.password;
      meta.email = meta.value.email;
      meta.action = {
        change: (e) => {
          navigate("/change-pass");
        },
        edit: (e) => {
          navigate("/edit-profile");
        },
      };
    }}
  />
  <div class="flex flex-col items-start m-6 justify-start bg-gray-50">
    <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
      <div class="flex self-stretch space-x-6 items-start justify-start">
        <div class="flex flex-col items-center justify-start px-8 py-8">
          <div class="flex items-start justify-start rounded-full shadow">
            <img
              class="rounded-full"
              src={meta.photo}
              style=" width: 110px; height: 110px;"
            />
          </div>
          <div class="text-2xl font-medium tracking-wide pt-4 text-center text-gray-700">
            {meta.name}
          </div>
          <div class="text-lg tracking-widest text-center text-gray-500">
            <h4>{user.role}</h4>
          </div>
          <hr class="mt-6 w-full"></hr>
          {user.role !== "Super Admin" && (
            <button
              onClick={() => {
                meta.action.edit();
              }}
              class="flex space-x-3 mt-4 items-center justify-center px-6 py-1.5 hover:bg-red-800 bg-red-900 shadow rounded-xl border-2 border-red-900"
              style="width: 250px;"
            >
              <img
                src="/fimgs/54_96.x1.svg"
                style="width: 25px; min-width: 25px;"
              />
              <div class="text-sm font-bold tracking-wider leading-relaxed text-white">
                Edit Profile
              </div>
            </button>
          )}
          <button
            onClick={() => {
              meta.action.change();
            }}
            class="flex space-x-3 mt-4 items-center justify-center px-6 py-1.5 hover:text-gray-700 hover:border-gray-700 text-gray-500 bg-white shadow rounded-xl border-2 border-gray-500"
            style="width: 250px;"
          >
            <svg
              class="w-5 h-5"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 7.00008C15.5304 7.00008 16.0391 7.21079 16.4142 7.58586C16.7893 7.96093 17 8.46964 17 9.00008M21 9.00008C21.0003 9.93725 20.781 10.8615 20.3598 11.6986C19.9386 12.5358 19.3271 13.2627 18.5744 13.821C17.8216 14.3792 16.9486 14.7535 16.0252 14.9136C15.1018 15.0737 14.1538 15.0153 13.257 14.7431L11 17.0001H9V19.0001H7V21.0001H4C3.73478 21.0001 3.48043 20.8947 3.29289 20.7072C3.10536 20.5196 3 20.2653 3 20.0001V17.4141C3.00006 17.1489 3.10545 16.8946 3.293 16.7071L9.257 10.7431C9.00745 9.91809 8.93857 9.04902 9.05504 8.19502C9.17152 7.34102 9.47062 6.52215 9.93199 5.79412C10.3934 5.0661 11.0062 4.44602 11.7287 3.97609C12.4512 3.50617 13.2665 3.19743 14.1191 3.07088C14.9716 2.94434 15.8415 3.00296 16.6693 3.24276C17.4972 3.48256 18.2637 3.89791 18.9166 4.46054C19.5696 5.02317 20.0936 5.71987 20.4531 6.50322C20.8127 7.28656 20.9992 8.13817 21 9.00008Z"
                stroke="#3F3F46"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="text-sm font-bold tracking-wide leading-relaxed">
              Change Password
            </div>
          </button>
        </div>
        <div class="flex flex-1 flex-col space-y-3 items-start justify-start px-6 pb-6">
          <div class="flex self-stretch items-center justify-start">
            <div class="flex items-start justify-start p-2.5">
              <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                PERSONAL DATA
              </div>
            </div>
          </div>
          <hr class=" w-full"></hr>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-start px-2.5 py-2">
                      <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                        Username
                      </div>
                    </div>
                    <div class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-base text-gray-600 tracking-widest border border-gray-200">
                      {meta.username}
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start px-2.5 py-2">
                    <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                      Email
                    </div>
                  </div>
                  <div class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-base text-gray-600 tracking-widest border border-gray-200">
                    {meta.email}
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start px-2.5 py-2">
                    <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                      Company
                    </div>
                  </div>
                  <div class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-base text-gray-600 tracking-widest border border-gray-200">
                    {meta.company}
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start px-2.5 py-2">
                    <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                      Phone
                    </div>
                  </div>
                  <div class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-base text-gray-600 tracking-widest border border-gray-200">
                    {meta.phone}
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start px-2.5 py-2">
                    <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                      Address
                    </div>
                  </div>
                  <textarea
                    value="Jl Tarian Raya Tmr Kompl Kelapa Gading Bl W-1/24, Dki
                    Jakarta"
                    class="flex self-stretch items-center font-medium w-full h-48 justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-base text-gray-600 tracking-widest border border-gray-200"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-success" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full bg-red-100">
          <svg
            class="h-10 w-10 text-red-900"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Data has been successfully updated!
          </p>
        </div>
      </div>
      <div id="my-loading" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Processing ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the saving process
          </p>
        </div>
      </div>
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>
    </div>
  </div>
</>