<>
  <effect
    meta={{
      code_1: "",
      code_2: "",
      code_3: "",
      code_4: "",
      code_5: "",
      code_6: "",
      code: "",

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      async nextFocus(key1, key2) {
        if (this[key1] !== "") {
          document.querySelectorAll(key2)[0].focus();
        }
      },

      timeOut(timer) {
        setTimeout(function () {
          window.mobileApp.app.dialog.close();
        }, timer);
      },

      validationCheck() {
        let msg =
          this.code_1 === "" || this.code_1 === null
            ? "Please, Fill all the fields!"
            : this.code_2 === "" || this.code_2 === null
            ? "Please, Fill all the fields!"
            : this.code_3 === "" || this.code_3 === null
            ? "Please, Fill all the fields!"
            : this.code_4 === "" || this.code_4 === null
            ? "Please, Fill all the fields!"
            : this.code_5 === "" || this.code_5 === null
            ? "Please, Fill all the fields!"
            : this.code_6 === "" || this.code_6 === null
            ? "Please, Fill all the fields!"
            : false; // console.log(msg);

        return msg;
      },
    }}
    run={async () => {
      meta.action = {
        emailChange: (e) => {
          runInAction(() => {
            meta.email = e.target.value;
            console.log(meta.email);
          });
        },
        verifOtp: () => {
          let error_msg = meta.validationCheck();
          if (error_msg) {
            window.mobileApp.app.dialog.alert(null, error_msg);
          } else {
            window.mobileApp.app.dialog.preloader();
            meta.code =
              meta.code_1 +
              meta.code_2 +
              meta.code_3 +
              meta.code_4 +
              meta.code_5 +
              meta.code_6;
            api("/api/otp", {
              code: meta.code,
            }).then((e) => {
              console.log(e);
              if (e.status == "SUCCESS") {
                navigate("/m/reset-pass");
                meta.timeOut(1000);
                console.log(e);
              } else {
                meta.message = e.message;
                meta.timeOut(1000);
                window.mobileApp.app.dialog.alert(null, meta.message);
              }
            });
          }
        },
      };
    }}
  />
  <div class="flex items-start justify-start h-full">
    <div class="flex  self-stretch flex-col items-start justify-start ml-2 mr-2 pt-6 bg-gray-50">
      <div
        class="flex self-stretch flex-col space-y-6 items-center justify-start "
        style="height: 528px; min-height: 528px; max-height: 528px;"
      >
        <div
          class="flex self-stretch flex-col space-y-6 items-center justify-start"
          style="height: 294px; min-height: 294px; max-height: 294px;"
        >
          <div class="flex self-stretch items-start justify-center">
            <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
              Verification
            </div>
          </div>
          <img
            src="/fimgs/1599_2082.x1.png"
            style="width: 240px; min-width: 240px; max-width: 240px; height: 240px; min-height: 240px; max-height: 240px;"
          />
        </div>
        <div
          class="flex self-stretch flex-col space-y-3 items-center justify-start"
          style="height: 140px; min-height: 140px; max-height: 140px;"
        >
          <div class="text-base tracking-wide leading-normal text-center text-gray-800">
            Enter the verification code we just sent you on your email address
          </div>
          <div class="flex self-stretch items-start justify-between space-x-2 px-1 mr-4">
            <m-input
              class="flex items-center justify-center bg-white border rounded-lg border-gray-800 text-3xl tracking-wide leading-10 text-gray-700 code_1"
              style="width: 50px;height: 50px;padding-left:15px;"
              type="number"
              onInput={(e) => {
                e.target.value = e.target.value.slice(0, 1);
                meta.onChange("code_1", e);
                meta.nextFocus("code_1", ".code_2");
              }}
              value={meta.code_1}
              required={true}
              autoFocus={true}
            />

            <m-input
              class="flex items-center justify-center bg-white border rounded-lg border-gray-800 text-3xl tracking-wide leading-10 text-gray-700 code_2"
              style="width: 50px;height: 50px; padding-left:15px;"
              type="number"
              onInput={(e) => {
                e.target.value = e.target.value.slice(0, 1);
                meta.onChange("code_2", e);
                meta.nextFocus("code_2", ".code_3");
              }}
              value={meta.code_2}
              required={true}
            />
            <m-input
              class="flex items-center justify-center bg-white border rounded-lg border-gray-800 text-3xl tracking-wide leading-10 text-gray-700 code_3"
              style="width: 50px;height: 50px; padding-left:15px;"
              type="number"
              onInput={(e) => {
                e.target.value = e.target.value.slice(0, 1);
                meta.onChange("code_3", e);
                meta.nextFocus("code_3", ".code_4");
              }}
              value={meta.code_3}
              required={true}
            />
            <m-input
              class="flex items-center justify-center bg-white border rounded-lg border-gray-800 text-3xl tracking-wide leading-10 text-gray-700 code_4"
              style="width: 50px;height: 50px; padding-left:15px;"
              type="number"
              onInput={(e) => {
                e.target.value = e.target.value.slice(0, 1);
                meta.onChange("code_4", e);
                meta.nextFocus("code_4", ".code_5");
              }}
              value={meta.code_4}
              required={true}
            />
            <m-input
              class="flex items-center justify-center bg-white border rounded-lg border-gray-800 text-3xl tracking-wide leading-10 text-gray-700 code_5"
              style="width: 50px;height: 50px; padding-left:15px;"
              type="number"
              onInput={(e) => {
                e.target.value = e.target.value.slice(0, 1);
                meta.onChange("code_5", e);
                meta.nextFocus("code_5", ".code_6");
              }}
              value={meta.code_5}
              required={true}
            />
            <m-input
              class="flex items-center justify-center bg-white border rounded-lg border-gray-800 text-3xl tracking-wide leading-10 text-gray-700 code_6"
              style="width: 50px;height: 50px; padding-left:15px;"
              type="number"
              onInput={(e) => {
                e.target.value = e.target.value.slice(0, 1);
                meta.onChange("code_6", e);
              }}
              value={meta.code_6}
              required={true}
            />
          </div>
          <div class="flex self-stretch space-x-3 items-start justify-center">
            <div class="text-xs tracking-wide leading-none text-center text-gray-500">
              if you didn’t receive a code.
            </div>
            <a
              onClick={() => {
                var toastCenter = window.mobileApp.app.toast.create({
                  text: "Check Your Email",
                  position: "center",
                  closeTimeout: 3000,
                });

                // Open it
                toastCenter.open();
              }}
              class={`flex items-center justify-end`}
            >
              <div class="text-xs font-medium tracking-wide leading-none text-center text-red-900">
                Resend
              </div>
            </a>
          </div>
        </div>
        <m-button
          class="flex items-center justify-center px-4 py-2 bg-red-900 shadow rounded-2xl text-xl font-medium tracking-wide leading-loose text-white"
          style="height: 46px; min-height: 46px; max-height: 46px;"
          onClick={() => {
            meta.action.verifOtp();
          }}
        >
          Verify
        </m-button>
      </div>
    </div>
  </div>
</>