<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-between">
      <div
        class="flex self-stretch flex-col items-center justify-end px-24 py-12 bg-red-900"
        style="width: 414px; min-width: 414px; max-width: 414px; height: 260px; min-height: 260px; max-height: 260px;"
      >
        <div
          class="flex self-stretch flex-col space-y-5 items-center justify-center"
          style="width: 218px; min-width: 218px; max-width: 218px; height: 142px; min-height: 142px; max-height: 142px;"
        >
          <div
            class="flex flex-col items-center justify-center p-2.5"
            style="width: 203.29px; min-width: 203.29px; max-width: 203.29px; height: 80px; min-height: 80px; max-height: 80px;"
          >
            <img
              src="/fimgs/962_2697.x3.png"
              style="width: 183.29px; min-width: 183.29px; max-width: 183.29px; height: 60px; min-height: 60px; max-height: 60px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div
            class="flex items-start justify-center"
            style="width: 116px; min-width: 116px; max-width: 116px; height: 42px; min-height: 42px; max-height: 42px;"
          >
            <div class="text-3xl font-medium tracking-wide leading-10 text-center text-white">
              fawwaz
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex self-stretch flex-col space-y-5 items-center justify-start bg-white"
        style="width: 414px; min-width: 414px; max-width: 414px; height: 636px; min-height: 636px; max-height: 636px;"
      >
        <div
          class="flex self-stretch flex-col items-start justify-start px-6"
          style="width: 414px; min-width: 414px; max-width: 414px; height: 192px; min-height: 192px; max-height: 192px;"
        >
          <div
            class="flex self-stretch flex-col space-y-2.5 items-center justify-start p-2.5"
            style="width: 366px; min-width: 366px; max-width: 366px; height: 96px; min-height: 96px; max-height: 96px;"
          >
            <div
              class="text-xl tracking-wide leading-loose text-gray-800"
              style="width: 346px; min-width: 346px; max-width: 346px; height: 30px; min-height: 30px; max-height: 30px;"
            >
              Username
            </div>
            <div
              class="flex self-stretch items-center justify-start py-2.5 pl-5 pr-48 bg-gray-200 border rounded-lg border-gray-800"
              style="width: 346px; min-width: 346px; max-width: 346px; height: 36px; min-height: 36px; max-height: 36px;"
            >
              <div class="text-sm tracking-wide leading-tight text-gray-500">
                Username
              </div>
            </div>
          </div>
          <div
            class="flex self-stretch flex-col space-y-2.5 items-start justify-start p-2.5"
            style="width: 366px; min-width: 366px; max-width: 366px; height: 96px; min-height: 96px; max-height: 96px;"
          >
            <div class="text-xl tracking-wide leading-loose text-gray-800">
              Password
            </div>
            <div
              class="flex self-stretch items-start justify-start"
              style="width: 346px; min-width: 346px; max-width: 346px; height: 36px; min-height: 36px; max-height: 36px;"
            >
              <div class="flex flex-1 items-center justify-start py-2.5 pl-5 pr-48 bg-gray-200 border rounded-tl-lg rounded-bl-lg border-gray-800">
                <div class="text-sm tracking-wide leading-tight text-gray-500">
                  Password
                </div>
              </div>
              <div
                class="flex items-start justify-start p-2 bg-gray-200 border rounded-tr-lg rounded-br-lg border-gray-800"
                style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
              >
                <img
                  src="/fimgs/I962_2711_196_154.x1.svg"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-27a996c755a31ad0e24fd8557967446606290bb3');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="flex items-center justify-center px-4 py-2 bg-red-900 shadow rounded-2xl"
          style="width: 111px; min-width: 111px; max-width: 111px; height: 46px; min-height: 46px; max-height: 46px;"
        >
          <div class="text-xl font-medium tracking-wide leading-loose text-white">
            Login
          </div>
        </button>
      </div>
    </div>
  </div>
</>