<>
  <effect
    meta={{
      value: {},
      nama: "",
      nomor: "",
      email: "",
      lokasi: "",
      username: "",
    }}
    run={async () => {
      meta.action = {
        namaChange: (e) => {
          runInAction(() => {
            meta.nama = e.target.value;
            console.log(meta.nama);
          });
        },
        nomorChange: (e) => {
          runInAction(() => {
            meta.nomor = e.target.value;
            console.log(meta.nomor);
          });
        },
        emailChange: (e) => {
          runInAction(() => {
            meta.email = e.target.value;
            console.log(meta.email);
          });
        },
        lokasiChange: (e) => {
          runInAction(() => {
            meta.lokasi = e.target.value;
            console.log(meta.lokasi);
          });
        },
        usernameChange: (e) => {
          runInAction(() => {
            meta.username = e.target.value;
            console.log(meta.username);
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50  self-stretch w-screen mb-20">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start px-6 py-2.5">
        <div class="flex self-stretch items-start justify-start p-2">
          <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
            PROFILE - EDIT PROFILE
          </div>
        </div>
        <div class="flex self-stretch flex-col items-center justify-start p-6 bg-white shadow rounded-lg">
          <div class="flex self-stretch flex-col space-y-3 items-center justify-start">
            <div class="flex self-stretch items-center justify-center ">
              <img
                src="/fimgs/1036_1928.x1.svg"
                class="flex flex-col items-center justify-center p-2.5 rounded-full"
                style="width: 120px; min-width: 120px; max-width: 120px; height: 120px; min-height: 120px; max-height: 120px;"
              />
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start p-2.5">
                  <label class="text-sm tracking-wide leading-tight text-gray-500">
                    Display Name
                  </label>
                </div>
                <m-input
                  class="flex self-stretch w-full items-start justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                  style="height:35px"
                  type="text"
                  placeholder="Han Solo"
                  value={meta.nama}
                  onChange={(e) => meta.action.namaChange(e)}
                  required={true}
                />
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start p-2.5">
                  <label class="text-sm tracking-wide leading-tight text-gray-500">
                    Email
                  </label>
                </div>
                <m-input
                  class="flex self-stretch w-full items-start justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                  style="height:35px"
                  type="email"
                  placeholder="han.solo@startrek.com"
                  value={meta.email}
                  onChange={(e) => meta.action.emailChange(e)}
                  required={true}
                />
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-3 items-start justify-start p-6 bg-white shadow rounded-lg">
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Company
                    </label>
                  </div>
                  <input
                    class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                    placeholder="Startrek Ent."
                    required={true}
                  />
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Phone
                    </label>
                  </div>
                  <m-input
                    class="flex self-stretch w-full items-start justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                    style="height:35px"
                    type="number"
                    placeholder="081649246857"
                    value={meta.nomor}
                    onChange={(e) => meta.action.nomorChange(e)}
                    required={true}
                  />
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <label class="text-sm tracking-wide leading-tight text-gray-500">
                      Address
                    </label>
                  </div>
                  <m-input
                    class="flex self-stretch w-full items-start justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                    style="height:35px"
                    type="text"
                    placeholder="Jl Raya Psr Minggu Bl C/11-16, Dki Jakarta"
                    value={meta.lokasi}
                    onChange={(e) => meta.action.lokasiChange(e)}
                    required={true}
                  />
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-start p-2.5">
                      <label class="text-sm tracking-wide leading-tight text-gray-500">
                        Username
                      </label>
                    </div>
                    <m-input
                      class="flex self-stretch w-full items-start justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-sm tracking-wide leading-tight text-gray-700"
                      style="height:35px"
                      type="text"
                      placeholder="startrek11"
                      value={meta.username}
                      onChange={(e) => meta.action.usernameChange(e)}
                      required={true}
                    />
                  </div>
                </div>
                <div class="flex self-stretch items-end justify-start">
                  <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                    <div class="flex self-stretch items-start justify-start p-2.5">
                      <label class="text-sm tracking-wide leading-tight text-gray-500">
                        Password
                      </label>
                    </div>
                    <div class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 bg-gray-300 border rounded-lg border-gray-500">
                      <div class="text-sm tracking-wide leading-tight text-gray-700 w-full">
                        11startrek
                      </div>
                      <div class="flex items-start justify-start p-1 rounded-tr-lg rounded-br-lg">
                        <img
                          src="/fimgs/I1036_1822_196_154.x1.svg"
                          style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-6 items-start justify-center">
            <div class="flex items-center justify-start px-3 py-2 border rounded-full border-gray-500">
              <m-link href="/m/view-profile">
                <div class="text-sm font-medium tracking-wide leading-tight text-gray-700">
                  cancel
                </div>
              </m-link>
            </div>
            <div class="flex items-center justify-start px-3 py-2 bg-red-900 shadow rounded-full">
              <m-link
                onClick={() => {
                  window.mobileApp.app.dialog.confirm(
                    "Data Profile yang anda ubah sudah benar?",
                    "Konfirmasi",
                    () => {},
                    navigate("/m/view-profile")
                  );
                }}
              >
                <div class="text-sm font-medium tracking-wide leading-tight text-white">
                  save changes
                </div>
              </m-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>