<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex self-stretch items-center justify-center px-6 py-3 bg-red-900">
        <div class="flex self-stretch items-center justify-start">
          <img
            src="/fimgs/I1468_2019_1467_1974.x3.png"
            style="width: 106.92px; min-width: 106.92px; max-width: 106.92px; height: 35px; min-height: 35px; max-height: 35px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start px-6 py-2.5">
        <div class="flex self-stretch items-start justify-start p-2">
          <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
            PROFILE - EDIT PROFILE
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-6 items-center justify-start p-6 bg-white shadow rounded-lg">
          <div class="flex flex-col space-y-2 items-start justify-start">
            <div class="flex flex-col space-y-3 items-center justify-start">
              <div class="flex self-stretch items-center justify-center shadow">
                <img
                  src="/fimgs/1036_1928.x1.svg"
                  class="flex flex-col items-center justify-center p-2.5 rounded-full"
                  style="width: 120px; min-width: 120px; max-width: 120px; height: 120px; min-height: 120px; max-height: 120px;background-image: url('/fimgs/bg-ccb3d1853d170b2d72b430a37bd420bb1956929f');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <div class="text-sm tracking-wide leading-tight text-gray-500">
                      Display Name
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                    <div class="text-sm tracking-wide leading-tight text-gray-700">
                      Han Solo
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <div class="text-sm tracking-wide leading-tight text-gray-500">
                      Email
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                    <div class="text-sm tracking-wide leading-tight text-gray-700">
                      han.solo@startrek.com
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-start p-2.5">
                      <div class="text-sm tracking-wide leading-tight text-gray-500">
                        Company
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                      <div class="text-sm tracking-wide leading-tight text-gray-700">
                        Startrek Ent.
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-start p-2.5">
                      <div class="text-sm tracking-wide leading-tight text-gray-500">
                        Phone
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                      <div class="text-sm tracking-wide leading-tight text-gray-700">
                        081649246857
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-start justify-start p-2.5">
                      <div class="text-sm tracking-wide leading-tight text-gray-500">
                        Address
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                      <div class="text-sm tracking-wide leading-tight text-gray-700">
                        Jl Raya Psr Minggu Bl C/11-16, Dki Jakarta
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start p-2.5">
                        <div class="text-sm tracking-wide leading-tight text-gray-500">
                          Username
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                        <div class="text-sm tracking-wide leading-tight text-gray-700">
                          startrek11
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-3 items-start justify-center">
            <div class="flex items-center justify-start px-3 py-2 border rounded-full border-gray-500">
              <div class="text-sm font-medium tracking-wide leading-tight text-gray-700">
                cancel
              </div>
            </div>
            <div class="flex items-start justify-center">
              <div class="flex items-center justify-start px-3 py-2 bg-red-900 shadow rounded-full">
                <div class="text-sm font-medium tracking-wide leading-tight text-white">
                  save changes
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-between px-3 bg-white shadow">
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/I1484_2462_1484_2230.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-e3f3637260cb516e379328e4426bf83f03764fd3');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            Home
          </div>
        </div>
        <div class="flex flex-col items-center justify-start p-2">
          <img
            src="/fimgs/I1484_2462_1484_2197.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            Ticket
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-start justify-start">
            <img
              src="/fimgs/I1484_2462_1484_2202.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-1d94f457cadc8b9b13cd053b9f54595c3b033488');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            Create
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-start justify-start">
            <div style="background-image: url('/fimgs/bg-7bd6a317d76e342687b05a00b994bf2ae342e454');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
            News
          </div>
        </div>
        <div class="flex flex-col items-center justify-start p-2">
          <div class="flex items-start justify-start">
            <div style="background-image: url('/fimgs/bg-efda21034fe8cd3322b2fb4f7a83721f10359914');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
          <div class="text-xs font-medium tracking-wide leading-none text-red-900">
            Profile
          </div>
        </div>
      </div>
    </div>
  </div>
</>