<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
          <div class="flex self-stretch items-center justify-start px-3">
            <div class="flex flex-1 items-center justify-between px-3 py-2 bg-white shadow rounded-lg ">
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET
              </div>
              <div class="flex space-x-3 items-center justify-center px-3 py-2 bg-red-900 shadow rounded-lg">
                <img
                  src="/fimgs/688_1787.x1.svg"
                  style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;"
                />
                <div class="text-sm tracking-wide leading-tight text-white">
                  New Ticket
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-3 items-center justify-center p-2 rounded-lg h-screen">
            <img
              src="/fimgs/587_1521.x3.png"
              style="width: 240px; min-width: 240px; max-width: 240px; height: 240px; min-height: 240px; max-height: 240px;"
            />
            <div class="text-sm tracking-wide leading-tight text-gray-800">
              You have no ticket yet.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>