<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
      <div class="flex self-stretch items-center justify-between px-6 py-3 bg-red-900">
        <div class="flex self-stretch items-center justify-start">
          <img
            src="/fimgs/687_1741.x3.png"
            style="width: 76.37px; min-width: 76.37px; max-width: 76.37px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-d85fc350692ee29674224712218fca8fba339450');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex space-x-2 items-center justify-start">
          <img
            src="/fimgs/687_1743.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="text-xs font-medium tracking-wide leading-none text-right text-white">
            hello, user!
          </div>
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
          <div class="flex self-stretch items-center justify-start px-3">
            <div class="flex flex-1 items-center justify-between px-3 py-2 bg-white shadow rounded-lg">
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET
              </div>
              <div class="flex space-x-3 items-center justify-center px-3 py-2 bg-red-900 shadow rounded-lg">
                <img
                  src="/fimgs/687_1755.x1.svg"
                  style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;background-image: url('/fimgs/bg-b24bcae01668746da3b996d95c8fb176a9675ff7');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="text-sm tracking-wide leading-tight text-white">
                  New Ticket
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-3 items-center justify-center p-2 rounded-lg h-screen">
            <img
              src="/fimgs/587_1521.x3.png"
              style="width: 240px; min-width: 240px; max-width: 240px; height: 240px; min-height: 240px; max-height: 240px;background-image: url('/fimgs/bg-b39ff72c213e37ea4cdd1b9c20346e63bd154eeb');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-sm tracking-wide leading-tight text-gray-800">
              You have no ticket yet.
            </div>
          </div>
        </div>
        <div class="flex self-stretch items-start justify-between px-6 bg-white shadow">
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/773_1385.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-e3f3637260cb516e379328e4426bf83f03764fd3');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              Dashboard
            </div>
          </div>
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/773_1389.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-1d94f457cadc8b9b13cd053b9f54595c3b033488');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              New Ticket
            </div>
          </div>
          <div class="flex flex-col items-center justify-start p-2">
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/773_1393.x3.png"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-c33fb0a72c00dbfcfa46ba0702071ed80122ed2b');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
            <div class="text-xs font-medium tracking-wide leading-none text-red-900">
              My Ticket
            </div>
          </div>
          <div class="flex flex-col items-center justify-start p-2">
            <img
              src="/fimgs/773_1396.x3.png"
              class="flex items-start justify-start"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
            />
            <div class="text-xs font-medium tracking-wide leading-none text-gray-400">
              Profile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>