<>
  <effect
    meta={{
      value: {},
      id_jenis_ticket: 0,
      jenis_ticket: "",
      deskripsi_jenis_ticket: "",
    }}
    run={async () => {
      meta.id_jenis_ticket = parseInt(params.id);
      meta.value = await db.jenis_ticket.findUnique({
        where: {
          id_jenis_ticket: meta.id_jenis_ticket,
        },
      });
      meta.jenis_ticket = meta.value.jenis_ticket;
      meta.deskripsi_jenis_ticket = meta.value.deskripsi_jenis_ticket;
      meta.action = {
        jenisTicketChange: (e) => {
          runInAction(() => {
            meta.jenis_ticket = e.target.value;
            console.log(meta.jenis_ticket);
          });
        },
        deskripsiChange: (e) => {
          runInAction(() => {
            meta.deskripsi_jenis_ticket = e.target.value;
            console.log(meta.deskripsi_jenis_ticket);
          });
        },
        addData: (e) => {
          api("/api/jenis-data/edit", {
            id_jenis_ticket: meta.id_jenis_ticket,
            jenis_ticket: meta.jenis_ticket,
            deskripsi_jenis_ticket: meta.deskripsi_jenis_ticket,
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              window.location.replace("/jenis-data");
            } else {
              console.log(e);
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start m-6 h-full justify-start bg-gray-50">
    <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
      <div class="flex self-stretch items-center justify-between">
        <div class="flex items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
            JENIS TICKET - EDIT DATA
          </div>
        </div>
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="flex flex-col space-y-6 w-full h-full items-center justify-start">
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-center justify-start ">
            <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
              Jenis Ticket
            </div>
            <input
              type="text"
              value={meta.jenis_ticket}
              onChange={(e) => meta.action.jenisTicketChange(e)}
              class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your ticket type here ..."
            />
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-start justify-start ">
            <div class="flex items-start w-48 justify-start font-bold text-md text-gray-800">
              Description
            </div>
            <textarea
              value={meta.deskripsi_jenis_ticket}
              onChange={(e) => meta.action.deskripsiChange(e)}
              class="flex self-stretch text-gray-600 w-full h-48 items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your ticket type description here ..."
            />
          </div>
        </div>
        <button
          onClick={() => {
            meta.action.addData();
          }}
          class="flex space-x-3 items-center justify-center px-6 py-2 bg-red-900 shadow rounded-xl"
          style="max-width: 200px;"
        >
          <img
            src="/fimgs/460_875.x1.svg"
            style=" max-width: 15px; max-height: 20px;"
          />
          <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
            Update Data
          </div>
        </button>
      </div>
    </div>
  </div>
</>