<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start py-2.5">
        <div class="flex self-stretch items-center w-full py-2 pl-8 pr-6">
          <div class="flex self-stretch items-center w-full ">
            {" "}
            <img src="/fimgs/1444_1898.x1.svg" />
            <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
              Notification
            </div>
          </div>

          <m-button class="flex items-center justify-center px-8 py-1 bg-white shadow rounded-sm ">
            <div class="text-xs font-medium tracking-wide leading-none text-red-900">
              mark all as read
            </div>
          </m-button>
        </div>
        <m-cardcontent class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-white shadow">
          <div class="flex self-stretch space-x-3 items-center justify-start">
            <div class="flex flex text-sm tracking-wide leading-tight text-gray-700 w-full">
              Ticket that you sent on 19 Oktober 2021 has been resolved
            </div>
            <div
              class=" items-center justify-center bg-green-500 rounded-full"
              style="width: 9px; height: 9px; "
            />
          </div>
          <div class="flex self-stretch items-center justify-end">
            <div class="text-xs tracking-wide leading-none text-right text-gray-700">
              22/10/2021 14:20
            </div>
          </div>
        </m-cardcontent>

        <m-cardcontent class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-white shadow">
          <div class="flex self-stretch space-x-3 items-center justify-start">
            <div class="flex flex text-sm tracking-wide leading-tight text-gray-700 w-full">
              Your ticket has been answered
            </div>
            <div
              class=" items-center justify-center bg-green-500 rounded-full"
              style="width: 9px; height: 9px; "
            />
          </div>
          <div class="flex self-stretch items-center justify-end">
            <div class="text-xs tracking-wide leading-none text-right text-gray-700">
              22/10/2021 14:20
            </div>
          </div>
        </m-cardcontent>
        <m-cardcontent class="flex self-stretch flex-col space-y-1 items-start justify-start px-6 py-3 bg-gray-200 shadow">
          <div class="flex self-stretch items-center justify-start">
            <div class="text-sm tracking-wide leading-tight text-gray-700">
              Your ticket has been answered
            </div>
          </div>
          <div class="flex self-stretch items-center justify-end">
            <div class="text-xs tracking-wide leading-none text-right text-gray-700">
              21/10/2021 10:20
            </div>
          </div>
        </m-cardcontent>
      </div>
    </div>
  </div>
</>