<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col space-y-3 items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col items-start justify-start">
        <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
          <div class="flex self-stretch items-center justify-start px-3">
            <div class="flex flex-1 items-center justify-between px-3 py-2 bg-white shadow rounded-lg">
              <div class="text-base font-medium tracking-wide leading-normal text-center text-gray-800">
                MY TICKET
              </div>
              <div class="flex space-x-3 items-center justify-center px-3 py-2 bg-red-900 shadow rounded-lg">
                <img
                  src="/fimgs/688_1787.x1.svg"
                  style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;background-image: url('/fimgs/bg-b24bcae01668746da3b996d95c8fb176a9675ff7');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="text-sm tracking-wide leading-tight text-white">
                  New Ticket
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-center justify-start p-3">
            <div class="flex self-stretch flex-col space-y-3 items-start justify-start pb-2 bg-white shadow rounded-lg">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch space-x-2.5 items-center justify-start p-2 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-xs tracking-wide leading-none text-gray-600">
                    Ticket type:
                  </div>
                  <div class="text-xs font-medium tracking-wide leading-none text-gray-800">
                    Maintenance Ticket
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2">
                  <div class="text-xs tracking-wide leading-none text-gray-800">
                    My server down for several minutes.
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between px-3">
                <div class="flex space-x-8 items-start justify-start">
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Created at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Updated at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-center px-12 py-2 bg-green-500 rounded-lg">
                  <div class="text-xs font-medium tracking-wide leading-none text-white">
                    OPEN
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-center justify-start p-3">
            <div class="flex self-stretch flex-col space-y-3 items-start justify-start pb-2 bg-white shadow rounded-lg">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch space-x-2.5 items-center justify-start p-2 bg-gray-200 rounded-tl-lg rounded-tr-lg">
                  <div class="text-xs tracking-wide leading-none text-gray-600">
                    Ticket type:
                  </div>
                  <div class="text-xs font-medium tracking-wide leading-none text-gray-800">
                    Administration Request
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start p-2">
                  <div class="text-xs tracking-wide leading-none text-gray-800">
                    Lorem ipsum..
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between px-3">
                <div class="flex space-x-8 items-start justify-start">
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Created at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      19/10/2021
                    </div>
                  </div>
                  <div class="flex flex-col space-y-2 items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-gray-600">
                      Updated at:
                    </div>
                    <div class="text-xs tracking-wide leading-none text-gray-800">
                      21/10/2021
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-center p-2 bg-red-500 rounded-lg">
                  <div class="text-xs font-medium tracking-wide leading-none text-white">
                    IN PROGRESS
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>