<>
  <effect
    meta={{
      dataLevel: [],
      dataType: {},
      dataTotal: [],
      dataSummary: {},
      dateLevel: null,
      dateTot: null,
      dateVal: "",
      dateType: null,
      dateVal1: "",
      sumLevel: 0,
      sumType: 0,
      employeeData: [],
    }}
    run={async () => {
      let modal = document.getElementById("my-modal");
      let initiate = document.getElementById("my-initiate");
      modal.style.display = "block";
      initiate.style.display = "block";
      await api("/api/get-stats", {
        dateLevel: meta.dateLevel,
        task: "both",
      }).then((e) => {
        meta.dataLevel = e.data.stats;
        meta.dataType = e.data.types;
        meta.sumLevel = e.data.stats[0] + e.data.stats[1] + e.data.stats[2];
        meta.sumType = e.data.types.iData.reduce((a, b) => a + b, 0);
        console.log(meta.dataLevel);
      });

      if (user.role === "Client") {
        await api("/api/get-tot", {
          date: meta.dateTot,
        }).then((e) => {
          meta.dataTotal = e.data;
          console.log(meta.dataTotal);
        });
      }

      await api("/api/get-sum").then((e) => {
        meta.dataSummary = e.data;
        console.log(meta.dataSummary);
        modal.style.display = "none";
        initiate.style.display = "none";
      });

      meta.action = {
        dateLevelChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateVal = e.target.value;
            meta.dateLevel = new Date(e.target.value);
            console.log(meta.dateLevel);
            api("/api/get-stats", {
              dateLevel: meta.dateLevel,
              task: "level",
            }).then((e) => {
              meta.dataLevel = e.data.stats;
              meta.sumLevel =
                e.data.stats[0] + e.data.stats[1] + e.data.stats[2];
              console.log(meta.dataLevel);
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        dateTypeChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateVal1 = e.target.value;
            meta.dateType = new Date(e.target.value);
            console.log(meta.dateLevel);
            api("/api/get-stats", {
              dateLevel: meta.dateType,
              task: "type",
            }).then((e) => {
              meta.dataType = e.data.types;
              meta.sumType = e.data.types.iData.reduce((a, b) => a + b, 0);
              console.log(meta.dataType);
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        dateTotChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateTot = new Date(e.target.value);
            api("/api/get-tot", {
              date: meta.dateTot,
            }).then((e) => {
              meta.dataTotal = e.data;
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start mx-6 mx-6 mt-2 mb-6 justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start px-3 py-6">
          <div class="flex self-stretch items-start justify-between">
            {(user.role === "Vendor" ||
              user.role === "Super Admin" ||
              user.role === "Client") && (
              <div class="flex items-center justify-between bg-white shadow rounded-lg">
                <div class="flex flex-col space-y-3 items-start justify-start p-3">
                  <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                    Open
                  </div>
                  <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                    {meta.dataSummary?.open}
                  </div>
                </div>
                <div class="flex items-start justify-start py-3 pl-3 pr-6">
                  <img
                    src="/fimgs/1627_2505.x3.png"
                    style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-8b161fe1fbd27f1556a48271e6bce7f06dad0a36');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                </div>
                <img
                  src="/fimgs/1627_2460.x3.png"
                  style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
                />
              </div>
            )}
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  Assigned
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  {meta.dataSummary?.assign}
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2503.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-454b9bed72f826ab811fceee9aebe06411f3c2a3');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2504.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  In Progress
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  {meta.dataSummary?.progress}
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2452.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-2a6278349cf902eccb278d7bafaa4ad3d08a2ec7');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2453.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
            <div class="flex items-center justify-between bg-white shadow rounded-lg">
              <div class="flex flex-col space-y-3 items-start justify-start p-3">
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  Resolved
                </div>
                <div class="text-base font-medium tracking-wide leading-normal text-gray-500">
                  {meta.dataSummary?.resolved}
                </div>
              </div>
              <div class="flex items-start justify-start py-3 pl-3 pr-6">
                <img
                  src="/fimgs/1627_2466.x3.png"
                  style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;background-image: url('/fimgs/bg-3488a1685dd8d7da4750dd77dc036ba7eb399886');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
              <img
                src="/fimgs/1627_2467.x3.png"
                style="width: 10px; min-width: 10px; max-width: 10px; height: 90px; min-height: 90px; max-height: 90px;"
              />
            </div>
          </div>
          <div class="flex self-stretch space-x-5 items-start justify-start">
            <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-center justify-start w-full">
                <div class="flex items-start justify-start p-2">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Ticket by level:
                  </div>
                </div>
                <div class="flex flex-1 items-center justify-start bg-red-2 w-full">
                  <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg w-full">
                    <input
                      type="date"
                      value={meta.dateVal}
                      class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                      onChange={(e) => meta.action.dateLevelChange(e)}
                    />
                  </div>
                  <div class="flex flex-col items-center justify-center transform -rotate-90">
                    <div
                      class="transform rotate-90"
                      style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <hr class="w-full" />
              {meta.sumLevel !== 0 ? (
                <doghnutchart data={meta.dataLevel} />
              ) : (
                <div class="flex text-sm font-bold py-12 tracking-wide leading-tight text-gray-700 w-full h-full justify-center items-center">
                  No Ticket Data Available For This Date
                </div>
              )}
            </div>
            <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-center justify-start w-full">
                <div class="flex items-start justify-start p-2">
                  <div class="text-sm tracking-wide leading-tight text-gray-700">
                    Ticket by type:
                  </div>
                </div>
                <div class="flex flex-1 items-center justify-start w-full">
                  <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg w-full">
                    <input
                      type="date"
                      value={meta.dateVal1}
                      class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                      onChange={(e) => meta.action.dateTypeChange(e)}
                    />
                  </div>
                  <div class="flex flex-col items-center justify-center transform -rotate-90">
                    <div
                      class="transform rotate-90"
                      style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <hr class="w-full" />
              {meta.sumType !== 0 ? (
                <doghnutchart-dtype data={meta.dataType} />
              ) : (
                <div class="flex text-sm font-bold py-12 tracking-wide leading-tight text-gray-700 w-full h-full justify-center items-center">
                  No Ticket Data Available For This Date
                </div>
              )}
            </div>
          </div>
          {user.role === "Vendor" && (
            <div class="flex flex-1 self-stretch flex-col space-y-3 items-center justify-start p-3 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-center justify-start">
                <div class="flex items-start justify-start p-2">
                  <div class="text-base tracking-wide leading-normal text-gray-700">
                    Performance
                  </div>
                </div>
                <div class="flex flex-1 items-center justify-start">
                  <div class="flex flex-col items-center justify-center transform -rotate-90">
                    <div
                      class="transform rotate-90"
                      style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <hr class="w-full" />
              <div class="w-full">
                <tabelperform />
              </div>
            </div>
          )}
          {user.role === "Client" && (
            <div class="flex self-stretch flex-col space-y-6 items-start justify-start p-6 bg-white shadow rounded-lg">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex flex-col items-center justify-start">
                  <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                    Total Tickets
                  </div>
                </div>
                <div class="flex items-center justify-start">
                  <div class="flex flex-1 items-start justify-start px-4 py-2">
                    <input
                      type="date"
                      value={meta.dateTot}
                      class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                      onChange={(e) => meta.action.dateTotChange(e)}
                    />
                  </div>
                  <div class="flex flex-col items-center justify-center transform -rotate-90">
                    <div
                      class="transform rotate-90"
                      style="background-image: url('/fimgs/bg-3d70c5faafc225db0ac8e34f0e4d696631bcdf5c');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
              </div>
              <hr class=" w-full" />
              <div class="container">
                <barchart-totalticket data={meta.dataTotal} />
              </div>
              <div />
            </div>
          )}
        </div>
      </div>
    </div>
  </div>

  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>
    </div>
  </div>
</>