<>
  <effect
    meta={{
      value: null,
      // Data
      dataOverall: null,
      dataLevel: null,
      dataType: null,
      dataDep: null,
      dataOverallEmployee: null,
      dataEmployeeLow: null,
      dataEmployeeMedium: null,
      dataEmployeeHigh: null,
      // Date
      date: null,
      dateOverall: null,
      dateLevel: null,
      dateType: null,
      dateDep: null,
      dateOverallEmployee: null,
      dateEmployeeLow: null,
      dateEmployeeMedium: null,
      dateEmployeeHigh: null,
    }}
    run={async () => {
      let modal = document.getElementById("my-modal");
      let initiate = document.getElementById("my-initiate");
      modal.style.display = "block";
      initiate.style.display = "block";
      await api("/api/ticket-report", {
        date: meta.date,
        task: "all",
      }).then((e) => {
        meta.value = e.data;
        modal.style.display = "none";
        initiate.style.display = "none";
      });

      meta.dataOverall = meta.value?.overall;
      meta.dataLevel = meta.value?.level;
      meta.dataType = meta.value?.mType;
      meta.dataDep = meta.value?.department;
      meta.dataOverallEmployee = meta.value?.listEmployee1;

      meta.action = {
        dateOverallChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateOverall = e.target.value;
            meta.date = new Date(e.target.value);
            api("/api/ticket-report", {
              date: meta.date,
              task: "overall",
            }).then((e) => {
              meta.dataOverall = e.data.overall;
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        dateLevelChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateLevel = e.target.value;
            meta.date = new Date(e.target.value);
            api("/api/ticket-report", {
              date: meta.date,
              task: "level",
            }).then((e) => {
              meta.dataLevel = e.data.level;
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        dateTypeChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateType = e.target.value;
            meta.date = new Date(e.target.value);
            api("/api/ticket-report", {
              date: meta.date,
              task: "type",
            }).then((e) => {
              meta.dataType = e.data.mType;
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        dateDepChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateDep = e.target.value;
            meta.date = new Date(e.target.value);
            api("/api/ticket-report", {
              date: meta.date,
              task: "department",
            }).then((e) => {
              meta.dataDep = e.data.department;
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        // Overall Employee
        dateOverallEmployeeChange: (e) => {
          modal.style.display = "block";
          initiate.style.display = "block";
          runInAction(() => {
            meta.dateOverallEmployee = e.target.value;
            meta.date = new Date(e.target.value);
            api("/api/ticket-report", {
              date: meta.date,
              task: "overallEmployee1",
            }).then((e) => {
              meta.dateOverallEmployee = e.data.overallEmployee1;
              modal.style.display = "none";
              initiate.style.display = "none";
            });
          });
        },
        // Employee Low
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start">
      <div class="flex flex-1 self-stretch items-start justify-start px-12">
        <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start pt-6 rounded-2xl">
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-center text-gray-800">
              Ticket Report
            </div>
            <div />
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Overall Tickets
              </div>
              <div class="flex items-center justify-start">
                <div class="flex flex-1 items-start justify-start py-2">
                  <input
                    type="date"
                    value={meta.dateOverall}
                    class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                    onChange={(e) => meta.action.dateOverallChange(e)}
                  />
                </div>
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            {meta.dataOverall !== null && (
              <div class="container">
                <barchart-overallticket data={meta.dataOverall} />
              </div>
            )}
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Ticket By Level
              </div>
              <div class="flex items-center justify-start">
                <div class="flex flex-1 items-start justify-start py-2">
                  <input
                    type="date"
                    value={meta.dateLevel}
                    class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                    onChange={(e) => meta.action.dateLevelChange(e)}
                  />
                </div>
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            {meta.dataLevel !== null && (
              <div class="container">
                <groupchart-tlevel data={meta.dataLevel} />
              </div>
            )}
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Ticket By Type
              </div>
              <div class="flex items-center justify-start">
                <div class="flex flex-1 items-start justify-start py-2">
                  <input
                    type="date"
                    value={meta.dateType}
                    class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                    onChange={(e) => meta.action.dateTypeChange(e)}
                  />
                </div>
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            {meta.dataType !== null && (
              <div class="container">
                <groupchart-ttype data={meta.dataType} />
              </div>
            )}
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Ticket By Departement
              </div>
              <div class="flex items-center justify-start">
                <div class="flex flex-1 items-start justify-start py-2">
                  <input
                    type="date"
                    value={meta.dateDep}
                    class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                    onChange={(e) => meta.action.dateDepChange(e)}
                  />
                </div>
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            {meta.dataDep !== null && (
              <div class="container">
                <groupchart-tdepartement data={meta.dataDep} />
              </div>
            )}
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-center text-gray-800">
              Employee Performance
            </div>
            <div />
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Overall Employee
              </div>
              <div class="flex items-center justify-start">
                <div class="flex flex-1 items-start justify-start py-2">
                  <input
                    type="date"
                    value={meta.dateOverallEmployee}
                    class="text-xs font-medium tracking-wide w-full leading-none text-gray-600 py-1 pl-2 pr-2 bg-white rounded-lg tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                    onChange={(e) => meta.action.dateOverallEmployeeChange(e)}
                  />
                </div>
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            {meta.dataOverallEmployee !== null && (
              <div class="container">
                <linechart-overallemployee data={meta.dataOverallEmployee} />
              </div>
            )}
          </div>

          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Employee Performance (Tickets By Level : Medium)
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1415_2851.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            <div class="container">
              <linechart-employee-level-medium />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Employee Performance (Tickets By Level : High)
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1415_2851.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            <div class="container">
              <linechart-employee-level-low />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Employee Performance (Tickets By Type : Technical Support)
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1415_2851.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            <div class="container">
              <groupchart-etype />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Employee Performance (Tickets By Type : Administration)
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1415_2851.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            <div class="container">
              <groupchart-elevel />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-center text-gray-800">
              Average Ticket Time
            </div>
            <div />
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Average First Reply Time (Per Minute)
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1415_2851.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            <div class="container">
              <groupchart-avgfirstreply />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-center justify-between pt-3">
              <div class="flex items-center justify-start">
                <div class="flex items-start justify-start p-1">
                  <div class="text-xs tracking-wide leading-none text-gray-700"></div>
                </div>
              </div>
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Average Time Ticket Solved (Per Minute)
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1415_2851.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full mt-4 pb-4"></hr>
            <div class="container">
              <groupchart-avgticketsolved />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-center text-gray-800">
              Review from client
            </div>
            <div />
          </div>
          <div
            class="flex self-stretch flex-col items-start justify-start px-6 pb-6 bg-white shadow rounded-lg"
            id="rateofservice"
          >
            <div class="flex self-stretch items-center justify-between p-3">
              <div class="text-base tracking-wide leading-normal text-center text-gray-700">
                Rate of service
              </div>
              <div class="flex items-center justify-start pr-2 border rounded-lg border-gray-500">
                <div class="flex flex-1 items-start justify-start px-4 py-2 rounded-lg">
                  <div class="text-sm font-medium tracking-wide leading-tight text-gray-600">
                    by years
                  </div>
                </div>
                <img
                  src="/fimgs/1417_2219.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-c4e54028b75dfc1576ddca1dbb03337aa7e664d1');background-size:100% 100%;background-repeat:no-repeat;"
                />
              </div>
            </div>
            <hr class=" w-full pt-4 pb-4"></hr>
            <div class="mx-auto">
              <div>
                <doghnutchart-ros />
              </div>
            </div>
            <div />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>
    </div>
  </div>
</>