<>
  <effect
    meta={{
      tabActive: "home",
      async onClickTab(tab) {
        runInAction(() => {
          this.tabActive = tab;
        });
      },
    }}
    run={async ({}) => {}}
  />
  <div class="flex flex-1 self-stretch flex-col items-start justify-start">
    <div
      class="navbar flex self-stretch items-center justify-center px-6 py-3 bg-red-900 fixed top-0 shadow   "
      style="--f7-navbar-bg-color: red-900"
    >
      <div class="flex self-stretch items-center justify-start">
        <img
          src="/fimgs/I1484_2010_1467_1974.x3.png"
          style="width: 106.92px; height: 35px; "
        />
      </div>
    </div>
    <div />
    {/**/}

    <m-page class="flex self-stretch items-start justify-start h-stretch ">
      {children}
    </m-page>
    <m-toolbar
      class="flex self-stretch items-start justify-between px-6 bg-white shadow fixed bottom-0  "
      style="height:75px;"
    >
      <m-link
        class={`flex flex-1 flex-col items-center justify-center`}
        tabLink="#dashboard"
        onClick={(e) => meta.onClickTab("dashboard")}
        tabLinkActive={meta.tabActive === "dashboard"}
      >
        {meta.tabActive === "dashboard" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-red-900">
            <img
              src="/fimgs/I1484_2420_1484_2125.x3.png"
              style={`width: 30px; height: 30px; `}
            />
            Home
          </div>
        )}
        {meta.tabActive !== "dashboard" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-gray-400">
            <img
              src="/fimgs/I1484_2483_1484_2229.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            Home
          </div>
        )}
      </m-link>

      <m-link
        class={`flex flex-1 flex-col items-center justify-center`}
        tabLink="#ticket"
        onClick={(e) => meta.onClickTab("ticket")}
        tabLinkActive={meta.tabActive === "ticket"}
      >
        {meta.tabActive === "ticket" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-red-900">
            <img
              src="/fimgs/I1484_2294_1484_2213.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            Ticket
          </div>
        )}
        {meta.tabActive !== "ticket" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-gray-400">
            <img
              src="/fimgs/I1484_2483_1484_2198.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            Ticket
          </div>
        )}
      </m-link>
      <m-link
        class={`flex flex-1 flex-col items-center justify-center`}
        tabLink="#create"
        onClick={(e) => meta.onClickTab("create")}
        tabLinkActive={meta.tabActive === "create"}
      >
        {meta.tabActive === "create" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-red-900">
            <img
              src="/fimgs/I1484_2378_1484_2233.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            Create
          </div>
        )}
        {meta.tabActive !== "create" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-gray-400">
            <img
              src="/fimgs/I1484_2441_1484_2181.x3.png"
              style={`width: 30px; height: 30px; `}
            />
            Create
          </div>
        )}
      </m-link>

      <m-link
        class={`flex flex-1 flex-col items-center justify-center`}
        tabLink="#news"
        onClick={(e) => meta.onClickTab("news")}
        tabLinkActive={meta.tabActive === "news"}
      >
        {meta.tabActive === "news" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-red-900">
            <img
              src="/fimgs/I1484_2441_1484_2246.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            News
          </div>
        )}
        {meta.tabActive !== "news" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-gray-400">
            <img
              src="/fimgs/I1484_2483_1484_2205.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            News
          </div>
        )}
      </m-link>

      <m-link
        class={`flex flex-1 flex-col items-center justify-center`}
        tabLink="#profile"
        onClick={(e) => meta.onClickTab("profile")}
        tabLinkActive={meta.tabActive === "profile"}
      >
        {meta.tabActive === "profile" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-red-900">
            <img
              src="/fimgs/I1484_2483_1484_2249.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            Profile
          </div>
        )}
        {meta.tabActive !== "profile" && (
          <div class="flex flex-col items-center justify-center pl-4 text-xs font-medium tracking-wide leading-none text-gray-400">
            <img
              src="/fimgs/I1484_2420_1484_2117.x1.png"
              style={`width: 30px; height: 30px; `}
            />
            Profile
          </div>
        )}
      </m-link>
    </m-toolbar>
  </div>
</>