<>
  <effect
    meta={{}}
    run={async () => {
      meta.action = {
        cancel: (e) => {
          window.location.replace("/view-profile");
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-center justify-start bg-white">
      <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start px-6 py-4">
        <div class="flex self-stretch items-start justify-start">
          <div class="flex flex-1 items-start justify-start p-2.5">
            <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
              PROFILE - CHANGE PASSWORD
            </div>
          </div>
        </div>
        <div class="flex flex-1 self-stretch flex-col items-center justify-center">
          <div class="flex flex-col space-y-3 items-center justify-center px-6 pt-2 pb-6 bg-white shadow rounded-lg">
            <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
              CHANGE YOUR PASSWORD
            </div>
            <div class="flex flex-col space-y-8 items-start justify-start">
              <div class="flex items-start justify-start">
                <div class="flex flex-col space-y-2 items-start justify-start">
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex items-start justify-start p-2.5">
                      <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                        Current Password
                      </div>
                    </div>

                    <div class="relative text-gray-600 focus-within:text-gray-400">
                      <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                        <button
                          type="submit"
                          class="p-1 focus:outline-none focus:shadow-outline"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                          </svg>
                        </button>
                      </span>
                      <input
                        type="password"
                        // value={meta.jenis_ticket}
                        // onChange={(e) => meta.action.jenisTicketChange(e)}
                        style="width: 480px; min-width: 480px; max-width: 480px;"
                        class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                      />
                    </div>

                    {/*<div class="flex flex-col items-start justify-start">*/}
                    {/*<input*/}
                    {/*type="password"*/}
                    {/*// value={meta.jenis_ticket}*/}
                    {/*// onChange={(e) => meta.action.jenisTicketChange(e)}*/}
                    {/*style="width: 480px; min-width: 480px; max-width: 480px;"*/}
                    {/*class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"*/}
                    {/*/>*/}
                    {/*<svg*/}
                    {/*xmlns="http://www.w3.org/2000/svg"*/}
                    {/*width="24"*/}
                    {/*height="24"*/}
                    {/*viewBox="0 0 24 24"*/}
                    {/*>*/}
                    {/*<path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />*/}
                    {/*</svg>*/}
                    {/*</div>*/}

                    {/*<i class="fas fa-eye"></i>*/}

                    {/*<img*/}
                    {/*src="/fimgs/I1026_2112_196_154.x1.svg"*/}
                    {/*style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;"*/}
                    {/*/>*/}
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex items-start justify-start p-2.5">
                      <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                        New Password
                      </div>
                    </div>
                    <div class="relative text-gray-600 focus-within:text-gray-400">
                      <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                        <button
                          type="submit"
                          class="p-1 focus:outline-none focus:shadow-outline"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                          </svg>
                        </button>
                      </span>
                      <input
                        type="password"
                        // value={meta.jenis_ticket}
                        // onChange={(e) => meta.action.jenisTicketChange(e)}
                        style="width: 480px; min-width: 480px; max-width: 480px;"
                        class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                      />
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex items-start justify-start p-2.5">
                      <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                        Confirm New Password
                      </div>
                    </div>
                    <div class="relative text-gray-600 focus-within:text-gray-400">
                      <span class="absolute inset-y-0 right-0 flex items-center pr-4">
                        <button
                          type="submit"
                          class="p-1 focus:outline-none focus:shadow-outline"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                          </svg>
                        </button>
                      </span>
                      <input
                        type="password"
                        // value={meta.jenis_ticket}
                        // onChange={(e) => meta.action.jenisTicketChange(e)}
                        style="width: 480px; min-width: 480px; max-width: 480px;"
                        class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500 text-lg tracking-wide leading-relaxed text-gray-700"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class=" flex flex- items-start justify-start ">
                <div
                  class="flex space-x-3 items-start justify-end"
                  style="width: 480px; min-width: 480px; max-width: 480px;"
                >
                  <button
                    class="flex items-center justify-center px-4 py-2 shadow border rounded-lg border-gray-500"
                    onClick={() => {
                      meta.action.cancel();
                    }}
                  >
                    <div class="text-base font-medium tracking-wide leading-normal text-gray-700">
                      Cancel
                    </div>
                  </button>
                  <button
                    class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-lg"
                    onClick={() => {
                      alert("dfdgg");
                    }}
                  >
                    <img
                      src="/fimgs/54_175.x1.svg"
                      style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;background-image: url('/fimgs/bg-4b5f4d54397127c487748990b6bb3cb4f5610492');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                    <div class="text-base font-medium tracking-wide leading-normal text-white">
                      Save Changes
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-center px-2 py-1 bg-gray-50">
        <div class="text-xs tracking-wide leading-none text-gray-500">
          © 2021. Crafted by ANDROMEDIA INTERNSHIP TEAM - 2
        </div>
      </div>
    </div>
  </div>
</>