<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-gray-50">
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
      <div class="flex flex-1 self-stretch items-start justify-start pt-6">
        <div class="flex flex-1 self-stretch flex-col items-center justify-start">
          <div
            class="flex w-stretch flex-col space-y-6 items-start justify-start px-6 py-4"
            style="width: 1440px; min-width: 1440px; max-width: 1440px;"
          >
            <div
              class="flex w-stretch h-stretch flex-col items-center justify-center"
              style="width: 1392px; min-width: 1392px; max-width: 1392px;"
            >
              <div
                class="flex self-stretch items-start justify-start"
                style="width: 1392px; min-width: 1392px; max-width: 1392px;"
              >
                <div class="flex flex-1 items-start justify-start p-2.5">
                  <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                    PROFILE - CHANGE PASSWORD
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col w-stretch space-y-3 items-center justify-center px-6 pt-2 pb-6 bg-white shadow rounded-lg"
                style="width: 528px; min-width: 528px; max-width: 528px; height: 435px; min-height: 435px; max-height: 435px;"
              >
                <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                  CHANGE YOUR PASSWORD
                </div>
                <div
                  class="flex flex-col space-y-8 items-start justify-start"
                  style="width: 480px; min-width: 480px; max-width: 480px; height: 361px; min-height: 361px; max-height: 361px;"
                >
                  <div class="flex items-start justify-start">
                    <div class="flex flex-col space-y-2 items-start justify-start">
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Current Password
                          </div>
                        </div>
                        <div
                          class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500"
                          style="width: 480px; min-width: 480px; max-width: 480px;"
                        >
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            9majujaya
                          </div>
                          <div class="flex items-start justify-start p-1 bg-white rounded-tr-lg rounded-br-lg">
                            <div style="background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            New Password
                          </div>
                        </div>
                        <div
                          class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500"
                          style="width: 480px; min-width: 480px; max-width: 480px;"
                        >
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            majujaya123
                          </div>
                          <div class="flex items-start justify-start p-1 bg-white rounded-tr-lg rounded-br-lg">
                            <div style="background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Confirm New Password
                          </div>
                        </div>
                        <div
                          class="flex items-center justify-between py-2 pl-5 pr-2.5 border rounded-lg border-gray-500"
                          style="width: 480px; min-width: 480px; max-width: 480px;"
                        >
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            majujaya123
                          </div>
                          <div class="flex items-start justify-start p-1 bg-white rounded-tr-lg rounded-br-lg">
                            <div style="background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                      <div class=" flex flex- items-start justify-start pt-2">
                        <div
                          class="flex space-x-3 items-start justify-end"
                          style="width: 480px; min-width: 480px; max-width: 480px;"
                        >
                          <div class="flex items-center justify-center px-4 py-2 shadow border rounded-lg border-gray-500">
                            <div class="text-base font-medium tracking-wide leading-normal text-gray-700">
                              Cancel
                            </div>
                          </div>
                          <div class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-lg">
                            <img
                              src="/fimgs/54_175.x1.svg"
                              style="width: 11.25px; min-width: 11.25px; max-width: 11.25px; height: 15px; min-height: 15px; max-height: 15px;background-image: url('/fimgs/bg-4b5f4d54397127c487748990b6bb3cb4f5610492');background-size:100% 100%;background-repeat:no-repeat;"
                            />
                            <div class="text-base font-medium tracking-wide leading-normal text-white">
                              Save Changes
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-center px-2 py-1 bg-white">
        <div class="text-xs tracking-wide leading-none text-gray-500">
          © 2021. Crafted by ANDROMEDIA INTERNSHIP TEAM - 2
        </div>
      </div>
    </div>
  </div>
</>