<>
  <effect
    meta={{
      ticketType: [],
      namaClient: "",
      id_client: 0,
      id_jenis_ticket: 0,
      judul_ticket: "",
      deskripsi_ticket: "",
      attachment: "",
      id_vendor: 0,
      vendor: {},
      id_notif: 0,

      validationCheck() {
        this.message =
          this.id_jenis_ticket === "" ||
          this.id_jenis_ticket === null ||
          this.id_jenis_ticket === 0
            ? "Your ticket type is empty. Make sure all forms are filled and try again."
            : this.judul_ticket === "" || this.judul_ticket === null
            ? "Your ticket subject is empty. Make sure all forms are filled and try again."
            : this.deskripsi_ticket === "" || this.deskripsi_ticket === null
            ? "Your text is empty. Make sure all forms are filled and try again."
            : false;
        return this.message;
      },

      async upload(file) {
        const formData = _FormData();

        formData.append("path", "attachment");
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },
    }}
    run={async () => {
      meta.namaClient = user.dataUser.nama_client;
      meta.id_client = user.dataUser.id_client;
      meta.id_vendor = user.dataUser.id_vendor;
      let modal = document.getElementById("my-modal");
      let success = document.getElementById("my-success");
      let loading = document.getElementById("my-loading");
      let initiate = document.getElementById("my-initiate");
      let failed = document.getElementById("my-failed");
      //meta.ticketType = await api("/api/get-jenis");
      modal.style.display = "block";
      initiate.style.display = "block";
      meta.vendor = await db.vendor.findUnique({
        where: {
          id_vendor: meta.id_vendor,
        },
      });
      meta.id_notif = meta.vendor.id_user;
      await api("/api/get-jenis").then((e) => {
        modal.style.display = "none";
        initiate.style.display = "none";
        meta.ticketType = e;
      });
      meta.action = {
        ticketTypeChange: (e, f) => {
          runInAction(() => {
            meta.id_jenis_ticket = parseInt(e);
            console.log(meta.id_jenis_ticket);
          });
        },
        judulTicketChange: (e) => {
          runInAction(() => {
            meta.judul_ticket = e.target.value;
            console.log(meta.judul_ticket);
          });
        },
        deskripsiTicketChange: (e) => {
          runInAction(() => {
            meta.deskripsi_ticket = e.target.value;
            console.log(meta.deskripsi_ticket);
          });
        },
        attachmentChange: (e) => {
          runInAction(() => {
            meta.attachment = e.target.value;
            console.log(meta.attachment);
          });
        },
        tryAgain: () => {
          runInAction(() => {
            modal.style.display = "none";
            failed.style.display = "none";
          });
        },
        addData: (e) => {
          let error_msg = meta.validationCheck();
          modal.style.display = "block";
          if (error_msg) {
            failed.style.display = "block";
          } else {
            loading.style.display = "block";
            api("/api/ticket-data/add", {
              judul_ticket: meta.judul_ticket,
              deskripsi_ticket: meta.deskripsi_ticket,
              tanggal_masuk: new Date(),
              attachment: meta.attachment,
              id_jenis_ticket: meta.id_jenis_ticket,
              id_status_ticket: 1,
              id_client: meta.id_client,
              id_vendor: meta.id_vendor,
              id_notif: meta.id_notif,
            }).then((e) => {
              console.log(e);
              if (e.status == "SUCCESS") {
                loading.style.display = "none";
                success.style.display = "block";
                navigate("/ticket-data");
              } else {
                modal.style.display = "none";
                loading.style.display = "none";
                console.log(e);
              }
            });
          }
        },
      };
    }}
  />
  <div class="flex flex-col items-center space-y-5 m-6 h-full justify-start bg-gray-50">
    <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow rounded-lg px-6">
      <div class="flex self-stretch items-center justify-between">
        <div class="flex items-start justify-start">
          <div class="text-lg font-bold tracking-wide leading-loose  text-gray-800">
            MY TICKET - OPEN TICKET
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-1 flex-col w-full items-start justify-start py-6 bg-white shadow rounded-lg px-6">
      <div class="text-lg font-bold tracking-wide leading-loose pb-2 text-center text-gray-800 ">
        Ticket Information
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="flex flex-col space-y-4 w-full items-center md:space-y-0 md:flex-row md:space-x-6 justify-start ">
        <div class="flex flex-col self-stretch items-start justify-start space-y-3 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Name
          </div>
          <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
            <input
              class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-gray-200 rounded-lg text-sm text-gray-600 tracking-widest border border-gray-500"
              id="username"
              type="text"
              value={meta.namaClient}
              readOnly
            />
          </div>
        </div>
        <div class="flex flex-col self-stretch items-start justify-start space-y-3 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Ticket Type
          </div>
          <div class="inline-block relative w-full">
            <div class="flex flex-col w-full items-center justify-start leading-tight focus:outline-none focus:bg-white ">
              <select
                name="id_jenis_ticket"
                class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 mr-4 bg-white rounded-lg text-sm text-gray-600 tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
                onChange={(e) => {
                  meta.action.ticketTypeChange(
                    e.target.value,
                    "id_jenis_ticket"
                  );
                }}
              >
                <option key="" value="">
                  Select ticket type ...
                </option>
                {meta.ticketType?.data?.map((p) => (
                  <option key={p.id_jenis_ticket} value={p.id_jenis_ticket}>
                    {p.jenis_ticket}
                  </option>
                ))}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-1 flex-col w-full items-start justify-start py-6 bg-white shadow rounded-lg px-6">
      <div class="text-lg font-bold tracking-wide leading-loose pb-2 text-center text-gray-800 ">
        Message
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="flex flex-col space-y-4 w-full items-center justify-start ">
        <div class="flex flex-col self-stretch items-start justify-start space-y-3 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Subject
          </div>
          <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
            <input
              class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-white rounded-lg text-sm text-gray-600 tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline"
              type="text"
              value={meta.judul_ticket}
              onChange={(e) => meta.action.judulTicketChange(e)}
              placeholder="Ticket Subject"
            />
          </div>
        </div>
        <div class="flex flex-col self-stretch items-start justify-start space-y-3 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Message
          </div>
          <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
            <textarea
              class="flex self-stretch items-center font-medium w-full justify-start py-2 pl-4 pr-5 bg-white rounded-lg text-sm text-gray-600 tracking-widest focus:border-gray-500 border border-gray-500 focus:outline-none focus:shadow-outline h-48"
              placeholder="Enter Your Text Here"
              value={meta.deskripsi_ticket}
              onChange={(e) => meta.action.deskripsiTicketChange(e)}
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-1 flex-col w-full items-start justify-start py-6 bg-white shadow rounded-lg px-6">
      <div class="text-lg font-bold tracking-wide leading-loose pb-2 text-center text-gray-800 ">
        Attachment
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="flex flex-col space-y-4 w-full items-center justify-start ">
        <div class="flex flex-col self-stretch items-start justify-start space-y-3 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Subject
          </div>
          <dropify
            type={`file`}
            class={`flex self-stretch flex-col space-y-2.5 items-center justify-center p-4 bg-white border rounded border-gray-400 dropify`}
            style={`height: 210px; min-height: 210px; max-height: 210px;`}
            data-max-file-size={`3M`}
            data-allowed-file-extensions={"png jpg jpeg gif pdf zip csv"}
            onChange={(e) => {
              runInAction(async () => {
                const upload = await meta.upload(e.target.files[0]);
                runInAction(() => {
                  console.log(upload.path);
                  meta.attachment = upload.path;
                });
              });
            }}
          />
          <div class="text-sm tracking-wide leading-relaxed ">
            Allowed File Extensions: .jpg, .gif, .jpeg, .png, .pdf, .zip, .csv
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-6 items-center pt-4 pb-8">
      <button
        class="flex space-x-3 shadow items-center border border-gray-400 justify-center px-6 py-2 bg-white rounded-full"
        style="width: 150px;"
        onClick={() => {
          navigate("/ticket-data");
        }}
      >
        <div class="text-sm font-medium tracking-wide leading-relaxed bg-white">
          Cancel
        </div>
      </button>

      <button
        class="flex space-x-3 items-center justify-center border border-red-900 px-6 py-2 bg-red-900 shadow rounded-full"
        style="width: 150px;"
        onClick={() => {
          meta.action.addData();
        }}
      >
        <div class=" flex space-x-3 items-center justify-center text-sm font-medium text-white">
          <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
            Create Ticket
          </div>
        </div>
      </button>
    </div>
  </div>
  <div
    class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    id="my-modal"
  >
    <div class="relative top-48 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div id="my-success" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full bg-red-100">
          <svg
            class="h-10 w-10 text-red-900"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">Data has been successfully added!</p>
        </div>
      </div>
      <div id="my-loading" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Processing ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the saving process
          </p>
        </div>
      </div>
      <div id="my-initiate" class="mt-6 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
          <div class="loader ease-linear rounded-full border-5 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        </div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Loading data ...
        </h3>
        <div class="mt-2 px-3 py-3">
          <p class="text-sm text-gray-500">
            Please wait a moment for the loading data
          </p>
        </div>
      </div>
      <div id="my-failed" class="mt-3 hidden text-center">
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full">
          <svg
            class="h-24 w-24 text-red-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 14L12 12M12 12L14 10M12 12L10 10M12 12L14 14M21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4442 20.3149C14.3522 20.7672 13.1819 21 12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 9.61305 3.94821 7.32387 5.63604 5.63604C7.32387 3.94821 9.61305 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="text-lg leading-6 font-medium text-red-600">
          Failed to Save
        </h3>
        <div class="mt-3 px-3 py-3">
          <p class="text-sm text-gray-500">{meta.message}</p>
        </div>
        <div class="px-3 py-2">
          <button
            onClick={() => {
              meta.action.tryAgain();
            }}
            class="flex items-center w-full justify-center bg-red-900 shadow rounded-2xl"
          >
            <div class="text-base px-4 py-1 font-medium tracking-wide leading-relaxed text-white">
              I'm understand, try again
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</>