<div class="flex flex-col items-center m-6 h-full justify-start bg-gray-50">
  <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
    <div class="flex self-stretch space-x-4 items-center justify-start bg-white shadow ">
      <img
        src="/fimgs/585_1268.x1.svg"
        class="transform rotate-180"
        style=" max-width: 60px; max-height: 60px;background-image: url('/fimgs/bg-fb1910df1029f20b110a9988c1936352f60a74c4');background-size:100% ;"
      />
      <div class="text-2xl font-medium tracking-wide leading-loose text-center text-gray-800">
        MY TICKET - OPEN TICKET
      </div>
    </div>
    <div class="flex flex-col self-stretch  items-start justify-start bg-white shadow px-4 py-3">
      <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800 ">
        Ticket Information
      </div>
      <br />
      <div class="flex  w-full items-center justify-start ">
        <div class="flex flex-col self-stretch items-start justify-start space-y-6 mr-6 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Name
          </div>

          <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline  border rounded-lg border-gray-500"
              id="username"
              type="text"
              placeholder="Han Solo"
            />
          </div>
        </div>

        <div class="flex flex-col self-stretch items-start justify-start space-y-6 mr-6 w-full">
          <div class="flex items-center  justify-start text-md text-gray-800">
            Ticket Type
          </div>

          <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline rounded-lg border-gray-500">
              <option>Administration Request</option>
              <option>Maintenance Ticket</option>
              <option>Complain and Sugestion</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col self-stretch  items-start justify-start bg-white shadow px-4 py-3">
      <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800 ">
        Message
      </div>
      <br />

      <div class="flex flex-col self-stretch items-start justify-start space-y-6 mr-6 w-full">
        <div class="flex items-center  justify-start text-md text-gray-800">
          Subject
        </div>

        <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded-lg border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="username"
            type="text"
            placeholder="Lorem Ipsum"
          />
        </div>
      </div>
      <br />
      <div class="flex flex-col self-stretch items-start justify-start space-y-6 mr-6 w-full">
        <div class="flex items-center  justify-start text-md text-gray-800">
          Message
        </div>

        <div class="flex flex-col w-full items-center justify-start border-px-3 leading-tight focus:outline-none focus:bg-white ">
          <textarea
            class="flex self-stretch text-gray-600 w-full h-48 items-center justify-start py-2 pl-4 pr-5  border rounded-lg border-gray-500 text-sm "
            placeholder="Enter Your Text Here"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-col space-y-6 w-full h-full items-center justify-start">
      <div class="flex self-stretch items-start justify-start px-5">
        <div class="flex flex-1 items-center justify-start ">
          <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
            Department Name
          </div>
          <input
            type="text"
            value={meta.nama_department}
            onChange={(e) => meta.action.namaDepartmentChange(e)}
            class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
            placeholder="type your department name here ..."
          />
        </div>
      </div>
      <div class="flex self-stretch items-start justify-start px-5">
        <div class="flex flex-1 items-start justify-start ">
          <div class="flex items-start w-48 justify-start font-bold text-md text-gray-800">
            Description
          </div>
          <textarea
            value={meta.deskripsi}
            onChange={(e) => meta.action.deskripsiChange(e)}
            class="flex self-stretch text-gray-600 w-full h-48 items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
            placeholder="type your department description here ..."
          />
        </div>
      </div>
      <button
        onClick={() => {
          meta.action.addData();
        }}
        class="flex space-x-3 items-center justify-center px-6 py-2 bg-red-900 shadow rounded-xl"
        style="max-width: 200px;"
      >
        <img
          src="/fimgs/460_875.x1.svg"
          style=" max-width: 15px; max-height: 20px;"
        />
        <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
          Create New
        </div>
      </button>
    </div>
  </div>
</div>