<>
  <effect meta={{}} run={async () => {}} />
  {/*<div class="flex  flex-col items-start justify-start bg-gray-50">*/}
  <div class="flex flex-1 self-stretch flex-col items-start justify-start">
    <div
      class="navbar flex self-stretch items-center justify-center px-6 py-3 bg-red-900  shadow   "
      style="--f7-navbar-bg-color: red-900"
    >
      <div class="flex self-stretch items-center justify-start">
        <img
          src="/fimgs/I1484_2010_1467_1974.x3.png"
          style="width: 106.92px; height: 35px; "
        />
      </div>
    </div>

    <m-page class="flex self-stretch items-start justify-start h-stretch ">
      {children}
    </m-page>
  </div>
</>