<div class="flex self-stretch flex-col items-start justify-start">
  <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
    <div class="flex self-stretch items-start justify-start pt-6">
      <div class="flex flex-1 flex-col items-center justify-start">
        <div class="flex self-stretch items-start justify-start px-6">
          <div class="flex flex-1 flex-col space-y-3 items-start justify-start px-6 pb-12 bg-white shadow rounded-lg">
            <div class="flex self-stretch items-start justify-start">
              <div class="flex flex-1 items-start justify-start p-2.5">
                <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
                  EDIT PROFILE
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-9 items-start justify-start">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                  <div class="flex self-stretch space-x-14 items-start justify-start">
                    <div class="flex items-center justify-center shadow">
                      <div
                        class="flex flex-1 self-stretch flex-col items-center justify-center p-2.5 rounded-full"
                        style="background-image: url('/fimgs/bg-567b3d8e1b328d8d781dd29aca7dfc8acc335b4d');background-size:100% 100%;background-repeat:no-repeat;"
                      >
                        <div class="flex items-center justify-center opacity-80 p-3 border-4 rounded-full border-white">
                          <div style="background-image: url('/fimgs/bg-a1dda3eda2145d7fb0367f90140e7f6b164d712c');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-1 flex-col items-start justify-start">
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Display Name
                          </div>
                        </div>
                        <div class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            Jhon Doe
                          </div>
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Email
                          </div>
                        </div>
                        <div class="flex items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            service@majujaya.com
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start p-2.5">
                    <div class="border-gray-500" />
                  </div>
                  <div class="flex self-stretch space-x-6 items-start justify-start pl-60">
                    <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Username
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            majujaya9
                          </div>
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Password
                          </div>
                        </div>
                        <div class="flex self-stretch space-x-2.5 items-center justify-start py-2 pl-5 pr-2.5 bg-gray-300 border rounded-lg border-gray-500">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            9majujaya
                          </div>
                          <div class="flex items-start justify-start p-1 rounded-tr-lg rounded-br-lg">
                            <div style="background-image: url('/fimgs/bg-6130b0b2d196028c462a76cb07bc8cb599a2bc89');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Company
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            PT. Maju Jaya
                          </div>
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start p-2.5">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-500">
                            Phone
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start py-2 pl-5 pr-2.5 border rounded-lg border-gray-500">
                          <div class="text-lg tracking-wide leading-relaxed text-gray-700">
                            089831548197
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex space-x-3 items-start justify-center">
                <div class="flex items-center justify-center px-4 py-2 shadow border rounded-lg border-gray-500">
                  <div class="text-base font-medium tracking-wide leading-normal text-gray-700">
                    Cancel
                  </div>
                </div>
                <div class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-lg">
                  <div style="background-image: url('/fimgs/bg-4b5f4d54397127c487748990b6bb3cb4f5610492');background-size:100% 100%;background-repeat:no-repeat;" />
                  <div class="text-base font-medium tracking-wide leading-normal text-white">
                    Save Changes
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch items-start justify-center px-2 py-1 bg-white">
      <div class="text-xs tracking-wide leading-none text-gray-500">
        © 2021. Crafted by ANDROMEDIA INTERNSHIP TEAM - 2
      </div>
    </div>
  </div>
</div>