<>
  <effect
    meta={{
      id_vendor: 0,
      nama_client: "",
      nomor_client: "",
      email_client: "",
      lokasi_client: "",
    }}
    run={async () => {
      meta.id_vendor = window.user.dataUser.id_vendor;
      console.log(meta.id_vendor);
      meta.action = {
        namaClientChange: (e) => {
          runInAction(() => {
            meta.nama_client = e.target.value;
            console.log(meta.nama_client);
          });
        },
        nomorClientChange: (e) => {
          runInAction(() => {
            meta.nomor_client = e.target.value;
            console.log(meta.nomor_client);
          });
        },
        emailClientChange: (e) => {
          runInAction(() => {
            meta.email_client = e.target.value;
            console.log(meta.email_client);
          });
        },
        lokasiClientChange: (e) => {
          runInAction(() => {
            meta.lokasi_client = e.target.value;
            console.log(meta.lokasi_client);
          });
        },
        addData: (e) => {
          api("/api/client-data/add", {
            id_vendor: meta.id_vendor,
            nama_client: meta.nama_client,
            email_client: meta.email_client,
            lokasi_client: meta.lokasi_client,
            nomor_client: meta.nomor_client,
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              window.location.replace("/client-data");
            } else {
              console.log(e);
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start m-6 h-full justify-start bg-gray-50">
    <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
      <div class="flex self-stretch items-center justify-between">
        <div class="flex items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
            CLIENT DATA - CREATE DATA
          </div>
        </div>
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="flex flex-col space-y-6 w-full h-full items-center justify-start">
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-center justify-start ">
            <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
              Name
            </div>
            <input
              type="text"
              value={meta.nama_client}
              onChange={(e) => meta.action.namaClientChange(e)}
              class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your name here ..."
            />
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-center justify-start ">
            <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
              Company
            </div>
            <input
              type="text"
              value={meta.lokasi_client}
              onChange={(e) => meta.action.lokasiClientChange(e)}
              class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your company name here ..."
            />
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-center justify-start ">
            <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
              Email
            </div>
            <input
              type="text"
              value={meta.email_client}
              onChange={(e) => meta.action.emailClientChange(e)}
              class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your company email here ..."
            />
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-center justify-start ">
            <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
              Phone
            </div>
            <input
              type="text"
              value={meta.nomor_client}
              onChange={(e) => meta.action.nomorClientChange(e)}
              class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your company phone here ..."
            />
          </div>
        </div>
        <button
          onClick={() => {
            meta.action.addData();
          }}
          class="flex space-x-3 items-center justify-center px-6 py-2 bg-red-900 shadow rounded-xl"
          style="max-width: 200px;"
        >
          <img
            src="/fimgs/460_875.x1.svg"
            style=" max-width: 15px; max-height: 20px;"
          />
          <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
            Create New
          </div>
        </button>
      </div>
    </div>
  </div>
</>