<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start m-6 h-full justify-start bg-gray-50">
    <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
      <div class="flex self-stretch items-center justify-between">
        <div class="flex items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
            TICKET TYPE
          </div>
        </div>
        <button
          class="flex space-x-3 items-center justify-center px-4 py-2 bg-red-900 shadow rounded-xl"
          onClick={() => {
            navigate("/jenis-data/add");
          }}
        >
          <img
            src="/fimgs/460_875.x1.svg"
            style=" max-width: 15px; max-height: 20px;"
          />
          <span class="text-sm font-medium tracking-wide leading-relaxed text-white">
            Create New
          </span>
        </button>
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="w-full">
        <tabeljenis />
      </div>
    </div>
  </div>
</>